django
django-jenkins
south
vectorformats
psycopg2
simplejson
openpyxl==1.5.8
xlrd
pysolr
pep8
mox
python-dateutil
-e git+https://github.com/toastdriven/django-haystack.git@master#egg=django-haystackvim
