pysftp
django==1.4.1
django-jenkins
south
vectorformats
psycopg2
simplejson
openpyxl==1.5.8
xlrd
pysolr
pep8
mox
mock
python-dateutil
django_coverage
django-userena
django-nose
python-memcached
django-memcached
django-tastypie
django-orm-extensions
