{% extends "base-notoolbar.html" %}

{% block content %}

    <ul id="myTab" class="nav nav-tabs">
      <li><a href="#login" data-toggle="tab">Login</a></li>
      <li><a href="#create" data-toggle="tab">I need an account</a></li>
    </ul>
    
    <div class="tab-content">
      <div class="tab-pane fade in active" id="login">
      	{% if form.errors %}
        	<p>Your username and password didn't match. Please try again.</p>
        {% endif %}
        
        <form action="{% url django.contrib.auth.views.login %}" method="post">
        	{% csrf_token %}
        
            <div class="control-group">
                {{ form.username.label_tag }}
                <div class="controls">
                    {{ form.username }}
                </div>
            </div>
        
            <div class="control-group">
                {{ form.password.label_tag }}
                <div class="controls">
                    {{ form.password }}
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <input type="submit" value="login" />
                    <!-- referer might be better done from view.py. this works for now-->
                    <input type="hidden" name="next" value="{{ request.META.HTTP_REFERER }}" />
                </div>
            </div>
        
        </form>
	      
      </div>
      <div class="tab-pane fade in " id="create">
      	<p>make a new one!</p>
      </div>
    </div>
​
	<script type="text/javascript">
		$('#myTab a').click(function(e) {
		    $(this).tab('show');
		})
	</script>
{% endblock %}
