/**********************************************************************************************************************
 * Style cl-info-inline
 **********************************************************************************************************************/
.cl-info-inline {overflow: auto;}
.cl-info-inline .claction {margin: 0 0 0 5px; padding: 0;}
.cl-info-inline .clactionitem {}
.cl-info-inline .clinfo {margin: 0 0 0 5px; padding: 0;}
.cl-info-inline .clinfoitem {}
.cl-info-inline .clcreation {margin-left: 10px;font-size: 10px;font-style: italic;color: #6b6b6b;}
.cl-info-inline .cldescription {padding-top: 5px; font-style: italic; display: inline-block; width: 100%;color: #747474;}
.cl-info-inline .clname {font-size: 16px; font-weight: bold;}
.cl-info-inline .clselect {}

/**********************************************************************************************************************
 * Style cl-info-inline
 **********************************************************************************************************************/
.cl-info-navbar {overflow: auto;}
.cl-info-navbar .claction {margin: 0 0 0 5px; padding: 0;}
.cl-info-navbar .clactionitem {padding: 1px;background-color: #e9e9e9; border: solid 1px #ccc;}
.cl-info-navbar .clinfo {margin: 0 0 0 5px; padding: 0;}
.cl-info-navbar .clinfoitem {}
.cl-info-navbar .clcreation {margin-left: 10px;font-size: 10px;font-style: italic;color: #6b6b6b;}
.cl-info-navbar .cldescription {padding-top: 5px; font-style: italic; display: inline-block; width: 100%;color: #747474;}
.cl-info-navbar .clname {font-size: 16px; font-weight: bold;}
.cl-info-navbar .clselect {}

/**********************************************************************************************************************
 * Style cl-nested-list
 **********************************************************************************************************************/
.cl-nested-list ul.list-main{list-style: none;margin: 0;padding: 0;}
.cl-nested-list .claction {margin: 0 0 0 5px; padding: 0;}
.cl-nested-list .clactionitem {}
.cl-nested-list .clinfo {margin: 0 0 0 5px; padding: 0;}
.cl-nested-list .clinfoitem {}
.cl-nested-list .clcreation {margin-left: 10px;font-size: 10px;font-style: italic;color: #6b6b6b;}
.cl-nested-list .cldescription {width: 100%;font-style: italic;display: inline-block;color: #747474;font-size: 12px;}
.cl-nested-list .clname {font-size: 16px; font-weight: bold;}
.cl-nested-list .clselect {margin-right: 5px;}

.cl-nested-list ul.list-main .list-toggle {cursor: pointer;}
.cl-nested-list ul.list-sub {list-style: none; margin: 15px 0 10px 0;padding: 10px;}
.cl-nested-list ul.list-main > li, .cl-nested-list ul.list-sub > li {padding: 3px;margin-bottom: 5px;}
.cl-nested-list ul.list-main li.parent {}
.cl-nested-list ul.list-main li .cllistctrl {
    background-image: url('http://code.stephenmorley.org/javascript/collapsible-lists/button.png');
    background-position: 5px 13px;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    padding:10px;
}
.cl-nested-list ul.list-main > li.parent > .cllistctrl {
    background-image: url('http://code.stephenmorley.org/javascript/collapsible-lists/button-closed.png');
}
.cl-nested-list ul.list-main .clactions ul.dropdown-menu {  /* Make DataTasks menu align to the right*/
    left: auto;
    right: 0;
    text-align: left;
}








/**********************************************************************************************************************
 * Other
 **********************************************************************************************************************/
a {cursor: pointer;}
.clinfoitem_green {background-color: #00b800;}
.clinfoitem_red {background-color: #ff0000;}




/*a:hover {*/
    /*text-decoration: underline;*/
/*}*/



/*
ul.list-main li{
    list-style-image:url('http://code.stephenmorley.org/javascript/collapsible-lists/button.png');
    cursor:auto;
}

li.list-mainOpen{
    list-style-image:url('http://code.stephenmorley.org/javascript/collapsible-lists/button-open.png');
    cursor:pointer;
}

li.list-mainClosed{
    list-style-image:url('http://code.stephenmorley.org/javascript/collapsible-lists/button-closed.png');
    cursor:pointer;
}

.treeView{
    -moz-user-select:none;
    position:relative;
}

.treeView {
    margin:0 0 0 -1.5em;
    padding:0 0 0 1.5em;
}

.treeView ul{
    background:url('http://code.stephenmorley.org/javascript/collapsible-lists/list-item-contents.png') repeat-y left;
}

.treeView li.lastChild > ul{
    background-image:none;
}

.treeView li{
    margin:0;
    padding:0;
    background:url('http://code.stephenmorley.org/javascript/collapsible-lists/list-item-root.png') no-repeat top left;
    list-style-position:inside;
    list-style-image:url('http://code.stephenmorley.org/javascript/collapsible-lists/button.png');
    cursor:auto;
}

.treeView li.list-mainOpen{
    list-style-image:url('http://code.stephenmorley.org/javascript/collapsible-lists/button-open.png');
    cursor:pointer;
}

.treeView li.list-mainClosed{
    list-style-image:url('http://code.stephenmorley.org/javascript/collapsible-lists/button-closed.png');
    cursor:pointer;
}

.treeView li li{
    background-image:url('http://code.stephenmorley.org/javascript/collapsible-lists/list-item.png');
    padding-left:1.5em;
}

.treeView li.lastChild{
    background-image:url('http://code.stephenmorley.org/javascript/collapsible-lists/list-item-last.png');
}

.treeView li.list-mainOpen{
    background-image:url('http://code.stephenmorley.org/javascript/collapsible-lists/list-item-open.png');
}

.treeView li.list-mainOpen.lastChild{
    background-image:url('http://code.stephenmorley.org/javascript/collapsible-lists/list-item-last-open.png');
}
*/