/**********************************************************************************************************************
 * Style cl-info-inline
 **********************************************************************************************************************/
.cl-info-inline {overflow: auto;}
.cl-info-inline .claction {margin: 0 0 0 5px; padding: 0;}
.cl-info-inline .clactionitem {}
.cl-info-inline .clinfo {margin: 0 0 0 5px; padding: 0;}
.cl-info-inline .clinfoitem {}
.cl-info-inline .clcreation {margin-left: 10px;font-size: 10px;font-style: italic;color: #6b6b6b;}
.cl-info-inline .cldescription {padding-top: 5px; font-style: italic; display: inline-block; width: 100%;color: #747474;}
.cl-info-inline .clname {font-size: 16px; font-weight: bold;}



/**********************************************************************************************************************
 * Style cl-nested-list
 **********************************************************************************************************************/
.cl-nested-list ul.list-main{list-style: none;margin: 0;padding: 0;}
.cl-nested-list ul.list-main .claction {margin: 0 0 0 5px; padding: 0;}
.cl-nested-list ul.list-main .clactionitem {}
.cl-nested-list ul.list-main .clinfo {margin: 0 0 0 5px; padding: 0;}
.cl-nested-list ul.list-main .clinfoitem {}
.cl-nested-list ul.list-main .clcreation {margin-left: 10px;font-size: 10px;font-style: italic;color: #6b6b6b;}
.cl-nested-list ul.list-main .cldescription {width: 100%;font-style: italic;display: inline-block;color: #747474;font-size: 12px;}
.cl-nested-list ul.list-main .clname {font-size: 16px; font-weight: bold;}

.cl-nested-list ul.list-main .list-toggle {cursor: pointer;}

.cl-nested-list ul.list-sub {list-style: none; margin: 15px 0 10px 0;padding: 10px;}
.cl-nested-list ul.list-main > li, .cl-nested-list ul.list-sub > li {padding: 3px;margin-bottom: 5px;}
.cl-nested-list ul.list-main li.parent {}

.cl-nested-list ul.list-main li .clname {
    background-image: url('http://code.stephenmorley.org/javascript/collapsible-lists/button.png');
    background-position: 0 3px;
    background-repeat: no-repeat;
    padding-left: 20px;
}
.cl-nested-list ul.list-main > li.parent > .clname {
    background-image: url('http://code.stephenmorley.org/javascript/collapsible-lists/button-closed.png');
}

/* Make DataTasks menu align to the right*/
.cl-nested-list ul.list-main .clactions ul.dropdown-menu {
    left: auto;
    right: 0;
    text-align: left;
}









a {cursor: pointer;}
.clinfoitem_green {background-color: #00b800;}
.clinfoitem_red {background-color: #ff0000;}


/**********************************************************************************************************************
 * Style elements of collection lists
 **********************************************************************************************************************/
.cl-info-sidepanel {
    font-size: 10px;
    overflow: auto;
}
.cl-info-sidepanel .clname {
    font-size: 16px;
    font-weight: bold;
    width: 100%;
    /*display: inline-block;*/
    /*padding: 5px 0 5px 2px;*/
}
.cl-info-sidepanel .clcreation {
    font-size: 10px;
    color: #6c6c6c;
    text-transform: uppercase;
    /*width: 100%;*/
    /*display: inline-block;*/
}

.cl-info-sidepanel .cldate, .cl-info-sidepanel .clowner, .cl-info-sidepanel .claccess {
    padding: 2px;
    margin: 0;
    line-height: 15px;
}

.cl-info-sidepanel .clactions {

}

.cl-info-sidepanel .cldescription {
    width: 100%;
    font-style: italic;
    display: block;
}

.cl-info-sidepanel .clinfo {
    margin: 0;
    /*float: right;*/
}
/**********************************************************************************************************************
 * Style collapsible Collection lists
 **********************************************************************************************************************/





/*a:hover {*/
    /*text-decoration: underline;*/
/*}*/



/*
ul.list-main li{
    list-style-image:url('http://code.stephenmorley.org/javascript/collapsible-lists/button.png');
    cursor:auto;
}

li.list-mainOpen{
    list-style-image:url('http://code.stephenmorley.org/javascript/collapsible-lists/button-open.png');
    cursor:pointer;
}

li.list-mainClosed{
    list-style-image:url('http://code.stephenmorley.org/javascript/collapsible-lists/button-closed.png');
    cursor:pointer;
}

.treeView{
    -moz-user-select:none;
    position:relative;
}

.treeView {
    margin:0 0 0 -1.5em;
    padding:0 0 0 1.5em;
}

.treeView ul{
    background:url('http://code.stephenmorley.org/javascript/collapsible-lists/list-item-contents.png') repeat-y left;
}

.treeView li.lastChild > ul{
    background-image:none;
}

.treeView li{
    margin:0;
    padding:0;
    background:url('http://code.stephenmorley.org/javascript/collapsible-lists/list-item-root.png') no-repeat top left;
    list-style-position:inside;
    list-style-image:url('http://code.stephenmorley.org/javascript/collapsible-lists/button.png');
    cursor:auto;
}

.treeView li.list-mainOpen{
    list-style-image:url('http://code.stephenmorley.org/javascript/collapsible-lists/button-open.png');
    cursor:pointer;
}

.treeView li.list-mainClosed{
    list-style-image:url('http://code.stephenmorley.org/javascript/collapsible-lists/button-closed.png');
    cursor:pointer;
}

.treeView li li{
    background-image:url('http://code.stephenmorley.org/javascript/collapsible-lists/list-item.png');
    padding-left:1.5em;
}

.treeView li.lastChild{
    background-image:url('http://code.stephenmorley.org/javascript/collapsible-lists/list-item-last.png');
}

.treeView li.list-mainOpen{
    background-image:url('http://code.stephenmorley.org/javascript/collapsible-lists/list-item-open.png');
}

.treeView li.list-mainOpen.lastChild{
    background-image:url('http://code.stephenmorley.org/javascript/collapsible-lists/list-item-last-open.png');
}
*/