{% extends "base-topmenu.html" %}

{% load waffle_tags %}

{% block content %}

    <div class="row-fluid">

        <ul class="breadcrumb">
            <!--<li><a href="{% url webinterface.views.data %}">Data</a> <span class="divider">></span></li>-->
            <li><a href="{% url webinterface.views.campaigns %}">Campaign List</a> <span class="divider">></span></li>
            <li>
                <a href="{% url webinterface.views.campaign_detail auvdeployment_object.campaign.id %}">{{ auvdeployment_object.campaign.short_name }}</a>
                <span class="divider">></span></li>
            <li class="active">{{ auvdeployment_object.short_name }}</li>
        </ul>
    </div>


    {% if auvdeployment_object %}
        <div class="row-fluid" id="map">
            {% include "webinterface/dataviews/mapview.html" %}
        </div>
        <div class="row-fluid">
            <div class="span4">
                <div id="placeholder_01" style="width:100%;height:100px">Loading Depth...</div>
            </div>
            <div class="span4">
                <div id="placeholder_02" style="width:100%;height:100px">Loading Salinity...</div>
            </div>
            <div class="span4">
                <div id="placeholder_03" style="width:100%;height:100px">Loading Temperature...</div>
            </div>
        </div>

        {% switch Collections %}
            <br/>
            <button type="button" class="btn btn-large btn-primary pull-right"
                    onclick="convert();">Create Project
            </button>
        {% endswitch %}


    {% endif %}

{% endblock %}

{% block add_script %}

    <script src='{{ STATIC_URL }}assets/js/jquery.flot.js'></script>
    <script src='{{ STATIC_URL }}assets/js/jquery.flot.axislabels.js'></script>

    <script type="text/javascript">
        var deploymentId = "{{ deployment_id }}";

        $(document).ready(function () {
            initDeploymentMap();
            updateMapForSelectedDeployments([{{ deployment_id }}]);
            updateMapExtent();
        });

        function updateMapExtent() {
            $.ajax({
                type: "POST",
                url: '{% url webinterface.views.get_multiple_deployment_extent %}',
                data: "deployment_ids=" + {{ deployment_id }},
                success: function (response, textStatus, jqXHR) {
                    var boundsArr = response.extent.replace("(", "").replace(")", "").split(",");
                    var bounds = new OpenLayers.Bounds();
                    bounds.extend(new OpenLayers.LonLat(boundsArr[0], boundsArr[1]));
                    bounds.extend(new OpenLayers.LonLat(boundsArr[2], boundsArr[3]));
                    var geographic = new OpenLayers.Projection("EPSG:4326");
                    var mercator = new OpenLayers.Projection("EPSG:900913");
                    deploymentMap.zoomToExtent(bounds.transform(geographic, mercator));
                }
            });
        }

        $.ajax({
            type: "GET",
            url: "/api/dev/simplepose/?format=json&deployment="+deploymentId+"&output=flot&limit=10000",
            success: function (response, textStatus, jqXHR) {
                $.plot($("#placeholder_01"),
                        [{
                            data: response.data,
                            lines: { show: true, fill: false },
                            shadowSize: 0
                        }], {yaxes: [
                            {axisLabel: 'Depth (m)'}
                        ], grid: {borderWidth: 0}}
                );
            }
        });

        $.ajax({
            type: "GET",
            url: "/api/dev/scientificposemeasurement/?format=json&pose__deployment="+deploymentId+"&mtype__normalised_name=salinity&limit=10000&output=flot",
            success: function (response, textStatus, jqXHR) {
                $.plot($("#placeholder_02"),
                        [{
                            data: response.data,
                            lines: { show: true, fill: false },
                            shadowSize: 0
                        }], {yaxes: [
                            {axisLabel: 'Salinity (psu)'}
                        ], grid: {borderWidth: 0}}
                );
            }
        });

        $.ajax({
            type: "GET",
            url: "/api/dev/scientificposemeasurement/?format=json&pose__deployment="+deploymentId+"&mtype__normalised_name=temperature&limit=10000&output=flot",
            success: function (response, textStatus, jqXHR) {
                $.plot($("#placeholder_03"),
                        [{
                            data: response.data,
                            lines: { show: true, fill: false },
                            shadowSize: 0
                        }], {yaxes: [
                            {axisLabel: 'Temperature (cel)'}
                        ], grid: {borderWidth: 0}}
                );
            }
        });

    </script>
{% endblock %}
