{% extends "base-topmenu.html" %}
{% block tail_head %}
    <style>
        #map_container2 {
            height: 300px;
            width: 100%;
            border: 2px;
        }

    </style>
{% endblock %}

{% block content %}
    <ul class="breadcrumb">
        <!--<li><a href="{% url webinterface.views.data %}">Data</a>-->
        <li><span class="divider"></span><a href="{% url webinterface.views.campaigns %}"> Campaign List</a></li>
        <li class="active"><span class="divider">></span> {{ campaign_object.short_name }}</li>
    </ul>

    {% if campaign_object %}
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Researchers</th>
                <th>Publications</th>
                <th>Grant</th>
                <th>Description</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>{{ campaign_object.date_start }}</td>
                <td>{{ campaign_object.date_end }}</td>
                <td>{{ campaign_object.associated_researchers }}</td>
                <td>{{ campaign_object.associated_publications }}</td>
                <td>{{ campaign_object.associated_research_grant }}</td>
                <td>{{ campaign_object.description }}</td>
            <tr>
            </tbody>
        </table>
    {% else %}
        <p>This campaign seems to be broken or missing...</p>
    {% endif %}

    <div id='map_container2'></div>

    <h3>Deployments in {{ campaign_object.short_name }}</h3>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Start Time</th>
            <th>End Time</th>
            <th>Depth Range</th>
            <th>Approx Location</th>
        </tr>
        </thead>
        <tbody>

        {% for auv_deployment in auv_deployment_list %}
            <tr>
                <td>
                    <a href="{% url webinterface.views.auvdeployment_detail auv_deployment.id %}">{{ auv_deployment.short_name }}</a>
                </td>
                <td>AUV</td>
                <td>{{ auv_deployment.start_time_stamp }}</td>
                <td>{{ auv_deployment.end_time_stamp }}</td>
                <td>{{ auv_deployment.min_depth }}m-{{ auv_deployment.max_depth }}m</td>
                <td>({{ auv_deployment.start_position.y }},{{ auv_deployment.start_position.x }})</td>
            <tr>
        {% endfor %}
        {% for bruv_deployment in bruv_deployment_list %}
            <tr>
                <td>
                    <a href="{% url webinterface.views.bruvdeployment_detail bruv_deployment.id %}">{{ bruv_deployment.short_name }}</a>
                </td>
                <td>BRUV</td>
                <td>{{ bruv_deployment.start_time_stamp }}</td>
                <td>{{ bruv_deployment.end_time_stamp }}</td>
                <td>{{ bruv_deployment.min_depth }}m-{{ bruv_deployment.max_depth }}m</td>
                <td>({{ bruv_deployment.start_position.y }},{{ bruv_deployment.start_position.x }})</td>
            <tr>
        {% endfor %}
        {% for dov_deployment in dov_deployment_list %}
            <tr>
                <td>
                    <a href="{% url webinterface.views.dovdeployment_detail dov_deployment.id %}">{{ dov_deployment.short_name }}</a>
                </td>
                <td>DOV</td>
                <td>{{ dov_deployment.start_time_stamp }}</td>
                <td>{{ dov_deployment.end_time_stamp }}</td>
                <td>{{ dov_deployment.min_depth }}m-{{ dov_deployment.max_depth }}m</td>
                <td>({{ dov_deployment.start_position.y }},{{ dov_deployment.start_position.x }})</td>
            <tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}

{% block add_script %}
    <script src="http://www.openlayers.org/dev/OpenLayers.js"></script>
    <!--<script src='{{ STATIC_URL }}assets/openlayers/OpenLayers.js'></script>
    <script src='{{ STATIC_URL }}assets/esriOceanBasemap/map.js'></script>-->

    <script type="text/javascript">
        var lon = 138;
        var lat = -35;
        var zoom = 4;
        var map, layer;
        var bounds;

        var style = {
            strokeColor: "#00FF00",
            strokeOpacity: 1,
            strokeWidth: 3,
            fillColor: "#00FF00",
            fillOpacity: 0.8 };

        $(document).ready(function () {

            /* Setting up the projection details here, so that 4326 projected data can be displayed on top of
             * base layers that use the google projection */
            var xml = new OpenLayers.Format.XML();
            var geographic = new OpenLayers.Projection("EPSG:4326");
            var mercator = new OpenLayers.Projection("EPSG:900913");
            var world = new OpenLayers.Bounds(-180, -89, 180, 89).transform(
                    geographic, mercator
            );

            //map setting based on projections
            var options = {
                projection: mercator,
                //displayProjection: geographic,
                units: "m",
                maxExtent: world,
                maxResolution: 156543.0399,
                numZoomLevels: 25
            };

            map = new OpenLayers.Map('map_container2', options);

            var osm = new OpenLayers.Layer.OSM(null, null, {
                resolutions: [156543.03390625, 78271.516953125, 39135.7584765625,
                    19567.87923828125, 9783.939619140625, 4891.9698095703125,
                    2445.9849047851562, 1222.9924523925781, 611.4962261962891,
                    305.74811309814453, 152.87405654907226, 76.43702827453613,
                    38.218514137268066, 19.109257068634033, 9.554628534317017,
                    4.777314267158508, 2.388657133579254, 1.194328566789627,
                    0.5971642833948135, 0.25, 0.1, 0.05],
                serverResolutions: [156543.03390625, 78271.516953125, 39135.7584765625,
                    19567.87923828125, 9783.939619140625,
                    4891.9698095703125, 2445.9849047851562,
                    1222.9924523925781, 611.4962261962891,
                    305.74811309814453, 152.87405654907226,
                    76.43702827453613, 38.218514137268066,
                    19.109257068634033, 9.554628534317017,
                    4.777314267158508, 2.388657133579254,
                    1.194328566789627, 0.5971642833948135],
                transitionEffect: 'resize',
                isBaseLayer: true,
                minZoomLevel: 1,
                maxZoomLevel: 25,
                numZoomLevels: 25,
                sphericalMercator: true
            });
            map.addLayer(osm);

            //This make a GeoJSON containing all the geojson points from the d
            var geojson_data = '{ "type": "FeatureCollection", "features": [ {"geometry": { "type": "GeometryCollection", "geometries": [\
{% for deployment in auv_deployment_list %}{% if not forloop.last %}{{deployment.start_position.geojson|safe}},{% else %}{{deployment.start_position.geojson|safe}}{% endif %}{% endfor %}{% for deployment in bruv_deployment_list %}{% if not forloop.last %}{{deployment.start_position.geojson|safe}},{% else %}{{deployment.start_position.geojson|safe}}{% endif %}{% endfor %}{% for deployment in dov_deployment %}{% if not forloop.last %}{{deployment.start_position.geojson|safe}},{% else %}{{deployment.start_position.geojson|safe}}{% endif %}{% endfor %}] }, "type": "Feature", "properties": {}} ] }';

            var campaign_geojson = '{ "type": "FeatureCollection", "features": [ {"geometry": { "type": "GeometryCollection", "geometries": [\
{{ campaign_as_geojson|safe }}] }, "type": "Feature", "properties": {}} ] }';


            var geojson_format = new OpenLayers.Format.GeoJSON({
                'internalProjection': new OpenLayers.Projection("EPSG:900913"),
                'externalProjection': new OpenLayers.Projection("EPSG:4326")
            });
            var featurecollection = geojson_format.read(geojson_data);

            var vector_layer = new OpenLayers.Layer.Vector();
            map.addLayer(vector_layer);

            vector_layer.addFeatures(geojson_format.read(geojson_data));
            for (var i = 0; i < featurecollection.length; ++i) {
                if (!bounds) {
                    bounds = featurecollection[i].geometry.getBounds();
                } else {
                    bounds.extend(featurecollection[i].geometry.getBounds());
                }

            }

            var campaign_layer = new OpenLayers.Layer.Vector();
            map.addLayer(campaign_layer);
            campaign_layer.addFeatures(geojson_format.read(campaign_geojson));

            map.zoomToExtent(bounds);

            //var pf = new OpenLayers.Feature.Vector(bounds, null, style);

            //vector.addFeatures([pf]);
        });
    </script>
{% endblock %}