{% extends "base_data.html" %}

{% block leadtitle %}Campaign List{% endblock %}

{% block breadcrumbs %}
  <li class="active">Campaign List</li>
{% endblock %}
	
{% block content %}

  {% if latest_campaign_list %}
    <table class="table">
      <thead>
        <tr>
          <th>Start Date</th>
          <th>End Date</th>
          <th>Deployments</th>
          <th>Researchers</th>
          <th>Publications</th>
          <th>Grant</th>
          <th>Description</th>
          <th></th>
        </tr>
      </thead>
      <tbody>

          {% for campaign in latest_campaign_list %}
            <tr>
             <td colspan=8><p class="lead">{{campaign.short_name}}<p></td>
            </tr>

            <tr>
              <td>{{campaign.date_start}}</td>
              <td>{{campaign.date_end}}</td>
              <td>0</td>
              <td>{{campaign.associated_researchers}}</td>
              <td>{{campaign.associated_publications}}</td>
              <td>{{campaign.associated_research_grant}}</td>
              <td>{{campaign.description}}</td>
              <td><a href="{{campaign.id}}" class="btn btn-large btn-primary">Detail</a> 
            <tr>

          {% endfor %}
      </tbody>
    </table>
  {% else %}
      <p>No auvdeployments are available.</p>
  {% endif %}
{% endblock %}




    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src='{{ STATIC_URL }}/assets/js/jquery-1.8.0.min.js'></script>
    <script src='{{ STATIC_URL }}/assets/js/bootstrap.js'></script>
    <script src="{{ STATIC_URL }}/assets/js/jquery.tools.min.js"></script>
    <script src="{{ STATIC_URL }}/assets/js/jquery-ui-1.8.23.custom.min.js"></script>
    
    <!-- popover js -->
    <script type="text/javascript">
        (function() {
            $("[rel=popover]").popover();
        })();
     </script>

</body>
</html>
