body, html {
	height:100%;
}
body {
	margin-top: 60px;
}

div.hero-unit {
	padding: 20px;
}

.navbar .brand {
	max-height:40px; 
	overflow: visible; 
	padding-top: 0px; 
	padding-bottom: 0px
}
.sidbar-fullheight {position: absolute;top: 40px;bottom: 80px;}
.infopane{
	left: 0; 
	width:220px;
	background-color: #CCC; 
	padding: 10px;
	border-right: 1px solid #000000;
}
.modepane{
	right: 0; 
	width:300px;
	background-color: #505050; 
	padding: 10px;
	border-left: 1px solid #000000;
}
.content{
	left: 241px; 
	right: 318px; 
	background-color: #3a3a3a; 
	padding: 0;
	text-align: center;
}
.controlfoot{
	position: absolute; 
	bottom: 0; 
	height:80px; 
	background-color: #505050; 
	left: 0; 
	right: 0; 
	border-top: 1px solid #000000;
}
ul.nav li.dropdown:hover ul.dropdown-menu{
    display: block;    
}
.navbar .dropdown-menu {
	margin-top: 0px;
}