{% extends "base-topmenu.html" %}
{% block title %}{{ block.super }} : {{ request.path }}{% endblock %}
{% block content %}
<div class="row-fluid">
    <div class="hero-unit">
        <h1>Collections</h1>
        <p>A Collection is a set of data (images and associated metadata) that has been prepared by a user for further processing, downloading or sharing. The data may come from one or more deployments, surveys or campaigns.</p>
    </div>
</div>
      
      
        <div class="span6">
          <h2>My Collections</h2>
          <p>My most recent Collections:</p>
          <table class="table table-hover">
          <thead>
          <tr>
              <th>Collection</th><th>Date</th><th>User</th><th style="text-align: right;">Data Tasks</th>
          </tr>
          </thead>
          <tbody>
          <tr>
              <td><a href="/webinterface/viewcollection" rel='popover-roll' data-content="<p>More detailed information about the Collection. This may include:<ol><li>a more useful user description.</li><li>the search criteria that were used to create it</li></ol><p>" data-original-title="Collection name" data-html='true' data-placement='right' >SomeShortName</a></td>
              <td>01-01-2012</td>
              <td> A. Friedman </td>
              <td style="text-align: right;">
                  <a href="/webinterface/viewcollection#map" rel="tooltip" title="View Collection"><i class="icon-eye-open"></i></a>
                  <a href="/webinterface/viewcollection#cst" rel="tooltip" title="Cluster Collection"><i class="icon-cog"></i></a>
                  <a href="/webinterface/viewcollection#wks" rel="tooltip" title="Create/view Workset"><i class="icon-th-list"></i></a>
                  <a href="/webinterface/allsubsets" class="imageframe" data-fancybox-group="1" data-fancybox-type="iframe" rel="tooltip" title="Annotate Workset1"><i class="icon-tag"></i></a>
                  <a href="/webinterface/viewcollection" rel="tooltip" title="Auto-classify Collection"><i class="icon-sitemap"></i></a>
                  <a href="/webinterface/viewcollection" rel="tooltip" title="Download Data"><i class="icon-download-alt"></i></a>
              </td>
          </tr>
          <tr>
              <td><a href="/webinterface/viewcollection" rel='popover-roll' data-content="<p>More detailed information about the Collection. This may include:<ol><li>a more useful user description.</li><li>the search criteria that were used to create it</li></ol><p>" data-original-title="Collection name" data-html='true' data-placement='right' >SomeOtherName</a></td>
              <td>03-01-2012</td>
              <td> A. Friedman </td>
              <td style="text-align: right;">
                  <a href="/webinterface/viewcollection#map" rel="tooltip" title="View Collection"><i class="icon-eye-open"></i></a>
                  <a href="/webinterface/viewcollection#cst" rel="tooltip" title="Cluster Collection"><i class="icon-cog"></i></a>
                  <a href="/webinterface/viewcollection#wks" rel="tooltip" title="Create/view Workset"><i class="icon-th-list"></i></a>
                  <a href="/webinterface/allsubsets" class="imageframe" data-fancybox-group="2" data-fancybox-type="iframe" rel="tooltip" title="Annotate Workset"><i class="icon-tag"></i></a>
                  <a href="/webinterface/viewcollection" rel="tooltip" title="Auto-classify Collection"><i class="icon-sitemap"></i></a>
                  <a href="/webinterface/viewcollection" rel="tooltip" title="Download Data"><i class="icon-download-alt"></i></a>
              </td>
          </tr>
          <tr>
              <td><a href="/webinterface/viewcollection" rel='popover-roll' data-content="<p>More detailed information about the Collection. This may include:<ol><li>a more useful user description.</li><li>the search criteria that were used to create it</li></ol><p>" data-original-title="Collection name" data-html='true' data-placement='right' >AnotherName</a></td>
              <td>10-01-2012</td>
              <td> A. Friedman </td>
              <td style="text-align: right;">
                  <a href="/webinterface/viewcollection#map" rel="tooltip" title="View Collection"><i class="icon-eye-open"></i></a>
                  <a href="/webinterface/viewcollection#cst" rel="tooltip" title="Cluster Collection"><i class="icon-cog"></i></a>
                  <a href="/webinterface/viewcollection#wks" rel="tooltip" title="Create/view Workset"><i class="icon-th-list"></i></a>
                  <a href="/webinterface/allsubsets" class="imageframe" data-fancybox-group="3" data-fancybox-type="iframe" rel="tooltip" title="Annotate Workset"><i class="icon-tag"></i></a>
                  <a href="/webinterface/viewcollection" rel="tooltip" title="Auto-classify Collection"><i class="icon-sitemap"></i></a>
                  <a href="/webinterface/viewcollection" rel="tooltip" title="Download Data"><i class="icon-download-alt"></i></a>
              </td>
          </tr>
          </tbody>
          </table>
          <p><a class="btn" href="/webinterface/mycollections">View more &raquo;</a>
          <a href="/webinterface/explore" class="btn btn-primary pull-right"><i class="icon-plus-sign icon-white"></i> New Collection</a></p>
        </div><!--/span-->
        <div class="span6">
          <h2>Public Collections</h2>
          <p>Most recent public Collections. </p>
          <table class="table table-hover">
          <thead>
          <tr>
              <th>Collection</th><th>Date</th><th>User</th><th style="text-align: right;">Data Tasks</th>
          </tr>
          </thead>
          <tbody>
          <tr>
              <td><a href='/webinterface/viewcollection' rel='popover-roll' data-content="<p>More detailed information about the Collection. This may include:<ol><li>a more useful user description.</li><li>the search criteria that were used to create it</li></ol><p>" data-original-title="Collection name" data-html='true' data-placement='right' >SomeShortName</a></td>
              <td>01-01-2012</td>
              <td> D. Steinberg </td>
              <td style="text-align: right;">
                  <a href="/webinterface/viewcollection#map" rel="tooltip" title="View Collection"><i class="icon-eye-open"></i></a>
                  <a href="/webinterface/viewcollection#cst" rel="tooltip" title="Cluster Collection"><i class="icon-cog"></i></a>
                  <a href="/webinterface/viewcollection#wks" rel="tooltip" title="Create/view Workset"><i class="icon-th-list"></i></a>
                  <a href="/webinterface/allsubsets" class="imageframe" data-fancybox-group="4" data-fancybox-type="iframe" rel="tooltip" title="Annotate Workset"><i class="icon-tag"></i></a>
                  <a href="/webinterface/viewcollection" rel="tooltip" title="Auto-classify Collection"><i class="icon-sitemap"></i></a>
                  <a href="/webinterface/viewcollection" rel="tooltip" title="Download Data"><i class="icon-download-alt"></i></a>
              </td>
          </tr>
          <tr>
              <td><a href='/webinterface/viewcollection' rel='popover-roll' data-content="<p>More detailed information about the Collection. This may include:<ol><li>a more useful user description.</li><li>the search criteria that were used to create it</li></ol><p>" data-original-title="Collection name" data-html='true' data-placement='right' >SomeOtherName</a></td>
              <td>03-01-2012</td>
              <td> A. Friedman </td>
              <td style="text-align: right;">
                  <a href="/webinterface/viewcollection#map" rel="tooltip" title="View Collection"><i class="icon-eye-open"></i></a>
                  <a href="/webinterface/viewcollection#cst" rel="tooltip" title="Cluster Collection"><i class="icon-cog"></i></a>
                  <a href="/webinterface/viewcollection#wks" rel="tooltip" title="Create/view Workset"><i class="icon-th-list"></i></a>
                  <a href="/webinterface/allsubsets" class="imageframe" data-fancybox-group="5" data-fancybox-type="iframe" rel="tooltip" title="Annotate Workset"><i class="icon-tag"></i></a>
                  <a href="/webinterface/viewcollection" rel="tooltip" title="Auto-classify Collection"><i class="icon-sitemap"></i></a>
                  <a href="/webinterface/viewcollection" rel="tooltip" title="Download Data"><i class="icon-download-alt"></i></a>
              </td>
          </tr>
          <tr>
              <td><a href='/webinterface/viewcollection' rel='popover-roll' data-content="<p>More detailed information about the Collection. This may include:<ol><li>a more useful user description.</li><li>the search criteria that were used to create it</li></ol><p>" data-original-title="Collection name" data-html='true' data-placement='right' >AnotherName</a></td>
              <td>10-01-2012</td>
              <td> D. Steinberg </td>
              <td style="text-align: right;">
                  <a href="/webinterface/viewcollection#map" rel="tooltip" title="View Collection"><i class="icon-eye-open"></i></a>
                  <a href="/webinterface/viewcollection#cst" rel="tooltip" title="Cluster Collection"><i class="icon-cog"></i></a>
                  <a href="/webinterface/viewcollection#wks" rel="tooltip" title="Create/view Workset"><i class="icon-th-list"></i></a>
                  <a href="/webinterface/allsubsets" class="imageframe" data-fancybox-group="6" data-fancybox-type="iframe" rel="tooltip" title="Annotate Workset"><i class="icon-tag"></i></a>
                  <a href="/webinterface/viewcollection" rel="tooltip" title="Auto-classify Collection"><i class="icon-sitemap"></i></a>
                  <a href="/webinterface/viewcollection" rel="tooltip" title="Download Data"><i class="icon-download-alt"></i></a>
              </td>
          </tr>
          <tr>
              <td><a href='/webinterface/viewcollection' rel='popover-roll' data-content="<p>More detailed information about the Collection. This may include:<ol><li>a more useful user description.</li><li>the search criteria that were used to create it</li></ol><p>" data-original-title="Collection name" data-html='true' data-placement='right' >What's in a name?</a></td>
              <td>01-01-2012</td>
              <td> S. Williams </td>
              <td style="text-align: right;">
                  <a href="/webinterface/viewcollection#map" rel="tooltip" title="View Collection"><i class="icon-eye-open"></i></a>
                  <a href="/webinterface/viewcollection#cst" rel="tooltip" title="Cluster Collection"><i class="icon-cog"></i></a>
                  <a href="/webinterface/viewcollection#wks" rel="tooltip" title="Create/view Workset"><i class="icon-th-list"></i></a>
                  <a href="/webinterface/allsubsets" class="imageframe" data-fancybox-group="7" data-fancybox-type="iframe" rel="tooltip" title="Annotate Workset"><i class="icon-tag"></i></a>
                  <a href="/webinterface/viewcollection" rel="tooltip" title="Auto-classify Collection"><i class="icon-sitemap"></i></a>
                  <a href="/webinterface/viewcollection" rel="tooltip" title="Download Data"><i class="icon-download-alt"></i></a>
              </td>
          </tr>
          <tr>
              <td><a href='/webinterface/viewcollection' rel='popover-roll' data-content="<p>More detailed information about the Collection. This may include:<ol><li>a more useful user description.</li><li>the search criteria that were used to create it</li></ol><p>" data-original-title="Collection name" data-html='true' data-placement='right' >A short name</a></td>
              <td>03-01-2012</td>
              <td> D. Steinberg </td>
              <td style="text-align: right;">
                  <a href="/webinterface/viewcollection#map" rel="tooltip" title="View Collection"><i class="icon-eye-open"></i></a>
                  <a href="/webinterface/viewcollection#cst" rel="tooltip" title="Cluster Collection"><i class="icon-cog"></i></a>
                  <a href="/webinterface/viewcollection#wks" rel="tooltip" title="Create/view Workset"><i class="icon-th-list"></i></a>
                  <a href="/webinterface/allsubsets" class="imageframe" data-fancybox-group="8" data-fancybox-type="iframe" rel="tooltip" title="Annotate Workset"><i class="icon-tag"></i></a>
                  <a href="/webinterface/viewcollection" rel="tooltip" title="Auto-classify Collection"><i class="icon-sitemap"></i></a>
                  <a href="/webinterface/viewcollection" rel="tooltip" title="Download Data"><i class="icon-download-alt"></i></a>
              </td>
          </tr>
          <tr>
              <td><a href='/webinterface/viewcollection' rel='popover-roll' data-content="<p>More detailed information about the Collection. This may include:<ol><li>a more useful user description.</li><li>the search criteria that were used to create it</li></ol><p>" data-original-title="Collection name" data-html='true' data-placement='right' >BlahBlah</a></td>
              <td>10-01-2012</td>
              <td> S. Williams </td>
              <td style="text-align: right;">
                  <a href="/webinterface/viewcollection#map" rel="tooltip" title="View Collection"><i class="icon-eye-open"></i></a>
                  <a href="/webinterface/viewcollection#cst" rel="tooltip" title="Cluster Collection"><i class="icon-cog"></i></a>
                  <a href="/webinterface/viewcollection#wks" rel="tooltip" title="Create/view Workset"><i class="icon-th-list"></i></a>
                  <a href="/webinterface/allsubsets" class="imageframe" data-fancybox-group="9" data-fancybox-type="iframe" rel="tooltip" title="Annotate Workset"><i class="icon-tag"></i></a>
                  <a href="/webinterface/viewcollection" rel="tooltip" title="Auto-classify Collection"><i class="icon-sitemap"></i></a>
                  <a href="/webinterface/viewcollection" rel="tooltip" title="Download Data"><i class="icon-download-alt"></i></a>
              </td>
          </tr>
          </tbody>
          </table>
          <p><a class="btn" href="/webinterface/publiccollections">View more &raquo;</a></p>
        </div><!--/span-->
       
{% endblock %}
