{% extends "base-topmenu.html" %}
{% block content %}
<ul class="breadcrumb">
    <li class="active">Campaign List</li>
</ul>

<div id="CampaignListContainer"></div>

<script type="text/template" id="CampaignListTemplate">
    <div id='campaign-map' style="height: 300px; width:100%; border: 2px">
    </div>
    <table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Deployments</th>
            <th>Researchers</th>
            <th>Publications</th>
            <th>Grant</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        <%=campaigns%>
    </tbody>
</table>

<div id="pagination"></div>

</script>

<script type="text/template" id="CampaignTemplate">
    <tr>
        <td><a href="<%= campaign_url %>"><%= short_name %></a></td>
        <td><%= start_date %></td>
        <td><%= end_date %></td>
        <td><%= deployment_count %></td>
        <td><%= researchers %></td>
        <td><%= publications %></td>
        <td><%= grant %></td>
        <td><%= description %></td>
    </tr>
</script>

{% endblock %}

{% block add_script %}
<script src="http://www.openlayers.org/dev/OpenLayers.js"></script>
<script src="{{ STATIC_URL }}assets/OpenLayers/LoadingPanel.js"></script>
<script src='{{ STATIC_URL }}assets/catami-api/js/Map.js'></script>

<script type="text/javascript">
    //Init js variables which is used by Backbone to render html template
    var CampaignListUrl = "{% url webinterface.views.campaign_list %}"
    var WMS_URL = "{{ WMS_URL }}";
    var WMS_CAMPAIGNS = "{{ WMS_CAMPAIGNS }}";
</script>

<script type="text/javascript" src="{{ STATIC_URL }}assets/backbone/templates/campaignlist.js"></script>

{% endblock %}
