{% extends "base-topmenu.html" %}
{% block title %}{{ block.super }} : {{ request.path }}{% endblock %}
{% block content %}

<div class="row-fluid">
    <div class="hero-unit">
        <h1>Collections</h1>
    </div>
</div>
      
      
        <div class="span6">
          <h2>My Collections</h2>
          <p>My most recent public collections. </p>
          <div id="mycollections_recent"></div>
          <p><a class="btn" href="{% url webinterface.views.my_collections %}">View more &raquo;</a>
<!--           <a href="/webinterface/explore" class="btn btn-primary pull-right"><i class="icon-plus-sign icon-white"></i> New Collection</a></p> -->
        </div><!--/span-->
        <div class="span6">
          <h2>Public Collections</h2>
          <p>Most recent public collections. </p>
          <div id="publiccollections_recent"></div>
          <p><a class="btn" href="{% url webinterface.views.public_collections %}">View more &raquo;</a></p>
        </div><!--/span-->
       
{% endblock %}
{% block add_script %}
	<script>
	  $('#mycollections_recent').load('{% url webinterface.views.my_collections_recent %} #mycollections_recent', function(response, status, xhr) {
		if (status == "error") {
		  var msg = "Sorry, I've run into a problem trying to get this. The reported error is: ";
		  $("#mycollections_recent").html("<p class='alert alert-error'>"+ msg + "<strong>" + xhr.status + " " + xhr.statusText+"</strong></p>");
		}
	});
	</script>
	<script>
	  $('#publiccollections_recent').load('{% url webinterface.views.public_collections_recent %} #publiccollections_recent', function(response, status, xhr) {
		if (status == "error") {
		  var msg = "Sorry, I've run into a problem trying to get this. The reported error is: ";
		  $("#publiccollections_recent").html("<p class='alert alert-error'>"+ msg + "<strong>" + xhr.status + " " + xhr.statusText+"</strong></p>");
		}
	});

	</script>
{% endblock %}   

