{% extends "base-topmenu.html" %}

{% block content %}

<div id="DeploymentViewContainer"></div>

<div class="row-fluid">
    <div id='deployment-map' style="height: 600px; z-index: 0; position: relative;" class="span6"></div>
    <div class="span6">
        <div id="ThumbnailListContainer"></div>
        <div id="pagination"></div>
    </div>
</div>

<div class="row-fluid">
    <div class="span4">
         <div id="placeholder_01" style="height: 200px">Loading Depth...</div>
     </div>
     <div class="span4">
        <div id="placeholder_02" style="height: 200px">Loading Salinity...</div>
     </div>
     <div class="span4">
         <div id="placeholder_03" style="height: 200px">Loading Temperature...</div>
     </div>
</div>



<script type="text/template" id="DeploymentViewTemplate">

    <div class="row-fluid">

        <ul class="breadcrumb">
            <li><a href="<%= campaignlist_url %>">Campaign List</a> <span class="divider">
                ></span></li>
            <li>
                <a href="<%= campaign_url%>"><%= campaign_name%></a>
                <span class="divider">></span></li>
            <li class="active"><%= deployment_name%></li>
        </ul>
    </div>

</script>

<script type="text/template" id="ThumbnailListTemplate">
    <%=images%>
</script>

<script type="text/template" id="ImageTemplate">
    <img src="<%= thumbnail_location %>" style="padding-bottom: 5px;">
</script>


{% endblock %}

{% block add_script %}
<script src="http://www.openlayers.org/dev/OpenLayers.js"></script>
<script src="{{ STATIC_URL }}assets/OpenLayers/LoadingPanel.js"></script>
<script src='{{ STATIC_URL }}assets/catami-api/js/Map.js'></script>
<script src='{{ STATIC_URL }}assets/js/jquery.flot.js'></script>
<script src='{{ STATIC_URL }}assets/js/jquery.flot.axislabels.js'></script>


<script type="text/javascript">
//Init js variables which is used by Backbone to render html template
     var WMS_URL = "{{ WMS_URL }}";
     var WMS_LAYER_NAME = "{{ WMS_LAYER_NAME }}";
     var CampaignListUrl = "{% url webinterface.views.campaign_list %}"
     var CampaignUrl = "{% url webinterface.views.campaign_view deployment_object.campaign.id %}";

</script>
<script type="text/javascript" src="{{ STATIC_URL }}assets/backbone/templates/deploymentview.js"></script>

{% endblock %}
