{% extends "base-topmenu.html" %}
{% block tail_head %}
    <link rel="stylesheet" href="{{ STATIC_URL }}assets/OpenLayers/map-extras.css" type="text/css">
{% endblock %}

{% block content %}



<div id="DeploymentViewContainer"></div>

<script type="text/template" id="DeploymentViewTemplate">

    <div class="row-fluid">

        <ul class="breadcrumb">
            <li><a href="<%= campaignlist_url %>">Campaign List</a> <span class="divider">
                ></span></li>
            <li>
                <a href="<%= campaign_url%>"><%= campaign_name%></a>
                <span class="divider">></span></li>
            <li class="active"><%= deployment_name%></li>
        </ul>
    </div>

    <div class="row-fluid">
        <div class="span3">
            <div class="well">
                <h2 style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;"><%= deployment_name %></h2>

                <p><b>Start Time: </b> <%= start_time_stamp %></p>
                <p><b>End Time: </b> <%= end_time_stamp %> </p>
                <p><b>Mission Aim </b> </p>
                <p> <%= mission_aim %> </p>
                <p><b>Contact Person</b></p>
                <p> <%= contact_person %>  </p>
                <p><b>License </b> </p>
                <p> <%= license %> </p>
                <p><b>Keywords </b> </p>
                <p> <%= descriptive_keywords %> </p>
            </div>
        </div>
        <div class="span9">

             <div class="span6" id='deployment-map' style="height: 600px; position: relative">
                 <div style="right:0;position:absolute;z-index:2000" class="span1 well well-small" >
                    <p><img src="{{ STATIC_URL }}images/depth-colorscale-22-30.png" alt="Depth colorscale 22m to 30m"/>Depth</br>(m)</p>
                </div>
             </div>

             <div class="span6" style="margin-bottom: 10px">
                 <div id="placeholder_01" style="height: 200px">Loading Depth...</div>
                <div id="placeholder_02" style="height: 200px">Loading Salinity...</div>
                 <div id="placeholder_03" style="height: 200px">Loading Temperature...</div>
             </div>

            <div>
                <div id="ThumbnailListContainer"></div>
                <div id="pagination"></div>
            </div>

        </div>
    </div>

</script>

<script type="text/template" id="ThumbnailListTemplate">
    <%=images%>
</script>

<script type="text/template" id="ImageTemplate">
    <a class="group1" href="<%= web_location %>" title=""> <img src="<%= thumbnail_location %>" style="padding-bottom: 5px;"/> </a>
</script>


{% endblock %}

{% block add_script %}
<script type="text/javascript" src="{{ STATIC_URL }}assets/OpenLayers/OpenLayers.js"></script>
<script src="{{ STATIC_URL }}assets/OpenLayers/LoadingPanel.js"></script>
<script src='{{ STATIC_URL }}assets/js/MapUtils.js'></script>
<script src='{{ STATIC_URL }}assets/js/jquery.flot.js'></script>
<script src='{{ STATIC_URL }}assets/js/jquery.flot.axislabels.js'></script>
<script src="{{ STATIC_URL }}assets/colorbox/jquery.colorbox-min.js"></script>


<script type="text/javascript">

    //Init js variables which is used by Backbone to render html template
    var WMS_URL = "{{ WMS_URL }}";
    var LAYER_IMAGES = "{{ LAYER_IMAGES }}";
    var CampaignListUrl = "{% url webinterface.views.campaign_list %}"
    var CampaignUrl = "{% url webinterface.views.campaign_view deployment_object.campaign.id %}";


</script>
<script type="text/javascript" src="{{ STATIC_URL }}assets/backbone/templates/deploymentview.js"></script>

{% endblock %}
