	{% extends "base-topmenu.html" %}
{% load waffle_tags %}

{% block title %}{{ block.super }} : {{ request.path }}{% endblock %}
{% block tail_head %}
    <style type="text/css">
        {% comment %}body {
            padding: 10px;
        }{% endcomment %}

        img {
            width: 99%;
            height: auto;
        }

            /*select, button {
                vertical-align: top;
            }*/
        td {
            vertical-align: middle;
        }

        .viewpane {
/*
            padding-left: 10px;
            border-left-style: solid;
            border-left-width: 1px;
            border-color: #ddd;
*/
        }

        .viewobj {
            border-style: solid;
            border-width: 2px;
            border-color: #ddd;
        }

        .workpane {
            width: 99%;
            margin: 0;
        }

        input[type='number'] {
            padding: 0px;
            margin: 0px;
            width: 40px;
        }
        
        #map_container2 {
            height: 600px;
            width: 100%;
            border: 2px;
        }

        .textOverlay{
        	z-index:5000;
	        color: #fff;
	        position: absolute;
	        background-color: black;
	        margin: 2px;
	        padding: 2px;
        }
        
		#imageModal .modal-body {
			max-height: 800px;
		}

        {% comment %}.ui-slider .ui-slider-handle .ui-slider-range {
            margin-top: 40px;
        }{% endcomment %}

	</style>
{% endblock %}
{% block content %}
    <div class="row-fluid">

        <ul class="breadcrumb">
            <li><a href="{% url webinterface.views.explore %}">Explore</a></li>
        </ul>
    </div>

    <div class="row-fluid">

        <div class="span2" id="map-sidebar">
            <form style="width=100%;">
		        <p style="width:90%;">
				  	<a href="#" id="opener" class="btn" type="button" style="width:100%;" ><i class="icon-plus-sign"></i> Select Deployments</a>
				</p>
<!--
				<table class="table table-bordered" id="selectedDeploymentTable">
					<tr><td>Nothing Selected</td></tr>
				</table>
-->
				<div class="well" style="padding:10px; padding-left: 0; padding-right: 0;">
					<ul class="nav nav-list" id="selectedDeploymentList">
						<li class="nav-header">
						Selected Deployments
						</li>
						<li class="divider" style="margin:0px;"></li>
					</ul>
				</div>      
				
				                {% comment %}Deployments:
                <select name="deploymentSelect" multiple="multiple"
                        class="workpane" id="deploymentSelect"
                        onchange="selectDeployment($(this).val());">
                    <!-- Content inserted from jqery -->
                </select>
                {% endcomment %}


                {% comment %}{% switch Experimental %}
                    Year:
                    <input type="number" min="2006" step="1" value="2007"><br>
                    <br>
                    Source:
                    <select style="width: 100%">
                        <option selected>AUV
                        <option>BRUVs
                        <option>Towed Video
                    </select>
                {% endswitch %}{% endcomment %}

                {% comment %}<div class="well" style="padding:10px; padding-left: 0; padding-right: 0;">{% endcomment %}

<!--
                    <ul class="nav nav-list">
                        <li class="nav-header">Type</li>

                            <div class="data-collected-type btn-group btn-group-vertical" style="width: 100%;">
                                <button type="button" id="auv" class="btn" style="width: 100%">AUV</button>
                                <button type="button" id="ti" class="btn" style="width: 100%">Towed Imagery</button>
                                <button type="button" id="dov" class="btn" style="width: 100%">DOV</button>
                            </div>
                    </ul>
-->

				<div id="sliderSet">
	                <ul class="nav nav-list" style="margin-bottom: 20px; margin-top: 10px">
	                        <li class="nav-header">Depth (m) <span id="selectedDepthRange" class="label label pull-right"></span>  </li>
	                        <div id="depthSlider" style="width: 100%; height:5px; margin-top: 2px;margin-bottom: 15px; "></div>
	                        <!--<span id="selectedDepthMin" class="label label-inverse pull-left" ></span>-->
	                        <!--<span id="selectedDepthMax" class="label label-inverse pull-right" ></span>-->
	                        <!--<div id="depthSlider" class="pull-left" style="width: 100%; height:5px; margin-top: 2px; margin-bottom: 20px; margin-left: 5px"></div>-->
	                </ul>
	
	                <ul class="nav nav-list" style="margin-bottom: 20px; ">
	                        <li class="nav-header">Altitude (m) <span id="selectedAltitudeRange" class="label label pull-right" ></span></li>
	                        <div id="altitudeSlider" style="width: 100%; height:5px; margin-top: 2px;margin-bottom: 15px; "></div>
	
	                    </ul>
	
	                <ul class="nav nav-list" style="margin-bottom: 20px; ">
	                        <li class="nav-header">Temperature (C) <span id="selectedTemperatureRange" class="label label pull-right" ></span> </li>
	                        <div id="temperatureSlider" style="width: 100%; height:5px; margin-top: 2px;margin-bottom: 15px; "></div>
	
	
	                </ul>
	
	                <ul class="nav nav-list" style="margin-bottom: 20px; ">
	                        <li class="nav-header">Salinity (PSU) <span id="selectedSalinityRange" class="label label pull-right" ></span> </li>
	                        <div id="salinitySlider" style="width: 100%; height:5px; margin-top: 2px;margin-bottom: 15px; "></div>
	
	
	                </ul>
				</div>
                {% comment %}Depth Range: <strong id="selectedDepthMin"></strong> to
                <strong id="selectedDepthMax"></strong> m{% endcomment %}


                {% comment %} </div>{% endcomment %}

            </form>

            {% comment %}{% switch Collections %}
                <div id="savecollection" class="well">
                    <p id="collection_info">Getting points...</p>
                    <a href="#" class="btn btn-primary btn-create-collection newCollection"
                       rel="popover"
                       data-html="true"
                       id="newCollectionPopover"
                       data-content="<div id='collection_options'>Collection Name <input type='text' id='collection_name' value='my new collection'><br><button class='btn btn-warning btn-create-collection pull-left' onclick='dismissPopover();'>Forget it</button><button class='btn btn-primary btn-create-collection pull-right' onclick='createCollection();'> Make it</button><br><p> </p></div>"
                       data-original-title="New Collection Options"> <i class="icon-plus-sign icon-2x pull-left"></i>
                        Save
                        As Collection</a>
                </div>
            {% endswitch %}{% endcomment %}
        </div>

        {% if user.is_authenticated %}
        <div id="CreateProjectModal" class="modal hide fade">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                        aria-hidden="true">&times;</button>
                <h3>Create Project</h3>
            </div>
            <div class="modal-body">
                <div id='collection_options' style='z-index:3002'>Project Name
                    <input type='text' id='collection_name' value='My Project'><br>
                </div>
            </div>
            <div class="modal-footer">
                <button class='btn btn-primary btn-create-collection pull-right'
                        onclick='createCollection();'> Ok
                </button>
            </div>
        </div>
        {% endif  %}
        
        <div class="span10 viewpane">

            <ul class="nav nav-tabs" style="margin-bottom:0px;">
                <li class="active"><a href="#map" data-toggle="tab"><i
                        class="icon-globe"></i> Map</a></li>
                <li><a href="#thm" data-toggle="tab"><i
                        class="icon-eye-open"></i> Images</a></li>
                {% switch Experimental %}
                    <li><a href="#tax" data-toggle="tab">Taxonomy</a></li>
                {% endswitch %}

                {% if user.is_authenticated %}
                <a href="#CreateProjectModal" class="btn btn-primary pull-right btn-create-collection newCollection" data-toggle="modal"><i class="icon-list-alt"></i> Create Project </a></a>
                {% endif %}
            </ul>


            <div class="tab-content">

                <div class="tab-pane active" id="map">

                    <div class="row-fluid" style="position:relative">
                        <div id='deployment-map' style="width:100%;height:600px;z-index:0;position:relative;" class="span9">
                            <!-- Map content inserted using JQuery -->
                        </div>

                        <div style="right:0;position:absolute;z-index:2000" class="span1 well well-small" >
                            <p><img src="{{ STATIC_URL }}images/depth-colorscale-22-30.png" alt="depth colorscale 22m to 30m"/>
                                Depth</br>(m)</p>
                        </div>
                    </div>

                    {% comment %}{% include "webinterface/dataviews/mapview.html" %}{% endcomment %}
                </div>

                {% switch Experimental %}
                    <div class="tab-pane" id="tax">
                        {% include "webinterface/dataviews/taxonomytree.html" %}
                    </div>
                {% endswitch %}

                <div class="tab-pane" id="thm">
                    {% include "webinterface/dataviews/thumbnails.html" %}
                </div>
            </div>
        </div>
    </div>

<!--  image Modal for map thumbnail click -->
<div id="imageModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		<h3 id="myModalLabel">Image Preview</h3>
	</div>
	<div class="modal-body">
		<p>Hmm...no image content has been loaded. This is a problem.</p>
	</div>
	<div class="modal-footer">
		<i class="icon-angle-left icon-4x pull-left"></i>
		<i class="icon-angle-right icon-4x pull-right"></i>
	</div>
</div>

<div id="dialog" title="Basic dialog"  style="display: none">
  <p>test testtest</p>
</div>
{% endblock %}

{% block add_script %}
    <script src="http://www.openlayers.org/dev/OpenLayers.js"></script>
    <script src='{{ STATIC_URL }}assets/catami-api/js/explore.js'></script>
    <script src='{{ STATIC_URL }}assets/catami-api/js/BaseMap.js'></script>
    <script src='{{ STATIC_URL }}assets/catami-api/js/ExploreMap.js'></script>

	<script type="text/javascript" src="/static/assets/catami-api/js/catamiImageView.js"></script>

	<!--
		<script>
		function openDialog() {
	
		    $('#dialog').remove();
		
		    $('#content').prepend('<div id="dialog" style="padding: 3px 0px 0px 0px;"><iframe src="URL of HTML page" style="padding:0; margin: 0; display: block; width: 100%; height: 100%;" frameborder="no" scrolling="auto"></iframe></div>');
		
		    $('#dialog').dialog({
		        title: 'Title of dialog',
		
		        close: function (event, ui) {
		              // Code which you want to run at the time of close dialog box;
		        },  
		        bgiframe: false,
		        width: 1000,
		        height: 500,
		        resizable: false,
		        modal: false
		    });
		};
		    $( "#opener" ).click(function() {
		    	$( "#dialog" ).dialog( "open" );
		    });
		  });
		</script>
	-->
  
    <script type="text/javascript">

	    // currentSelectedDeployments contains a list of the selected deployment IDs, from the deployment JSON.
	    // The IDs are the actual database IDs 
        var currentSelectedDeployments = [];
        
        var map = new ExploreMap("{{ WMS_URL }}", "{{ WMS_layer_name }}", "deployment-map");
        var deploymentDialogOpen = false;
        
        $('.newCollection').popover({ html: true});

        function dismissPopover() {
            $("#newCollectionPopover").popover('hide');
        }

        function selectCampaign(id) {
            getDeploymentList(id);
            //getNewImageList("limit=30&campaign=" + id);
        }

        function selectDeployment(id) {

	        var found = false;
	        
	        for (var i = 0; i < currentSelectedDeployments.length; i++){
		        if (currentSelectedDeployments[i] === id) {
			        found = true;
		        };
	        }
	        
	        if (!found) {
		    	currentSelectedDeployments.push(id);
	        };
/*
        	var idx = currentSelectedDeployments.indexOf(id);
        	
        	if (idx === -1) {
        		currentSelectedDeployments.push(id);
        	}
*/
        	//currentSelectedDeployments += id;
            //updateMapForSelectedDeployments(id);
            //getNewImageList("limit=30&deployment=" + id);
            updateUIForDeploymentList(currentSelectedDeployments);
        }

        function getDeploymentList(campaign_id) {

            //filter_array.length = 0;
            var deployment_ids = [];

            var apiurl = "/api/dev/deployment/?format=json";

            // apply filter if campaign id is valid
            if (!isNaN(campaign_id) && campaign_id != "") {
                apiurl += "&campaign=" + campaign_id;
            }

            $.getJSON(apiurl, function (deployment_list) {
                //alert ('L: ' + j.objects.length);
                var options = '';
                for (var i = 0; i < deployment_list.objects.length; i++) {
                    options += '<option value="' + deployment_list.objects[i].id + '">' + deployment_list.objects[i].short_name + '</option>';
                    var index = deployment_list.objects[i].id;
                    deployment_ids.push(index);
                }

                $("#deploymentSelect").html(options);

                //updateMapForSelectedDeployments(deployment_ids);

                // updateUIForDeploymentList(deployment_ids);
                //$('#deploymentSelect option:first').attr('selected', 'selected');
            })

        }

        function getCampaignList() {
            var apiurl = "/api/dev/campaign/?format=json";
            $.getJSON(apiurl, function (campaigns) {
                //alert ('L: ' + j.objects.length);
                var options = '<option value=""><strong class="btn">Select All</strong></option>';
                for (var i = 0; i < campaigns.objects.length; i++) {
                    options += '<option value="' + campaigns.objects[i].id + '">' + campaigns.objects[i].short_name + '</option>';
                }
                $("#campaignSelect").html(options);
            })
        }

        function updateUIForDeploymentList(deployment_ids) {
            var deploymentListReadable = [];
            var apiurl = "/api/dev/deployment/?format=json";

            //updateMapForSelectedDeployments(deployment_ids);
            
            if (deployment_ids.length > 0) {
                $('.btn-create-collection').removeAttr('disabled');
                $("#newCollectionPopover").popover('enable');
                //$("#collection_info").text(deployment_ids.length + ' deployments in the view');
	                
                for (var i = 0; i < deployment_ids.length; i++) {
                    //currentSelectedDeployments.push(deployment_ids[i]);
                    var apiurl = "/api/dev/deployment/"+deployment_ids[i]+"/?format=json";

                    $.ajax({
                    	url: apiurl, 
                    	async:false,
                    	dataType: 'json',
                    	success: function (deploymentInfo) {
	                    	//deploymentListReadable += '<tr><td><button class="close" onclick="removeDeploymentFromList('+deploymentInfo.id+')">&times;</button></td><td> '+deploymentInfo.short_name+'(id:'+deploymentInfo.id+')</tr></td>';
	                    	deploymentListReadable += '<li id="selectedDeploymentItem" class="active">\
                            						<button class="close" onclick="removeDeploymentFromList('+deploymentInfo.id+')"><i class="icon-remove-sign"></i></button><p style="width: 80%; overflow: hidden; display: inline-block; word-wrap: break-word;">r20120827_011950_si_02_SplitBommyDense</p>\
                            						</li><li class="divider" style="margin:0px;"></li>';
	                    }
	               });
                }
                console.log("test");
                console.log(deploymentListReadable);

                $("#selectedDeploymentList").html(deploymentListReadable);
                
                executeFilter();
                updateMapExtent();
                
            } else {
                $("#newCollectionPopover").popover('disable');
                $('.btn-create-collection').attr('disabled', 'disabled');
                $("#collection_info").text('Nothing being viewed');
                $("#sliderSet").attr('disabled', 'disabled');
                $("#selectedDeploymentList").html('<li id="selectedDeploymentItem" class="active">Nothing Selected</li>');
                
                executeFilter();
                //resetImagesAndMap();
            }
            
            
                
            //$('#savecollection').p("wee");
        }

        function removeDeploymentFromList(deploymentId) {
            currentSelectedDeployments.splice(currentSelectedDeployments.indexOf(deploymentId), 1);  
            //delete currentSelectedDeployments["'"+deploymentId+"'"];
            updateUIForDeploymentList(currentSelectedDeployments);
        }
        
        function createCollection() {
            var colname = $('#collection_name').val();
            $("#collection_options").html("<div id='create_collection_spinner'><i class='icon-refresh icon-spin icon-3x pull-left'></i> <p>I'm making your new collection. This will take a little while.</p></div>");

            var form = document.createElement('form');
            form.setAttribute('method', 'post');
            form.setAttribute('action', '{% url webinterface.views.create_collection_from_explore %}');
            form.style.display = 'hidden';

            var hiddenField = document.createElement("input");
            hiddenField.setAttribute("type", "hidden");
            hiddenField.setAttribute("name", "deployment_ids");
            hiddenField.setAttribute("value", currentSelectedDeployments);
            form.appendChild(hiddenField);

            var hiddenField2 = document.createElement("input");
            hiddenField2.setAttribute("type", "hidden");
            hiddenField2.setAttribute("name", "collection_name");
            hiddenField2.setAttribute("value", colname);
            form.appendChild(hiddenField2);

            var minDepth = $( "#depthSlider" ).slider( "values", 0 );
            var maxDepth = $( "#depthSlider" ).slider( "values", 1 );

            var minAltitude = $( "#altitudeSlider" ).slider( "values", 0 );
            var maxAltitude = $( "#altitudeSlider" ).slider( "values", 1 );

            var minTemperature = $( "#temperatureSlider" ).slider( "values", 0 );
            var maxTemperature = $( "#temperatureSlider" ).slider( "values", 1 );

            var minSalinity = $( "#salinitySlider" ).slider( "values", 0 );
            var maxSalinity = $( "#salinitySlider" ).slider( "values", 1 );

            var depth__gte = document.createElement("input");
            depth__gte.setAttribute("type", "hidden");
            depth__gte.setAttribute("name", "depth__gte");
            depth__gte.setAttribute("value", minDepth);
            form.appendChild(depth__gte);

            var depth__lte = document.createElement("input");
            depth__lte.setAttribute("type", "hidden");
            depth__lte.setAttribute("name", "depth__lte");
            depth__lte.setAttribute("value", maxDepth);
            form.appendChild(depth__lte);

            var temperature__gte = document.createElement("input");
            temperature__gte.setAttribute("type", "hidden");
            temperature__gte.setAttribute("name", "temperature__gte");
            temperature__gte.setAttribute("value", minTemperature);
            form.appendChild(temperature__gte);

            var temperature__lte = document.createElement("input");
            temperature__lte.setAttribute("type", "hidden");
            temperature__lte.setAttribute("name", "temperature__lte");
            temperature__lte.setAttribute("value", maxTemperature);
            form.appendChild(temperature__lte);

            var salinity__gte = document.createElement("input");
            salinity__gte.setAttribute("type", "hidden");
            salinity__gte.setAttribute("name", "salinity__gte");
            salinity__gte.setAttribute("value", minSalinity);
            form.appendChild(salinity__gte);

            var salinity__lte = document.createElement("input");
            salinity__lte.setAttribute("type", "hidden");
            salinity__lte.setAttribute("name", "salinity__lte");
            salinity__lte.setAttribute("value", maxSalinity);
            form.appendChild(salinity__lte);

            var altitude__gte = document.createElement("input");
            altitude__gte.setAttribute("type", "hidden");
            altitude__gte.setAttribute("name", "altitude__gte");
            altitude__gte.setAttribute("value", minAltitude);
            form.appendChild(altitude__gte);

            var altitude__lte = document.createElement("input");
            altitude__lte.setAttribute("type", "hidden");
            altitude__lte.setAttribute("name", "altitude__lte");
            altitude__lte.setAttribute("value", maxAltitude);
            form.appendChild(altitude__lte);

            document.body.appendChild(form);
            form.submit();
        }

        function updateMapExtent() {
            $.ajax({
                type: "POST",
                url: '{% url webinterface.views.get_multiple_deployment_extent %}',
                data: "deployment_ids=" + currentSelectedDeployments,
                success: function (response, textStatus, jqXHR) {
                    var boundsArr = response.extent.replace("(", "").replace(")", "").split(",");
                    var bounds = new OpenLayers.Bounds();
                    bounds.extend(new OpenLayers.LonLat(boundsArr[0], boundsArr[1]));
                    bounds.extend(new OpenLayers.LonLat(boundsArr[2], boundsArr[3]));
                    var geographic = new OpenLayers.Projection("EPSG:4326");
                    var mercator = new OpenLayers.Projection("EPSG:900913");
                    map.mapInstance.zoomToExtent(bounds.transform(geographic, mercator));
                }
            });
        }

       setDepthRange = function(minDepth, maxDepth) {
            $("#depthSlider").slider({
                range: true,
                min: minDepth,
                max: maxDepth,
                values: [ minDepth, maxDepth ],
                slide: function (event, ui) {
                    $("#selectedDepthRange").html(ui.values[ 0 ] + " : " +ui.values[ 1 ]);
                },
                stop: function( event, ui ) {
                    executeFilter();
                }
            });
            $("#selectedDepthRange").html(minDepth + " : " +maxDepth);
        }

        setAltitudeRange = function (minAltitude, maxAltitude) {
            $("#altitudeSlider").slider({
                range: true,
                min: minAltitude,
                max: maxAltitude,
                values: [ minAltitude, maxAltitude ],
                slide: function (event, ui) {
                    $("#selectedAltitudeRange").html(ui.values[ 0 ] + " : " + ui.values[ 1 ]);
                    //$("#selectedAltitudeMax").html(ui.values[ 1 ]);
                },
                stop: function( event, ui ) {
                    executeFilter();
                }
            });
            $("#selectedAltitudeRange").html(minAltitude + " : " +maxAltitude);
            //$("#selectedAltitudeMax").html(maxAltitude);
        };

        setTemperatureRange = function (minSalinity, maxSalinity) {
            $("#temperatureSlider").slider({
                range: true,
                min: minSalinity,
                max: maxSalinity,
                values: [ minSalinity, maxSalinity ],
                slide: function (event, ui) {
                    $("#selectedTemperatureRange").html(ui.values[ 0 ] + " : " + ui.values[ 1 ]);
                },
                stop: function( event, ui ) {
                    executeFilter();
                }
            });
            $("#selectedTemperatureRange").html(minSalinity + " : " +maxSalinity);
        };

        setSalinityRange = function (minTemperature, maxTemperature) {
            $("#salinitySlider").slider({
                range: true,
                min: minTemperature,
                max: maxTemperature,
                values: [ minTemperature, maxTemperature ],
                slide: function (event, ui) {
                    $("#selectedSalinityRange").html(ui.values[ 0 ] + " : " + ui.values[ 1 ]);
                },
                stop: function( event, ui ) {
                    executeFilter();
                }
            });
            $("#selectedSalinityRange").html(minTemperature + " : " + maxTemperature);
        };
        
        /**
        * Helper function to clear the images and map layers, when there is nothing to show
        **/
        resetImagesAndMap = function() {
        	//reset the map
        	map.clearMap();
            map.zoomToInitialExtent();
            
            //reset the images	
            $("#thmlist").html("");
            $("#thminfo").html('No images to show...');	
            $("#btnnext").hide();
            $("#btnnext").attr("onClick", "");
        
        };

        executeFilter = function() {          
            deploymentIds = currentSelectedDeployments;
            
            if(deploymentIds.length > 0) {
            
            	
				//get filter properties
				var minDepth = $( "#depthSlider" ).slider( "values", 0 );
				var maxDepth = $( "#depthSlider" ).slider( "values", 1 );
	
				var minAltitude = $( "#altitudeSlider" ).slider( "values", 0 );
				var maxAltitude = $( "#altitudeSlider" ).slider( "values", 1 );
	
				var minTemperature = $( "#temperatureSlider" ).slider( "values", 0 );
				var maxTemperature = $( "#temperatureSlider" ).slider( "values", 1 );
	
				var minSalinity = $( "#salinitySlider" ).slider( "values", 0 );
				var maxSalinity = $( "#salinitySlider" ).slider( "values", 1 );
	
				
	
				//construct and execute filter
				var filterArray = map.createExploreFilterArray(minDepth,
																maxDepth,
																minAltitude,
																maxAltitude,
																minTemperature,
																maxTemperature,
																minSalinity,
																maxSalinity,
																deploymentIds);
	
				map.updateMapUsingFilter(filterArray);
				executeImageFilter(minDepth,
									maxDepth,
									minAltitude,
									maxAltitude,
									minTemperature,
									maxTemperature,
									minSalinity,
									maxSalinity,
									deploymentIds);
			} else {
				resetImagesAndMap();	
			}
        };

        executeImageFilter = function(minDepth,
                                      maxDepth,
                                      minAltitude,
                                      maxAltitude,
                                      minTemperature,
                                      maxTemperature,
                                      minSalinity,
                                      maxSalinity,
                                      deploymentIds) {

            getNewImageList("pose__depth__gte="+minDepth+"&pose__depth__lte="+maxDepth+"&temperature__gte="+minTemperature+"&temperature__lte="+maxTemperature+"&salinity__gte="+minSalinity+"&salinity__lte="+maxSalinity+"&altitude__gte="+minAltitude+"&altitude__lte="+maxAltitude+"&deployment="+deploymentIds, 30);

        };

		$(function () {
		    $('#opener').click(function() {
				if(deploymentDialogOpen) { 
					deploymentDialogOpen = false; 
					$("#selectDeploymentDialog").dialog('close'); 
				} else { 
					deploymentDialogOpen = true; 
					$("#selectDeploymentDialog").dialog('open'); 
				} 
		    });
		});		    
		    
		function initSelectDeploymentDialog() {
	        var NewDialog = $('\
	        <form style="margin-bottom=0px;font-size:14px;font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;" id="selectDeploymentDialog">\
            <select name="campaignSelect" multiple="multiple"\
                    class="workpane" id="campaignSelect"\
                    onchange="selectCampaign($(this).val());" style="height:100%;float:left; width:30%; margin-left:0px;color:#000;font-family:Helvetica Neue, Helvetica, Arial, sans-serif;">\
                    <!-- Content inserted from jquery -->\
            </select>\
            <select name="deploymentSelect" multiple="multiple"\
                    class="workpane" id="deploymentSelect"\
                    onchange="selectDeployment($(this).val());" style="height:100%;float:right; width:69%; margin-left:4px;color:#000;font-family:Helvetica Neue, Helvetica, Arial, sans-serif;">\
                <!-- Content inserted from jquery -->\
            </select>\
            </form>');
	        NewDialog.dialog({
	            modal: false,
	            autoOpen: false,
	            open: getCampaignList(),
	            title: "Select Campaigns and deployments",
	            width: 600,
	            height: 400,
	            resizable: false,
	            draggable: false,
	            closeOnEscape: true,
	            position: { my: 'left top', at: 'right top', of: '#map-sidebar' }, 
	            buttons: [
	                {text: "Done", click: function() {$(this).dialog("close");
	                								  deploymentDialogOpen = false;
	                								 }
	                }
	            ]
	         }).siblings('.ui-dialog-titlebar').remove();
	        return true;
		};

        //var map = new ExploreMap("{{ WMS_URL }}", "{{ WMS_layer_name }}", "deployment-map")

        $(document).ready(function () {

           $('.data-collected-type').on('click', function(e){
                $('#auv').removeClass("active");
                $('#ti').removeClass("active");
                $('#dov').removeClass("active");
                $(e.target).addClass("active");
            });

            initSelectDeploymentDialog();
            getCampaignList();

            setDepthRange(0, 500);
            setAltitudeRange(0, 12000);
            setSalinityRange(2, 41);
            setTemperatureRange(-3, 40);

            updateUIForDeploymentList(currentSelectedDeployments);

        });
    </script>
{% endblock %}
