{% extends "base-topmenu.html" %}
{% load waffle_tags %}

{% block title %}{{ block.super }} : {{ request.path }}{% endblock %}
{% block tail_head %}
    <style type="text/css">
        {% comment %}body {
            padding: 10px;
        }{% endcomment %}

        img {
            width: 99%;
            height: auto;
        }

            /*select, button {
                vertical-align: top;
            }*/
        td {
            vertical-align: middle;
        }

        .viewpane {
            padding-left: 10px;
            border-left-style: solid;
            border-left-width: 1px;
            border-color: #ddd;
        }

        .viewobj {
            border-style: solid;
            border-width: 2px;
            border-color: #ddd;
        }

        .workpane {
            width: 99%;
            margin: 0;
        }

        input[type='number'] {
            padding: 0px;
            margin: 0px;
            width: 40px;
        }

        #map_container2 {
            height: 600px;
            width: 100%;
            border: 2px;
        }

        .textOverlay{
        	z-index:5000;
	        color: #fff;
	        position: absolute;
	        background-color: black;
	        margin: 2px;
	        padding: 2px;
        }

		#imageModal .modal-body {
			max-height: 800px;
		}

        {% comment %}.ui-slider .ui-slider-handle .ui-slider-range {
            margin-top: 40px;
        }{% endcomment %}

	</style>
{% endblock %}
{% block content %}
    <div class="row-fluid">

        <ul class="breadcrumb">
            <li><a href="{% url webinterface.views.explore %}">Explore</a></li>
        </ul>
    </div>

    <div class="row-fluid">

        <div class="span2">

            <form>

                {% comment %}{% switch Experimental %}
                    Year:
                    <input type="number" min="2006" step="1" value="2007"><br>
                    <br>
                    Source:
                    <select style="width: 100%">
                        <option selected>AUV
                        <option>BRUVs
                        <option>Towed Video
                    </select>
                {% endswitch %}{% endcomment %}

                {% comment %}<div class="well" style="padding:10px; padding-left: 0; padding-right: 0;">{% endcomment %}

                    <ul class="nav nav-list">
                        <li class="nav-header">Type</li>

                            <div class="data-collected-type btn-group btn-group-vertical" style="width: 100%;">
                                <button type="button" id="auv" class="btn" style="width: 100%">AUV</button>
                                <button type="button" id="ti" class="btn" style="width: 100%">Towed Imagery</button>
                                <button type="button" id="dov" class="btn" style="width: 100%">DOV</button>
                            </div>
                    </ul>


                    <ul class="nav nav-list" style="margin-right: 15px">
                        <li class="nav-header">Depth</li>

                        {% comment %}<span id="depthMin"></span>
                        <span id="depthMax" style="float:right"></span><br>{% endcomment %}
                        <div>
                            <span id="selectedDepthMin" class="label label-inverse text-center pull-left"></span>
                            <div id="depthSlider" style="height:5px; margin-top: 2px; margin-bottom: 15px; margin-left: 30px; "></div>

                        <span id="selectedDepthMax" class="label label-inverse text-center pull-right"></span>
                        </div>
                    </ul>

                    <ul class="nav nav-list" style="margin-right: 10px">
                        <li class="nav-header">Altitude</li>
                        <div id="altitudeSlider" style="width:100%; height:5px; margin-top: 2px; margin-bottom: 15px; margin-left: 5px"></div>
                    </ul>

                    <ul class="nav nav-list" style="margin-right: 10px">
                        <li class="nav-header">Temperature</li>
                        <div id="temperatureSlider" style="width:100%; height:5px; margin-top: 2px; margin-bottom: 15px; margin-left: 5px"></div>
                    </ul>

                    <ul class="nav nav-list" style="margin-right: 10px">
                        <li class="nav-header">Salinity</li>
                        <div id="salinitySlider" style="width:100%; height:5px; margin-top: 2px; margin-bottom: 15px; margin-left: 5px"></div>
                    </ul>

                    {% comment %}Depth Range: <strong id="selectedDepthMin"></strong> to
                    <strong id="selectedDepthMax"></strong> m{% endcomment %}


               {% comment %} </div>{% endcomment %}






               {% comment %} Campaign:
                <select name="campaignSelect" multiple="multiple"
                        class="workpane" id="campaignSelect"
                        onchange="selectCampaign($(this).val());">
                    <!-- Content inserted from jqery -->
                </select><br><br>
                Deployments:
                <select name="deploymentSelect" multiple="multiple"
                        class="workpane" id="deploymentSelect"
                        onchange="selectDeployment($(this).val());">
                    <!-- Content inserted from jqery -->
                </select>{% endcomment %}
            </form>

            {% comment %}{% switch Collections %}
                <div id="savecollection" class="well">
                    <p id="collection_info">Getting points...</p>
                    <a href="#" class="btn btn-primary btn-create-collection newCollection"
                       rel="popover"
                       data-html="true"
                       id="newCollectionPopover"
                       data-content="<div id='collection_options'>Collection Name <input type='text' id='collection_name' value='my new collection'><br><button class='btn btn-warning btn-create-collection pull-left' onclick='dismissPopover();'>Forget it</button><button class='btn btn-primary btn-create-collection pull-right' onclick='createCollection();'> Make it</button><br><p> </p></div>"
                       data-original-title="New Collection Options"> <i class="icon-plus-sign icon-2x pull-left"></i>
                        Save
                        As Collection</a>
                </div>
            {% endswitch %}{% endcomment %}
        </div>

        <div id="CreateProjectModal" class="modal hide fade">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                        aria-hidden="true">&times;</button>
                <h3>Create Project</h3>
            </div>
            <div class="modal-body">
                <div id='collection_options' style='z-index:3002'>Project Name
                    <input type='text' id='collection_name' value='My Project'><br>
                </div>
            </div>
            <div class="modal-footer">
                <button class='btn btn-primary btn-create-collection pull-right'
                        onclick='createCollection();'> Ok
                </button>
            </div>
        </div>

        <div class="span10 viewpane">

            <ul class="nav nav-tabs">
                <li class="active"><a href="#map" data-toggle="tab"><i
                        class="icon-globe"></i> Map</a></li>
                <li><a href="#thm" data-toggle="tab"><i
                        class="icon-eye-open"></i> Images</a></li>
                {% switch Experimental %}
                    <li><a href="#tax" data-toggle="tab">Taxonomy</a></li>
                {% endswitch %}

                <a href="#CreateProjectModal" class="btn btn-primary pull-right btn-create-collection newCollection" data-toggle="modal"><i class="icon-list-alt"></i> Create Project </a></a>

            </ul>


            <div class="tab-content">

                <div class="tab-pane active" id="map">

                    <div class="row-fluid" style="position:relative">
                        <div id='deployment-map' style="width:100%;height:600px;z-index:0" class="span9">
                            <!-- Map content inserted using JQuery -->
                        </div>

                        <div style="right:0;position:absolute;z-index:2000" class="span1 well well-small" >
                            <p><img src="{{ STATIC_URL }}images/depth-colorscale-22-30.png" alt="depth colorscale 22m to 30m"/>
                                Depth</br>(m)</p>
                        </div>
                    </div>

                    {% comment %}{% include "webinterface/dataviews/mapview.html" %}{% endcomment %}
                </div>

                {% switch Experimental %}
                    <div class="tab-pane" id="tax">
                        {% include "webinterface/dataviews/taxonomytree.html" %}
                    </div>
                {% endswitch %}

                <div class="tab-pane" id="thm">
                    {% include "webinterface/dataviews/thumbnails.html" %}
                </div>
            </div>
        </div>
    </div>

<!--  image Modal for map thumbnail click -->
<div id="imageModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		<h3 id="myModalLabel">Image Preview</h3>
	</div>
	<div class="modal-body">
		<p>Hmm...no image content? This is a problem</p>
	</div>
	<div class="modal-footer">
		<i class="icon-angle-left icon-4x pull-left"></i>
		<i class="icon-angle-right icon-4x pull-right"></i>
	</div>
</div>

{% endblock %}

{% block add_script %}
    <script src="http://www.openlayers.org/dev/OpenLayers.js"></script>
    <script src='{{ STATIC_URL }}assets/catami-api/js/explore.js'></script>
    <script src='{{ STATIC_URL }}assets/catami-api/js/map.js'></script>


	<script type="text/javascript">
		function launchImageModal(requested_id) {		    
		    var requested_api_url = 'http://localhost:8000/api/dev/image/'+requested_id+'/?&format=json';
		    var requested_id_int = parseInt(requested_id,10); 
		    var prev_id = requested_id_int - 1;
		    var next_id = requested_id_int + 1;
		    
		    $.ajax({
			     async: true,
			     url: requested_api_url,
			     dataType: "json",
			     success: function(json_data) {
			     	var imageName = json_data["web_location"].split("/").slice(-1)[0];
			     	
			     					   
		   			$('#imageModal .modal-body').html("<div><div class='textOverlay'><h6>"+imageName+"</h6></div><img src='"+json_data["web_location"]+"'></div>");
		   			$('#imageModal .modal-footer').html("<a href='javascript:launchImageModal("+prev_id+")' role='button' data-toggle='modal'><i class='icon-angle-left icon-4x pull-left'></i></a><a href='javascript:launchImageModal("+next_id+")'><i class='icon-angle-right icon-4x pull-right'></i></a>");
		   			$('#imageModal').modal({show:true});
				 }
            })                       
		}
		

	</script>

    <script type="text/javascript">

        var currentSelectedDeployments = [];

        $('.newCollection').popover({ html: true});

        function dismissPopover() {
            $("#newCollectionPopover").popover('hide');
        }



        function selectCampaign(id) {
            getDeploymentList(id);
            getNewImageList("limit=30&campaign=" + id);
            //alert('Selected campaign id: '+id);
        }

        function selectDeployment(id) {
            getNewImageList("limit=30&deployment=" + id);
            updateMapForSelectedDeployments(id);
            updateUIForDeploymentList(id);
        }

        function getDeploymentList(campaign_id) {

            filter_array.length = 0;
            var deployment_ids = [];

            var apiurl = "/api/dev/deployment/?format=json";

            // apply filter if campaign id is valid
            if (!isNaN(campaign_id) && campaign_id != "") {
                apiurl += "&campaign=" + campaign_id;
            }

            $.getJSON(apiurl, function (deployment_list) {
                //alert ('L: ' + j.objects.length);
                var options = '';
                for (var i = 0; i < deployment_list.objects.length; i++) {
                    options += '<option value="' + deployment_list.objects[i].id + '">' + deployment_list.objects[i].short_name + '</option>';
                    deployment_ids.push(deployment_list.objects[i].id);
                }

                $("#deploymentSelect").html(options);

                updateMapForSelectedDeployments(deployment_ids);

                updateUIForDeploymentList(deployment_ids);
                //$('#deploymentSelect option:first').attr('selected', 'selected');
            })

        }

        function getCampaignList() {
            var apiurl = "/api/dev/campaign/?format=json";
            $.getJSON(apiurl, function (campaigns) {
                //alert ('L: ' + j.objects.length);
                var options = '<option value="">--ALL--</option>';
                for (var i = 0; i < campaigns.objects.length; i++) {
                    options += '<option value="' + campaigns.objects[i].id + '">' + campaigns.objects[i].short_name + '</option>';
                }
                $("#campaignSelect").html(options);
                //$('#deploymentSelect option:first').attr('selected', 'selected');
            })
        }

        function updateUIForDeploymentList(deployment_ids) {
            $('.btn-create-collection').removeAttr('disabled');
            currentSelectedDeployments.length = 0;

            if (deployment_ids.length > 0) {
                $("#newCollectionPopover").popover('enable');

                $("#collection_info").text(deployment_ids.length + ' deployments in the view');
                for (var i = 0; i < deployment_ids.length; i++) {
                    currentSelectedDeployments.push(deployment_ids[i]);
                }

                updateMapExtent();

            } else {
                $("#newCollectionPopover").popover('disable');
                $('.btn-create-collection').attr('disabled', 'disabled');
                $("#collection_info").text('Nothing being viewed');
            }
            //$('#savecollection').p("wee");
        }

        function createCollection() {
            var colname = $('#collection_name').val();
            $("#collection_options").html("<div id='create_collection_spinner'><i class='icon-refresh icon-spin icon-3x pull-left'></i> <p>I'm making your new collection. This will take a little while.</p></div>");

            var form = document.createElement('form');
            form.setAttribute('method', 'post');
            form.setAttribute('action', '{% url webinterface.views.create_collection_from_deployments %}');
            form.style.display = 'hidden';

            var hiddenField = document.createElement("input");
            hiddenField.setAttribute("type", "hidden");
            hiddenField.setAttribute("name", "deployment_ids");
            hiddenField.setAttribute("value", currentSelectedDeployments);
            form.appendChild(hiddenField);

            var hiddenField2 = document.createElement("input");
            hiddenField2.setAttribute("type", "hidden");
            hiddenField2.setAttribute("name", "collection_name");
            hiddenField2.setAttribute("value", colname);
            form.appendChild(hiddenField2);


            document.body.appendChild(form)
            form.submit();
        }

        function updateMapExtent() {
            $.ajax({
                type: "POST",
                url: '{% url webinterface.views.get_multiple_deployment_extent %}',
                data: "deployment_ids=" + currentSelectedDeployments,
                success: function (response, textStatus, jqXHR) {
                    var boundsArr = response.extent.replace("(", "").replace(")", "").split(",");
                    var bounds = new OpenLayers.Bounds();
                    bounds.extend(new OpenLayers.LonLat(boundsArr[0], boundsArr[1]));
                    bounds.extend(new OpenLayers.LonLat(boundsArr[2], boundsArr[3]));
                    var geographic = new OpenLayers.Projection("EPSG:4326");
                    var mercator = new OpenLayers.Projection("EPSG:900913");
                    deploymentMap.zoomToExtent(bounds.transform(geographic, mercator));
                }
            });
        }

        setDepthRange = function(minDepth, maxDepth) {
            $("#depthSlider").slider({
                range: true,
                min: minDepth,
                max: maxDepth,
                values: [ minDepth, maxDepth ],
                slide: function (event, ui) {
                    $("#selectedDepthMin").html(ui.values[ 0 ]);
                    $("#selectedDepthMax").html(ui.values[ 1 ]);
                },
                stop: function( event, ui ) {
                    executeFilter(ui.values[ 0 ], ui.values[ 1 ]);
                }
            });
            $("#depthMin").html(minDepth);
            $("#depthMax").html(maxDepth);
            $("#selectedDepthMin").html(minDepth);
            $("#selectedDepthMax").html(maxDepth);
        }

        setAltitudeRange = function (minAltitude, maxAltitude) {
            $("#altitudeSlider").slider({
                range: true,
                min: minAltitude,
                max: maxAltitude,
                values: [ minAltitude, maxAltitude ],
                slide: function (event, ui) {

                }
            });
        };

        setSalinityRange = function (minSalinity, maxSalinity) {
            $("#temperatureSlider").slider({
                range: true,
                min: minSalinity,
                max: maxSalinity,
                values: [ minSalinity, maxSalinity ],
                slide: function (event, ui) {

                }
            });
        };

        setTemperatureRange = function (minTemperature, maxTemperature) {
            $("#salinitySlider").slider({
                range: true,
                min: minTemperature,
                max: maxTemperature,
                values: [ minTemperature, maxTemperature ],
                slide: function (event, ui) {

                }
            });
        };

        executeFilter = function() {
            //get depth from depth slider
            var minDepth = $( "#depthSlider" ).slider( "values", 0 );
            var maxDepth = $( "#depthSlider" ).slider( "values", 1 );

            //construct the depth filter
            var depthFilter = [
                new OpenLayers.Filter.Comparison({
                    type: OpenLayers.Filter.Comparison.BETWEEN,
                    property: "depth",
                    lowerBoundary: minDepth,
                    upperBoundary: maxDepth
                })
            ];

            map.updateMapUsingFilter(depthFilter);


        };

        var map = new CatamiMap("{{ WMS_URL }}", "{{ WMS_layer_name }}", "deployment-map")

        $(document).ready(function () {

           $('.data-collected-type').on('click', function(e){
                $('#auv').removeClass("active");
                $('#ti').removeClass("active");
                $('#dov').removeClass("active");
                $(e.target).addClass("active");
            });

            //getDeploymentList();
            //getCampaignList();

            //initDeploymentMap();

            var explore = new Explore();
            setDepthRange(0, 500);
            setAltitudeRange(0, 500);
            setSalinityRange(0, 500);
            setTemperatureRange(0, 500);


            //map.updateMapUsingFilter(map.createExploreFilterArray());

            //map.zoomToInitialExtent();
            //map.enablePopup();
        });
    </script>
{% endblock %}
