{% extends "base-topmenu.html" %}
{% block title %}{{ block.super }} : {{ request.path }}{% endblock %}
{% block tail_head %}
<style type="text/css">
    body {
        padding: 10px;
    }
    img {
        width: 99%;
        height: auto;
    }
    /*select, button {
        vertical-align: top;
    }*/
    td {
        vertical-align: middle;
    }
    .viewpane {
        padding-left: 10px;
        border-left-style: solid;
        border-left-width: 1px;
        border-color: #ddd;
    }
    .viewobj {
        border-style: solid;
        border-width: 2px;
        border-color: #ddd;
    }
    .workpane {
        width: 99%;
        margin:0;
    }
    input[type='number']{
        padding: 0px;
        margin: 0px;
        width: 40px;
    }
</style>
{% endblock %}
{% block content %}
<div class="row-fluid">

<div class="span2"> 
    <h3>Search:</h3>

    <form>
        <form class="form">
            <label>
                Year: 
                <input type="number" min="2006" step="1"
                value="2007">
            </label>
            Source:
            <select style="width: 100%">
                <option selected>AUV
                <option>BRUVs
                <option>Towed Video
            </select>
            Campaign:
            <select multiple="multiple" class="workpane" >
                <option selected>Tasmania 2008</option>
                <option>Tasmania 2009</option>
                <option>Tasmania 2010</option>
                <option>Scott Reef 2009</option>
                <option>Scott Reef 2011</option>
                <option>Bateman's Bay 2010</option>
            </select>
            Depth (min): <br>
            <form class="form-inline">
                0 <input style="width: 50%" type="range" min="0" max="1000"
                 value="100" id="drange"/> 1000m
            </form>
            Depth (max): <br>
            <form class="form-inline">
                0 <input style="width: 50%" type="range" min="0" max="1000"
                value="600" id="drange"/> 1000m
            </form>
        </form>
    </form>

    <div> 
        <button class="btn btn-primary">Save Collection</button>
    </div>

    <!--<table class="table table-striped">
        <tr>
            <td>Year</td>
            <td>2008</td>
        </tr>
        <tr>
            <td>Source</td>
            <td>AUV</td>
        </tr>
        <tr>
            <td>Depth</td>
            <td>30-100m</td>
        </tr>
        <tr>
            <td>Surveys</td>
            <td>
                <a href="#" rel="popover-roll" data-title="Surveys" 
                    data-content="
                        <ol>
                            <li>r20081008_032854_patchreefnorth_08_tightpatch</li>
                            <li>r20081008_224114_hippoN_09_transect</li>
                        </ol>"
                    data-html='true'
                    data-placement='right'>List</a>
            </td>
        </tr>
    </table>-->

</div>

<div class="span10 viewpane" >

    
    <ul class="nav nav-tabs">
        <li class="active"><a href="#map" data-toggle="tab">Map</a></li>
        <li><a href="#thm" data-toggle="tab">Thumbnails</a></li>
        <li><a href="#tax" data-toggle="tab">Taxonomy</a></li>
    </ul>


    <div class="tab-content">

        <div class="tab-pane active" id="map">
            {% include "webinterface/dataviews/mapview.html"%}
        </div>

        <div class="tab-pane" id="tax">
            {% include "webinterface/dataviews/taxonomytree.html"%}
        </div>
        
        <div class="tab-pane" id="thm">
            {% include "webinterface/dataviews/thumbnails.html"%}
        </div>

       

    </div>
</div>
</div>

{% endblock %}
