{% extends "base-topmenu.html" %}

{% block content %}

	<div class="">
    <h1>Catami HowTo: Automation and CATAMI</h1>

    <p class="lead">Automation, when it works, when it doesn't. How to use it to get work done faster.</p>
    
	<row>
		<div class="span4">
	    	<p class="lead">Work smarter</p>
		</div>
		
		<div class="span7">
			<p>The CATAMI annotation tool includes two independent automation tools to help you annotate images more quickly and with less repetition.</p>
		</div>
	</row>
	<row><div class="span12"><hr></div></row> 
	<row>
		<div class="span4">
	    	<p class="lead">1. Image similarity with Dolly</p>
		</div>
		
		<div class="span7">
			<p class="lead">What does it do?</p>
			<p>As you annotate images in broad scale annotation the CATAMI annotation tool will find similar images and allow you to copy your annotations to multiple images.</p>
			<p class="lead">OK, fine. So what is it exactly?</p>
			<p>Dolly is an interface between the CATAMI image archive and LIRE (Lucene Image REtrieval) (http://www.semanticmetadata.net/lire/). LIRE includes implementations of common numerical algorithms used widely in this kind of work</p>
			<p class="lead">How do I use it?</p>
			<p>You don't have to do anything, it's already running. The 'Similar Images' tab on the right of the annotation will show you images similar to the one you are looking at in the main view.</p>
			<p class="lead">Watch this video to learn more</p>
			<iframe width="560" height="315" src="//www.youtube.com/embed/o4QcjYVKz5c" frameborder="0" allowfullscreen></iframe>
			<br>
		</div>
	</row>	
    <row><div class="span12"><hr></div></row> 
	<row>
		<div class="span4">
	    	<p class="lead">2. In-image point similarity</p>
		</div>
		
		<div class="span7">
			<p class="lead">How does this work?</p>
			<p>The CATAMI annotation tool includes tools to help you annotate images more quickly and with less repetition.</p>
			<iframe width="560" height="315" src="//www.youtube.com/embed/8hmaYvJUXsI" frameborder="0" allowfullscreen></iframe>
			<br>
			<p class="lead">To activate intelligent point matching...</p>
			<p>Intelligent point matching for fine scale annotation is not turned on by default.  To turn it on go to the front page of your project and click the 'configure project' button</p>
			<p>In the configuration view, turn on 'Intelligent Point Selection'</p>
			<img src="{{STATIC_URL}}/images/catami_configure_project.png" class="img-polaroid">
			<p>Go back to your project and hold down the shift key as you select points to see this in action</p>
		</div>
	</row>
	</div>
{% endblock %}

