{% extends "base-topmenu.html" %}

{% block content %}

	<div class="">
    <h1>Catami HowTo: Get Started with CATAMI</h1>

    <p class="lead">Learning about CATAMI, making an account and getting to work.</p>

    <p class="lead"><u>Creating an account</u></p>
    <a>To create a new account, click on the green button "Get an Account it's free!" located on the left hand corner of the page </a>
    <br />
    <br />    
    <img src="/static/images/create1.png" alt="create1"/>
    <br />
    <a>Fill up the form to complete the registration</a>
    <br />
    <br />    
    <img src="/static/images/create2.png" alt="create2"/>

    <p class="lead"><u>Account privileges</u></p>
    <a>Logging in provides you with additional features, such as being able to upload data, create projects, and set permissions</a>
    <br />
    <br />    
    <img src="/static/images/visitor.png" alt="visitor"/>
    <br />
    <br />    
    <img src="/static/images/signed.png" alt="signed"/>

	</div>
{% endblock %}

