{% extends "base-topmenu.html" %}

{% block content %}

	<div class="">
    <h1>Catami HowTo: Automation and CATAMI</h1>

    <p class="lead">Automation, when it works, when it doesn't. How to use it to get work done faster.</p>
    
	<row>
		<div class="span4">
	    	<p class="lead">Work smarter</p>
		</div>
		
		<div class="span7">
			<p>The CATAMI annotation tool includes two independent automation tools to help you annotate images more quickly and with less repetition.</p>
		</div>
	</row>
	<row><div class="span12"><hr></div></row> 
	<row>
		<div class="span4">
	    	<p class="lead">1. Image similarity with Dolly</p>
		</div>
		
		<div class="span7">
			<p class="lead">What does it do?</p>
			<p>As you annotate images in broad scale annotation the CATAMI annotation tool will find similar images and allow you to copy your annotations to multiple images.</p>
			<p class="lead">OK, fine. So what is it exactly?</p>
			<p>Dolly is an interface between the CATAMI image archive and LIRE (Lucene Image REtrieval) (http://www.semanticmetadata.net/lire/). LIRE includes implementations of common numerical algorithms used widely in this kind of work</p>
			<p class="lead">How do I use it?</p>
			<p>You don't have to do anything, it's already running. The 'Similar Images' tab on the right of the annotation will show you images similar to the one you are looking at in the main view.</p>
		</div>
	</row>	
    <row><div class="span12"><hr></div></row> 
	<row>
		<div class="span4">
	    	<p class="lead">2. In-image point similarity</p>
		</div>
		
		<div class="span7">
			<p>The CATAMI annotation tool includes two independent automation tools to help you annotate images more quickly and with less repetition.</p>
		</div>
	</row>
	</div>
{% endblock %}

