{% extends "base-topmenu.html" %}

{% block content %}

	<div class="">
    <h1>Catami HowTo: Navigate CATAMI</h1>

    <p class="lead">How to navigate through data, yours, theirs, whatever.</p>

    <p class="lead"><u>Campaigns</u></p>
    <a>To view campaigns, click on the Explore button, and then Campaigns </a>
    <br />
    <br />    
    <img src="/static/images/campaign1.png" alt="campaign1"/>
    <img src="/static/images/campaign2.png" alt="campaign2"/>
    <br />
    <br />
    <p class="lead"><u>Deployment</u></p>
    <a>To view campaigns, click on the Explore button, and then Campaigns </a>
    <br />
    <br />    
    <img src="/static/images/deployment1.png" alt="deployment1"/>
    <img src="/static/images/deployment2.png" alt="deployment2"/>
    <br />
    <br />
	</div>
{% endblock %}

