{% extends "base-topmenu.html" %}

{% block content %}

	<div class="">
    <h1><i class="icon-question-sign"></i> Catami HowTos</h1>
	<p class="lead">User guides for CATAMI</p>
	<ul>
		<li> <a href="/howto/overview/" class="lead">HowTo: CATAMI, the overview</a></li>
	    <li> <a href="/howto/getstarted/" class="lead">HowTo: Get started with CATAMI</a></li>
	    <li> <a href="/howto/navigation/" class="lead">HowTo: Navigate around CATAMI</a></li>
	    <li> <a href="/howto/upload/" class="lead">HowTo: Upload Data</a></li>
	    <li> <a href="/howto/startannotating/" class="lead">HowTo: Get started with annotation</a></li>
	    <li> <a href="/howto/annotateimages/" class="lead">HowTo: Annotate an image</a></li>
	    <li> <a href="/howto/manageprojects/" class="lead">HowTo: Managing your project</a></li>
	    <li> <a href="/howto/automatecatami/" class="lead">HowTo: Automation and CATAMI</a></li>
    </ul>
	</div>
{% endblock %}

