{% extends "base-topmenu.html" %}

{% block content %}

	<div class="">
    <h1>Catami HowTo: Manage projects in CATAMI</h1>

    <p class="lead">Delete, export, import and bookmark projects</p>

    <p class="lead"><u>Deleting a Project</u></p>
    <a>Ensure you have logged in and have the right permissions. Once logged in, select a project you wish to delete, and click on the red 'Delete' button located on the top left corner of the screen</a>
    <br />
    <br />    
    <img src="/static/images/delete1.png" alt="delete1"/>
    <br />
    <a>The following confirmation dialog will appear, click on the confirmation button to proceed with deletion of project</a>
    <br />    
    <br />    
    <img src="/static/images/delete2.png" alt="delete2"/>    
	</div>
    <br />
    <p class="lead"><u>Exporting a project</u></p>
    <a>Ensure you have logged in and have the right permissions. Once logged in, select a project you wish to export, and click on the 'Download CSV' button located on the top left corner of the screen</a>
    <br />
    <br />    
    <img src="/static/images/export1.png" alt="export"/>
    <br />
    <br />    
    <a>The following confirmation dialog will appear, click on the confirmation button to export the project</a>
    <br />    
    <br />    
    <img src="/static/images/export2.png" alt="export2"/>    
	</div>

{% endblock %}

