{% extends "base-topmenu.html" %}

{% block content %}
<style type="text/css">
	.fat-line {
		width: 20px;
		height: 600px;
		background: #ffbb00;
		-moz-border-radius: 50px;
		-webkit-border-radius: 50px;
		border-radius: 50px;
	}
	
	.circle-marker {
		margin-left:-5px;
		width: 30px;
		height: 30px;
		background: red;
		-moz-border-radius: 15px;
		-webkit-border-radius: 15px;
		border-radius: 15px;	
	}
	
	.rectangle-label {
		width: 200px;
		height: 100px;
		background: #f8e8ad;		
		-moz-border-radius: 15px;
		-webkit-border-radius: 15px;
		border-radius: 15px;
	}

	.text-label {
		width:300px;
		padding-left:40px;
	}
	.image-label {
		margin-left:40px;
		width:200px;
		border: black;
		border-width: 1px;
	}
	.top-marker {
		margin-top:-590px;
	}
	.image-marker {
		margin-top:30px;
	}	
	.marker {
		margin-top:108px;
	}
	
	.diagram {
		padding:10px;
		padding-left: 30px;
		height:680px;
		border: rgba(0,0,0,0.3) solid;
		border-width: 1px;
		-moz-border-radius: 8px;
		-webkit-border-radius: 8px;
		border-radius: 8px;	
	}

</style>	
	<div class="container">
		<row>
		    <h1>CATAMI HowTo: Overview</h1>
		
			<div class="lead">
			CATAMI consists of two independent activities; The CATAMI website (this) and the CATAMI Classification Scheme <a href="/classification"><i class="icon-external-link-sign"></i></a>
			</div>
		</row>
		<row>
			<p class="lead">Use the CATAMI website to explore and annotate marine imagery with these primary workflows.</p>
		</row>
		<row>
			<div class="span5 diagram">
			    <p class="lead">1. Exploring Imagery</p>
			    <div class="shape">
					<div class="fat-line"></div>
					<div class="circle-marker top-marker"><div class="text-label lead">Campaign overview</div></div><img src="{{ STATIC_URL }}images/campaignview.png" class="image-label">
					<div class="circle-marker image-marker"><div class="text-label lead">Campaigns contain deployments</div></div><img src="{{ STATIC_URL }}images/campaigndetailview.png" class="image-label">
					<div class="circle-marker image-marker"><div class="text-label lead">Deployments contain imagery</div></div><img src="{{ STATIC_URL }}images/deploymentdetailview.png" class="image-label">
			    </div>
			</div>
			<div class="span5 diagram">
			    <p class="lead">2. Annotating Imagery</p>
			    <div class="shape">
					<div class="fat-line"></div>
					<div class="circle-marker top-marker"><div class="text-label"><p class="lead">Login  <a href="/accounts/signin/"><i class="icon-external-link-sign"></i></a> / Make an account <a href="/accounts/signup/"><i class="icon-external-link-sign"></i></a></p><p>Data upload and annotation are available to you when you login to CATAMI.</p></div></div>
					<div class="circle-marker marker"><div class="text-label"><p class="lead">Upload data <a href="/staging/upload/"><i class="icon-external-link-sign"></i></a></p>Upload images and data using the built-in web uploader, or use the command line CATAMI upload tool.<p></div></div>
					<div class="circle-marker marker"><div class="text-label"><p class="lead">Create a project <a href="/projects/create/"><i class="icon-external-link-sign"></i></a></p><p>Create a project to annotate images.  Choose which images to annotate and other annotation decisions.</p></div></div>
					<div class="circle-marker marker"><div class="text-label"><p class="lead">Annotate images <i class="icon-repeat icon-spin"> </i> <a href="/projects/"><i class="icon-external-link-sign"></i></a></p><p>Use CATAMI tools to annotate faster.</p></div>
					
					</div>
					<div class="circle-marker marker"><div class="text-label lead">Download / Share annotations <a href="/projects/"><i class="icon-external-link-sign"></i></a></div></div>
			    </div>
			</div>
		</row>
	</div>
{% endblock %}

