{% extends "base-topmenu.html" %}

{% block content %}

<div class="">
    <h1>Catami HowTo: Annotate an image</h1>
	<p class="lead">Get started with benthic habitat annotation with CATAMI</p>
	<row>
		<div class="span4">
	    	<p class="lead">About Annotation</p>
		</div>
		
		<div class="span7">
			<p class="lead">CATAMI supports two benthic habitat annotation methods;</p>
			<ol>
				<li><p class="lead">Fine scale annotation:</p><p>Assign a number of (x,y) points to an image and individually set each point with the underlying identifying class.</p></li>
				<li><p class="lead">Broad scale annotation:</p><p>Assign classes to an entire image and (optionally) set the percentage coverage of each one.</p></li>
			</ol>	
		</div>
	</row>
	<row><div class="span12"><hr></div></row>
	<row>
		<div class="span4">
	    	<p class="lead">1. Fine scale annotation</p>
		</div>
		
		<div class="span7">
				<iframe width="640" height="360" src="//www.youtube.com/embed/6vPfQ6CQT_8?feature=player_detailpage" frameborder="0" allowfullscreen></iframe>
		</div>
	</row>
	<row><div class="span12"><hr></div></row>    
	<row>
		<div class="span4">
	    	<p class="lead">2. Broad scale annotation</p>
		</div>
		
		<div class="span7">
				<iframe width="640" height="360" src="//www.youtube.com/embed/6vPfQ6CQT_8?feature=player_detailpage" frameborder="0" allowfullscreen></iframe>

		</div>
	</row>
	<row><div class="span12"><hr></div></row> 
	
	<row>
		<div class="span4">
	    	<p class="lead">Next Steps</p>
		</div>
		
		<div class="span7">
			<a href="/howto/automatecatami/" class="lead"><i class="icon-chevron-sign-right"></i> Howto: Automate annotation</a>
		</div>
	</row>

</div>
{% endblock %}

