{% extends "base-topmenu.html" %}

{% block content %}

	<div class="container">
        <h1>Catami HowTo: Navigate CATAMI</h1>

        <row>
            <div class="span4">                            	
	    	    <p class="lead">Campaigns</p>
            </div>
		    <div class="span7">         
                <p>To view campaigns, click on the Explore button, and then Campaigns </p>
                <img src="/static/images/campaign1.png" alt="campaign1"/>
                <br />
                <br />
                <p>Campaigns List:</p>
                <img src="/static/images/campaign2.png" alt="campaign2"/>
            </div>                    
        </row>
        <row><div class="span12"><hr></div></row>
        <row>
            <div class="span4">                            	
	    	    <p class="lead">Deployments</p>
            </div>
		    <div class="span7">         
                <p>To view deployments, click on the Explore button, and then Deployments </p>
                <img src="/static/images/deployment1.png" alt="deployment1"/>
                <br />
                <br />
                <p>Deployments List:</p>
                <img src="/static/images/deployment2.png" alt="deployment2"/>
            </div>                    
        </row>
        <row><div class="span12"><hr></div></row>
        <row>
            <div class="span4">                            	
	    	    <p class="lead">Projects</p>
            </div>
		    <div class="span7">         
                <p>To view projects, click on the Project button located on top </p>
                <img src="/static/images/project1.png" alt="project1"/>
                <br />
                <br />
                <p>Projects List:</p>
                <img src="/static/images/project2.png" alt="project2"/>
            </div>                    
        </row>
        <row><div class="span12"><hr></div></row>
        <row>
            <div class="span4">
	 	        <p class="lead">Next Steps</p>
	        </div>
            <div class="span7">
	            <a href="/howto/upload/" class="lead"><i class="icon-chevron-sign-right"></i> Howto: Upload Data</a>
            </div>
        </row>
	</div>
{% endblock %}

