{% extends "base-topmenu.html" %}

{% block content %}

	<div class="container">
        <h1>Catami HowTo: Manage projects in CATAMI</h1>
        <div class="alert alert-info">
		    	    <strong>Important!</strong> You'll need to be logged in to perform the following operations
	    </div>
        <row>
            <div class="span4">                            	
	            <p class="lead">Deleting a Project</p>
            </div>
	        <div class="span7">         
                <p>Select a project you wish to delete, and click on the red 'Delete' button located on the top left corner of the screen</p>
                <img src="/static/images/delete1.png" alt="delete1"/>
            </div>                    
        </row>
        <row>
            <div class="span4"></div>
	        <div class="span7">         
                <p>The following confirmation dialog will appear, click on the confirmation button to proceed with deletion of project</p>
                <img src="/static/images/delete2.png" alt="delete2"/>
            </div>                    
        </row>
        <row><div class="span12"><hr></div></row>    
        <row>
            <div class="span4">                            	
	            <p class="lead">Exporting a project</p>
            </div>
	        <div class="span7">         
                <p>Select a project you wish to export, and click on the 'Download CSV' button located on the top left corner of the screen</p>
                <img src="/static/images/export1.png" alt="export1"/>
            </div>                    
        </row>
        <row>
            <div class="span4"></div>
	        <div class="span7">         
                <p>The following confirmation dialog will appear, click on the confirmation button to export the project</p>
                <img src="/static/images/export2.png" alt="export2"/>
            </div>                    
        </row> 
        <row><div class="span12"><hr></div></row>    
        <row>
            <div class="span4">                            	
	            <p class="lead">Importing a project</p>
            </div>
	        <div class="span7">         
                <br />
                <p>On the projects page, click on the 'Import Project' button located on the top left corner of the screen</p>
                <img src="/static/images/import1.png" alt="import1"/>
            </div>                    
        </row>
        <row>
            <div class="span4"></div>
	        <div class="span7">       
                <br />  
                <p>Click to select csv to import</p>
                <img src="/static/images/import2.png" alt="import2"/>
            </div>                    
        </row>           
        <row>
            <div class="span4"></div>
	        <div class="span7">      
                <br />   
                <p>Select CSV to import</p>
                <img src="/static/images/import3.png" alt="import3"/>
            </div>                    
        </row> 
        <row>
            <div class="span4"></div>
	        <div class="span7">  
                <br />       
                <p>Fill up form with the respective project information and click on "Import" to begin import process.</p>
                <img src="/static/images/import4.png" alt="import4"/>
            </div>                    
        </row>   
	</div>

{% endblock %}

