{% extends "base-imageview.html" %}
{% block title %}{{ block.super }} : {{ request.path }}{% endblock %}

{% block leftpane %}
<a href="#" class="btn" rel="popover-roll" data-placement="right" style="padding:7px; width:20px;" data-html="true" data-content="<img src='{{ STATIC_URL }}images/simple_annotate.png' width='100%' alt='Map'><p>This will be optionally pinnable to the side so that it is always viewable.</p>" data-original-title="Map info"><i class="icon-globe"></i></a><br>
            <a href="#" class="btn" rel="popover-roll" data-placement="right" style="padding:7px; width:20px;" data-html="true" data-content="<img src='{{ STATIC_URL }}images/mini-divedata.png' width='100%' alt='Map'><p>This will be optionally pinnable to the side so that it is always viewable.</p>" data-original-title="Image information" ><i class="icon-info-sign"></i></a><br>
            <a href="#" class="btn" rel="popover-roll" data-placement="right" style="padding:7px; width:20px;" data-html="true" data-content="<img src='{{ STATIC_URL }}images/pie14.png' width='100%' alt='Map'><p>This will be optionally pinnable to the side so that it is always viewable.</p>" data-original-title="Class distribution"><i class="icon-bar-chart"></i></a><br>
{% endblock %}

{% block imageview %}
<img src="{{ STATIC_URL }}images/PR_20090727_025242_115_LC16.png" />
{% endblock %}

{% block rightpane %}
<div class="well infopane">
    <h1><i class="icon-eye-open"></i> View</h1>
    Something useful
</div>
<div class="well infopane">
    <h2>Overlay previous annotations <a class="pull-right" href="#" rel="tooltip" data-placement="left" title="This image has previous annotations that may be relevant. Click below to load/refine an existing batch of annotations for this image."><i class="icon-question-sign"></i></a></h2>
    <div class=" divfixedh70">
    <small>
    <table class="table table-striped">
    <tr><td><a href="#" rel="popover-roll" data-placement="left" data-html="true" data-content="<p>Completed by: ??<br>Date: ??<br>Workset: ??<br>Collection: ??<br>Sampling: random (sequential)<br>Summary: 70 Random points from 104 images</p>" data-original-title="Annotation information">A. Friedman | 02-12-2012 | 70pt/104im</a></td></tr>
    <tr><td><a href="#" rel="popover-roll" data-placement="left" data-html="true" data-content="<p>Completed by: ??<br>Date: ??<br>Workset: ??<br>Collection: ??<br>Sampling: random (sequential)<br>Summary: 70 Random points from 104 images</p>" data-original-title="Annotation information">S. Williams | 02-12-2012 | 200pt/104im</a></td></tr>
    <tr><td><a href="#" rel="popover-roll" data-placement="left" data-html="true" data-content="<p>Completed by: ??<br>Date: ??<br>Workset: ??<br>Collection: ??<br>Sampling: random (sequential)<br>Summary: 70 Random points from 104 images</p>" data-original-title="Annotation information">D. Steinberg | 02-12-2012 | 50pt/104im</a></td></tr>
    </table>
    </small>
    </div>
</div>
{% endblock %}

{% block leftfootpane %}&nbsp;{% endblock %}

{% block linfofootpane %}
<i class="icon-zoom-out"></i> <input style="width:100px;" type="range" min="0" max="100" value="0" step="3"/> <i class="icon-zoom-in"></i>
{% endblock %}

{% block midfootpane %}
<a href="#" class="btn" id="showthumnails"><i class="icon-circle-arrow-up"></i><br>Thumbnails</a>
{% endblock %}

{% block rinfofootpane %}<a href="#" class="btn"><i class="icon-circle-arrow-left"></i><br>Prev</a>&nbsp;<a href="#" class="btn" ><i class="icon-circle-arrow-right"></i><br>Next</a>{% endblock %}

{% block rightfootpane %}
<a href="{% url webinterface.views.image_view %}" class="btn btn-inverse" style="width: 60px;margin: 0;" title="View"><i class="icon-eye-open"></i><br>View</a>
<a href="{% url webinterface.views.image_annotate %}" class="btn" style="width: 60px;margin: 0;" title="Annotate"><i class="icon-tag"></i><br>Annotate</a>
<a href="{% url webinterface.views.image_edit %}" class="btn" style="width: 60px;margin: 0;" title="Edit"><i class="icon-edit"></i><br>Edit</a>
{% endblock %}



