{% extends "webinterface/imageview.html" %}

{% block rightpane %}
<div class="well infopane">
    <h1><i class="icon-edit"></i> Edit</h1>
    <img src="{{ STATIC_URL }}images/EditPane.png" alt="Map">
</div>
{% endblock %}

{% block rightfootpane %}
<a href="/webinterface/imageview" class="btn" style="width: 60px;margin: 0;" title="View"><i class="icon-eye-open"></i><br>View</a>
<a href="/webinterface/imageannotate" class="btn" style="width: 60px;margin: 0;" title="Annotate"><i class="icon-tag"></i><br>Annotate</a>
<a href="/webinterface/imageedit" class="btn btn-inverse" style="width: 60px;margin: 0;" title="Edit"><i class="icon-edit"></i><br>Edit</a>
{% endblock %}
