{% extends "webinterface/imageview.html" %}

{% block imageview %}
<div id="imageFrame">
	<img  src="{{ STATIC_URL }}images/PR_20090727_025242_115_LC16.png" id="image" /></p>
</div>
<form id="pointDetails" style="display:none;">
    <h2><i class="icon-tag"></i> Annotate <a class="pull-right" href="#" rel="tooltip" data-placement="left" title="Type a class name/keyword to filter the list of options."><i class="icon-question-sign"></i></a></h2>
    <!--<input type="text" class="input-medium search-query" style="width:210px;"  placeholder="Type name/keyword">-->
	<div class="ui-widget">
	    <label for="annotationLabel">Tags: </label>
	    <input id="annotationLabel"><br>
	</div>
	<a href="#" id="close">Close</a>
</form>
{% endblock %}

{% block leftpane %}
	<a href="#" class="btn" rel="popover-roll" data-placement="right" style="padding:7px; width:20px;" data-html="true" data-content="<img src='{{ STATIC_URL }}images/simple_annotate.png' width='100%' alt='Map'><p>This will be optionally pinnable to the side so that it is always viewable.</p>" data-original-title="Map info"><i class="icon-globe"></i></a><br>
    <a href="#" class="btn" rel="popover-roll" data-placement="right" style="padding:7px; width:20px;" data-html="true" data-content="<img src='{{ STATIC_URL }}images/mini-divedata.png' width='100%' alt='Map'><p>This will be optionally pinnable to the side so that it is always viewable.</p>" data-original-title="Image information" ><i class="icon-info-sign"></i></a><br>
    <a href="#" class="btn" rel="popover-roll" data-placement="right" style="padding:7px; width:20px;" data-html="true" data-content="<img src='{{ STATIC_URL }}images/pie14.png' width='100%' alt='Map'><p>This will be optionally pinnable to the side so that it is always viewable.</p>" data-original-title="Class distribution"><i class="icon-bar-chart"></i></a><br>
{% endblock %}

{% block rightpane %}
<div class="well infopane">
    <h1><i class="icon-tag"></i> Annotate <a class="pull-right" href="#" rel="tooltip" data-placement="left" title="Type a class name/keyword to filter the list of options."><i class="icon-question-sign"></i></a></h1>
    <form class="form-search" style="margin:0 0 5px 0;padding:0;">
        <input type="text" class="input-medium search-query" style="width:210px;"  placeholder="Type name/keyword">
    </form>
    <div class=" divfixedh200">
    <small>
    <table class="table table-striped">
    <tr><td><a href="#" rel="popover-roll" data-placement="left" data-html="true" data-content="<p>Synonyms: ?, ?, ?<br>Kingdom: ?<br>Phylum: ?<br>Class: ?<br>Order: ?<br>Family: ?<br>Genus: ?<br>Species: ?</p>" data-original-title="Label information">Algae: large canopy forming</a></td></tr>
    <tr><td><a href="#" rel="popover-roll" data-placement="left" data-html="true" data-content="<p>Synonyms: ?, ?, ?<br>Kingdom: ?<br>Phylum: ?<br>Class: ?<br>Order: ?<br>Family: ?<br>Genus: ?<br>Species: ?</p>" data-original-title="Label information">Algae: erect branching</a></td></tr>
    <tr><td><a href="#" rel="popover-roll" data-placement="left" data-html="true" data-content="<p>Synonyms: ?, ?, ?<br>Kingdom: ?<br>Phylum: ?<br>Class: ?<br>Order: ?<br>Family: ?<br>Genus: ?<br>Species: ?</p>" data-original-title="Label information">Bacteria: Cyanobacteria</a></td></tr>
    <tr><td><a href="#" rel="popover-roll" data-placement="left" data-html="true" data-content="<p>Synonyms: ?, ?, ?<br>Kingdom: ?<br>Phylum: ?<br>Class: ?<br>Order: ?<br>Family: ?<br>Genus: ?<br>Species: ?</p>" data-original-title="Label information">Algae: Ecklonia</a></td></tr>
    <tr><td><a href="#" rel="popover-roll" data-placement="left" data-html="true" data-content="<p>Synonyms: ?, ?, ?<br>Kingdom: ?<br>Phylum: ?<br>Class: ?<br>Order: ?<br>Family: ?<br>Genus: ?<br>Species: ?</p>" data-original-title="Label information">Worms: Flatworms</a></td></tr>
    <tr><td><a href="#" rel="popover-roll" data-placement="left" data-html="true" data-content="<p>Synonyms: ?, ?, ?<br>Kingdom: ?<br>Phylum: ?<br>Class: ?<br>Order: ?<br>Family: ?<br>Genus: ?<br>Species: ?</p>" data-original-title="Label information">Worms: Echiura</a></td></tr>
    <tr><td><a href="#" rel="popover-roll" data-placement="left" data-html="true" data-content="<p>Synonyms: ?, ?, ?<br>Kingdom: ?<br>Phylum: ?<br>Class: ?<br>Order: ?<br>Family: ?<br>Genus: ?<br>Species: ?</p>" data-original-title="Label information">Bryozoa: Encrusting</a></td></tr>
    <tr><td><a href="#" rel="popover-roll" data-placement="left" data-html="true" data-content="<p>Synonyms: ?, ?, ?<br>Kingdom: ?<br>Phylum: ?<br>Class: ?<br>Order: ?<br>Family: ?<br>Genus: ?<br>Species: ?</p>" data-original-title="Label information">Bryozoa: Dendroid</a></td></tr>
    <tr><td><a href="#" rel="popover-roll" data-placement="left" data-html="true" data-content="<p>Synonyms: ?, ?, ?<br>Kingdom: ?<br>Phylum: ?<br>Class: ?<br>Order: ?<br>Family: ?<br>Genus: ?<br>Species: ?</p>" data-original-title="Label information">Bryozoa: Foliaceous</a></td></tr>
    <tr><td><a href="#" rel="popover-roll" data-placement="left" data-html="true" data-content="<p>Synonyms: ?, ?, ?<br>Kingdom: ?<br>Phylum: ?<br>Class: ?<br>Order: ?<br>Family: ?<br>Genus: ?<br>Species: ?</p>" data-original-title="Label information">Sponges: Bee hive</a></td></tr>
    <tr><td><a href="#" rel="popover-roll" data-placement="left" data-html="true" data-content="<p>Synonyms: ?, ?, ?<br>Kingdom: ?<br>Phylum: ?<br>Class: ?<br>Order: ?<br>Family: ?<br>Genus: ?<br>Species: ?</p>" data-original-title="Label information">Sponges: Cushion</a></td></tr>
    <tr><td><a href="#" rel="popover-roll" data-placement="left" data-html="true" data-content="<p>Synonyms: ?, ?, ?<br>Kingdom: ?<br>Phylum: ?<br>Class: ?<br>Order: ?<br>Family: ?<br>Genus: ?<br>Species: ?</p>" data-original-title="Label information">Sponges: Elongated drips</a></td></tr>
    <tr><td><a href="#" rel="popover-roll" data-placement="left" data-html="true" data-content="<p>Synonyms: ?, ?, ?<br>Kingdom: ?<br>Phylum: ?<br>Class: ?<br>Order: ?<br>Family: ?<br>Genus: ?<br>Species: ?</p>" data-original-title="Label information">Sponges: Creeping</a></td></tr>
    <tr><td><a href="#" rel="popover-roll" data-placement="left" data-html="true" data-content="<p>Synonyms: ?, ?, ?<br>Kingdom: ?<br>Phylum: ?<br>Class: ?<br>Order: ?<br>Family: ?<br>Genus: ?<br>Species: ?</p>" data-original-title="Label information">Sponges: Patchy</a></td></tr>
    <tr><td><a href="#" rel="popover-roll" data-placement="left" data-html="true" data-content="<p>Synonyms: ?, ?, ?<br>Kingdom: ?<br>Phylum: ?<br>Class: ?<br>Order: ?<br>Family: ?<br>Genus: ?<br>Species: ?</p>" data-original-title="Label information">Echinoderms: stalked crinoid</a></td></tr>
    <tr><td><a href="#" rel="popover-roll" data-placement="left" data-html="true" data-content="<p>Synonyms: ?, ?, ?<br>Kingdom: ?<br>Phylum: ?<br>Class: ?<br>Order: ?<br>Family: ?<br>Genus: ?<br>Species: ?</p>" data-original-title="Label information">Echinoderms: unstalked crinoid</a></td></tr>
    <tr><td><a href="#" rel="popover-roll" data-placement="left" data-html="true" data-content="<p>Synonyms: ?, ?, ?<br>Kingdom: ?<br>Phylum: ?<br>Class: ?<br>Order: ?<br>Family: ?<br>Genus: ?<br>Species: ?</p>" data-original-title="Label information">Echinoderms: regular urchin</a></td></tr>
    <tr><td><a href="#" rel="popover-roll" data-placement="left" data-html="true" data-content="<p>Synonyms: ?, ?, ?<br>Kingdom: ?<br>Phylum: ?<br>Class: ?<br>Order: ?<br>Family: ?<br>Genus: ?<br>Species: ?</p>" data-original-title="Label information">Echinoderms: irregular urchin</a></td></tr>
    <tr><td><a href="#" rel="popover-roll" data-placement="left" data-html="true" data-content="<p>Synonyms: ?, ?, ?<br>Kingdom: ?<br>Phylum: ?<br>Class: ?<br>Order: ?<br>Family: ?<br>Genus: ?<br>Species: ?</p>" data-original-title="Label information">Crustacea: Crabs</a></td></tr>
    <tr><td><a href="#" rel="popover-roll" data-placement="left" data-html="true" data-content="<p>Synonyms: ?, ?, ?<br>Kingdom: ?<br>Phylum: ?<br>Class: ?<br>Order: ?<br>Family: ?<br>Genus: ?<br>Species: ?</p>" data-original-title="Label information">Crustacea: Barnacles?</a></td></tr>
    <tr><td><a href="#" rel="popover-roll" data-placement="left" data-html="true" data-content="<p>Synonyms: ?, ?, ?<br>Kingdom: ?<br>Phylum: ?<br>Class: ?<br>Order: ?<br>Family: ?<br>Genus: ?<br>Species: ?</p>" data-original-title="Label information">Sponges: Lobsters</a></td></tr>
    <tr><td><a href="#" rel="popover-roll" data-placement="left" data-html="true" data-content="<p>Synonyms: ?, ?, ?<br>Kingdom: ?<br>Phylum: ?<br>Class: ?<br>Order: ?<br>Family: ?<br>Genus: ?<br>Species: ?</p>" data-original-title="Label information">Cnidaria: Hydrocorals</a></td></tr>
    <tr><td><a href="#" rel="popover-roll" data-placement="left" data-html="true" data-content="<p>Synonyms: ?, ?, ?<br>Kingdom: ?<br>Phylum: ?<br>Class: ?<br>Order: ?<br>Family: ?<br>Genus: ?<br>Species: ?</p>" data-original-title="Label information">Cnidaria: Jellies</a></td></tr>
    <tr><td><a href="#" rel="popover-roll" data-placement="left" data-html="true" data-content="<p>Synonyms: ?, ?, ?<br>Kingdom: ?<br>Phylum: ?<br>Class: ?<br>Order: ?<br>Family: ?<br>Genus: ?<br>Species: ?</p>" data-original-title="Label information">Cnidaria: Hydroids</a></td></tr>
    <tr><td><a href="#" rel="popover-roll" data-placement="left" data-html="true" data-content="<p>Synonyms: ?, ?, ?<br>Kingdom: ?<br>Phylum: ?<br>Class: ?<br>Order: ?<br>Family: ?<br>Genus: ?<br>Species: ?</p>" data-original-title="Label information">Cnidaria: Flytrap</a></td></tr>
    <tr><td><a href="#" rel="popover-roll" data-placement="left" data-html="true" data-content="<p>Synonyms: ?, ?, ?<br>Kingdom: ?<br>Phylum: ?<br>Class: ?<br>Order: ?<br>Family: ?<br>Genus: ?<br>Species: ?</p>" data-original-title="Label information">Cnidaria: Zooanthids</a></td></tr>
    <tr><td><a href="#" rel="popover-roll" data-placement="left" data-html="true" data-content="<p>Synonyms: ?, ?, ?<br>Kingdom: ?<br>Phylum: ?<br>Class: ?<br>Order: ?<br>Family: ?<br>Genus: ?<br>Species: ?</p>" data-original-title="Label information">Cnidaria: Tube anemones</a></td></tr>
    </table>
    </small>
    </div>
</div>



<div class="well infopane">
    <h2>Previous relevant annotations <a class="pull-right" href="#" rel="tooltip" data-placement="left" title="This image has previous annotations that may be relevant. Click below to load/refine an existing batch of annotations for this image."><i class="icon-question-sign"></i></a></h2>
    <div class=" divfixedh70">
    <small>
    <table class="table table-striped">
    <tr><td><a href="#" rel="popover-roll" data-placement="left" data-html="true" data-content="<p>Completed by: ??<br>Date: ??<br>Workset: ??<br>Collection: ??<br>Sampling: random (sequential)<br>Summary: 70 Random points from 104 images</p>" data-original-title="Annotation information">A. Friedman | 02-12-2012 | 70pt/104im</a></td></tr>
    <tr><td><a href="#" rel="popover-roll" data-placement="left" data-html="true" data-content="<p>Completed by: ??<br>Date: ??<br>Workset: ??<br>Collection: ??<br>Sampling: random (sequential)<br>Summary: 70 Random points from 104 images</p>" data-original-title="Annotation information">S. Williams | 02-12-2012 | 200pt/104im</a></td></tr>
    <tr><td><a href="#" rel="popover-roll" data-placement="left" data-html="true" data-content="<p>Completed by: ??<br>Date: ??<br>Workset: ??<br>Collection: ??<br>Sampling: random (sequential)<br>Summary: 70 Random points from 104 images</p>" data-original-title="Annotation information">D. Steinberg | 02-12-2012 | 50pt/104im</a></td></tr>
    </table>
    </small>
    </div>
</div>
{% endblock %}

{% block rightfootpane %}
<a href="{% url webinterface.views.image_view %}" class="btn" style="width: 60px;margin: 0;" title="View"><i class="icon-eye-open"></i><br>View</a>
<a href="{% url webinterface.views.image_annotate %}" class="btn btn-inverse" style="width: 60px;margin: 0;" title="Annotate"><i class="icon-tag"></i><br>Annotate</a>
<a href="{% url webinterface.views.image_edit %}" class="btn" style="width: 60px;margin: 0;" title="Edit"><i class="icon-edit"></i><br>Edit</a>
{% endblock %}

{% block add_script %}
    <script type="text/javascript">
    	var selectedPoint;
    	function showAnnotationData()
    	{
    		var id = event.srcElement.id;
    		selectedPoint = event.srcElement;
    		$('#pointDetails').css({
    			left: event.pageX + 10,
    			top: event.pageY,
    			position: 'absolute'
    		});
         $('#pointDetails').fadeIn(500);
    	}
		function setAnnotationPoints(newPoint)	
		{
			var img = $('<img>');
			img.attr('id', newPoint.id);
	        img.css('top', newPoint.y);
	        img.css('left', newPoint.x);
	        img.attr('onmouseover', 'showAnnotationData()');
	        img.attr('src', '{{ STATIC_URL }}images/annotationPointOverlay.png');
	        img.appendTo('#imageFrame');	
		}
	    $(document).ready(function(){
	    	$('#close').click(function() {
	    		$('#pointDetails').fadeOut(250);
	    	});

	    	// Number of points and minimum separation.  These should be parameters for the point selection
	    	var numPoints = 50;
	    	var minDistPx = 20;
	    	// the list of points for this image.  This should eventually be put into the database and checked
	    	// for the image when loaded
			var pointList = [];
	    	for (var i = 0; i < numPoints; i++) {
	    		// need to make sure the spacing of points is not too close
	    		// the point locations also need to be pushed into the database
	    		var newPoint = {x:-1, y:-1, id:-1};
	    		var minSepChecked = false;
	    		var imWidth = $('#image').width();
	    		var imHeight = $('#image').height();
	    		if (imWidth <=0 || imHeight <= 0)
	    		{
	    			alert("Bad image size.  Generating annotation points will eventually be moved to the back end");
	    			return;
	    		}
	    		while (minSepChecked == false)
	    		{
	    			var minDistViolated = false;
	    			// radomly assign a point (accounting for size of icon)
		    		newPoint.x = Math.round(Math.random()*imWidth) - 5;
		    		newPoint.y = Math.round(Math.random()*imHeight) - 5;
		    		newPoint.id = i;
		    		// check spacing between points so we don't end up with points on top of each other
		    		if (pointList.length > 0)
		    		{
			    		for (var j = 0; j < pointList.length; j++)
			    		{
			    			var checkPoint = pointList[j];
			    			if (Math.pow(pointList[j].x - newPoint.x,2) + Math.pow(pointList[j].y - newPoint.y,2) < Math.pow(minDistPx,2)) 
			    			{
			    				minDistViolated = true;
			    			}		    			
			    		}
			    	}
	    			if (minDistViolated == false)
	    			{
	    				minSepChecked = true;
	    				pointList.push(newPoint)
	    			}
	    		}
	    		
	    		// assign the point
		    	setAnnotationPoints(newPoint);	    		
	    	}
	    });
    	$(function() {
		    var availableTags = [
			    { label: "Algae: large canopy forming", value: '010001' },
			    { label: "Algae: erect branching", value: '010002' },
			    { label: "Bacteria: Cyanobacteria", value: '020001' },
			    { label: "Algae: Ecklonia", value: '030001' },
			    { label: "Worms: Flatworms", value: '040001' },
			    { label: "Worms: Echiura", value: '040002' },
			    { label: "Bryozoa: Encrusting", value: '050001' },
			    { label: "Bryozoa: Dendroid", value: '050002' },
			    { label: "Bryozoa: Foliaceous", value: '050003' },
			    { label: "Sponges: Bee hive", value: '060001' },
			    { label: "Sponges: Cushion", value: '060002' },
			    { label: "Sponges: Elongated drips", value: '060003' },
			    { label: "Sponges: Creeping", value: '060004' },
			    { label: "Sponges: Patchy", value: '060005' },
			    { label: "Echinoderms: stalked crinoid", value: '070001' },
			    { label: "Echinoderms: unstalked crinoid", value: '070002' },
			    { label: "Echinoderms: regular urchin", value: '070003' },
			    { label: "Echinoderms: irregular urchin", value: '070004' },
			    { label: "Crustacea: Crabs", value: '080001' },
			    { label: "Crustacea: Barnacles", value: '080002' },
			    { label: "Crustacea: Lobsters", value: '080003' },
			    { label: "Cnidaria: Hydrocorals", value: '090001' },
			    { label: "Cnidaria: Jellies", value: '090002' },
			    { label: "Cnidaria: Hydroids", value: '090003' },
			    { label: "Cnidaria: Flytrap", value: '090004' },
			    { label: "Cnidaria: Zooanthids", value: '090005' },
			    { label: "Cnidaria: Tube anemones", value: '090006' }
		    ];
        	$( "#annotationLabel" ).autocomplete({
        		// This list should be populated by a call to the database returning a JSON element
    			source: availableTags,
			    select: function(event, ui) {
			        /* Prevent the input from being populated: */
			        event.preventDefault();
			        /* Use ui.item.value to access the id */
			        //window.location.href = "/index.php?id=" + ui.item.value;
			        selectedPoint.src = ( '{{ STATIC_URL }}images/annotationPointOverlayScored.png' );
		    		$('#pointDetails').fadeOut(250);
			    },
			    focus: function(event, ui) {
			    	// don't let the value be populated into the input box
			    	event.preventDefault();
			    }
    		});
    	});
			    /*<a href="#" rel="popover-roll" data-placement="left" data-html="true" data-content="<p>Synonyms: ?, ?, ?<br>Kingdom: ?<br>Phylum: ?<br>Class: ?<br>Order: ?<br>Family: ?<br>Genus: ?<br>Species: ?</p>" data-original-title="Label information">Algae: large canopy forming</a>,
			    <a href="#" rel="popover-roll" data-placement="left" data-html="true" data-content="<p>Synonyms: ?, ?, ?<br>Kingdom: ?<br>Phylum: ?<br>Class: ?<br>Order: ?<br>Family: ?<br>Genus: ?<br>Species: ?</p>" data-original-title="Label information">Algae: erect branching</a>,
			    <a href="#" rel="popover-roll" data-placement="left" data-html="true" data-content="<p>Synonyms: ?, ?, ?<br>Kingdom: ?<br>Phylum: ?<br>Class: ?<br>Order: ?<br>Family: ?<br>Genus: ?<br>Species: ?</p>" data-original-title="Label information">Bacteria: Cyanobacteria</a>,
			    <a href="#" rel="popover-roll" data-placement="left" data-html="true" data-content="<p>Synonyms: ?, ?, ?<br>Kingdom: ?<br>Phylum: ?<br>Class: ?<br>Order: ?<br>Family: ?<br>Genus: ?<br>Species: ?</p>" data-original-title="Label information">Algae: Ecklonia</a>,
			    <a href="#" rel="popover-roll" data-placement="left" data-html="true" data-content="<p>Synonyms: ?, ?, ?<br>Kingdom: ?<br>Phylum: ?<br>Class: ?<br>Order: ?<br>Family: ?<br>Genus: ?<br>Species: ?</p>" data-original-title="Label information">Worms: Flatworms</a>,
			    <a href="#" rel="popover-roll" data-placement="left" data-html="true" data-content="<p>Synonyms: ?, ?, ?<br>Kingdom: ?<br>Phylum: ?<br>Class: ?<br>Order: ?<br>Family: ?<br>Genus: ?<br>Species: ?</p>" data-original-title="Label information">Worms: Echiura</a>,
			    <a href="#" rel="popover-roll" data-placement="left" data-html="true" data-content="<p>Synonyms: ?, ?, ?<br>Kingdom: ?<br>Phylum: ?<br>Class: ?<br>Order: ?<br>Family: ?<br>Genus: ?<br>Species: ?</p>" data-original-title="Label information">Bryozoa: Encrusting</a>,
			    <a href="#" rel="popover-roll" data-placement="left" data-html="true" data-content="<p>Synonyms: ?, ?, ?<br>Kingdom: ?<br>Phylum: ?<br>Class: ?<br>Order: ?<br>Family: ?<br>Genus: ?<br>Species: ?</p>" data-original-title="Label information">Bryozoa: Dendroid</a>,
			    <a href="#" rel="popover-roll" data-placement="left" data-html="true" data-content="<p>Synonyms: ?, ?, ?<br>Kingdom: ?<br>Phylum: ?<br>Class: ?<br>Order: ?<br>Family: ?<br>Genus: ?<br>Species: ?</p>" data-original-title="Label information">Bryozoa: Foliaceous</a>,
			    <a href="#" rel="popover-roll" data-placement="left" data-html="true" data-content="<p>Synonyms: ?, ?, ?<br>Kingdom: ?<br>Phylum: ?<br>Class: ?<br>Order: ?<br>Family: ?<br>Genus: ?<br>Species: ?</p>" data-original-title="Label information">Sponges: Bee hive</a>,
			    <a href="#" rel="popover-roll" data-placement="left" data-html="true" data-content="<p>Synonyms: ?, ?, ?<br>Kingdom: ?<br>Phylum: ?<br>Class: ?<br>Order: ?<br>Family: ?<br>Genus: ?<br>Species: ?</p>" data-original-title="Label information">Sponges: Cushion</a>,
			    <a href="#" rel="popover-roll" data-placement="left" data-html="true" data-content="<p>Synonyms: ?, ?, ?<br>Kingdom: ?<br>Phylum: ?<br>Class: ?<br>Order: ?<br>Family: ?<br>Genus: ?<br>Species: ?</p>" data-original-title="Label information">Sponges: Elongated drips</a>,
			    <a href="#" rel="popover-roll" data-placement="left" data-html="true" data-content="<p>Synonyms: ?, ?, ?<br>Kingdom: ?<br>Phylum: ?<br>Class: ?<br>Order: ?<br>Family: ?<br>Genus: ?<br>Species: ?</p>" data-original-title="Label information">Sponges: Creeping</a>,
			    <a href="#" rel="popover-roll" data-placement="left" data-html="true" data-content="<p>Synonyms: ?, ?, ?<br>Kingdom: ?<br>Phylum: ?<br>Class: ?<br>Order: ?<br>Family: ?<br>Genus: ?<br>Species: ?</p>" data-original-title="Label information">Sponges: Patchy</a>,
			    <a href="#" rel="popover-roll" data-placement="left" data-html="true" data-content="<p>Synonyms: ?, ?, ?<br>Kingdom: ?<br>Phylum: ?<br>Class: ?<br>Order: ?<br>Family: ?<br>Genus: ?<br>Species: ?</p>" data-original-title="Label information">Echinoderms: stalked crinoid</a>,
			    <a href="#" rel="popover-roll" data-placement="left" data-html="true" data-content="<p>Synonyms: ?, ?, ?<br>Kingdom: ?<br>Phylum: ?<br>Class: ?<br>Order: ?<br>Family: ?<br>Genus: ?<br>Species: ?</p>" data-original-title="Label information">Echinoderms: unstalked crinoid</a>,
			    <a href="#" rel="popover-roll" data-placement="left" data-html="true" data-content="<p>Synonyms: ?, ?, ?<br>Kingdom: ?<br>Phylum: ?<br>Class: ?<br>Order: ?<br>Family: ?<br>Genus: ?<br>Species: ?</p>" data-original-title="Label information">Echinoderms: regular urchin</a>,
			    <a href="#" rel="popover-roll" data-placement="left" data-html="true" data-content="<p>Synonyms: ?, ?, ?<br>Kingdom: ?<br>Phylum: ?<br>Class: ?<br>Order: ?<br>Family: ?<br>Genus: ?<br>Species: ?</p>" data-original-title="Label information">Echinoderms: irregular urchin</a>,
			    <a href="#" rel="popover-roll" data-placement="left" data-html="true" data-content="<p>Synonyms: ?, ?, ?<br>Kingdom: ?<br>Phylum: ?<br>Class: ?<br>Order: ?<br>Family: ?<br>Genus: ?<br>Species: ?</p>" data-original-title="Label information">Crustacea: Crabs</a>,
			    <a href="#" rel="popover-roll" data-placement="left" data-html="true" data-content="<p>Synonyms: ?, ?, ?<br>Kingdom: ?<br>Phylum: ?<br>Class: ?<br>Order: ?<br>Family: ?<br>Genus: ?<br>Species: ?</p>" data-original-title="Label information">Crustacea: Barnacles?</a>,
			    <a href="#" rel="popover-roll" data-placement="left" data-html="true" data-content="<p>Synonyms: ?, ?, ?<br>Kingdom: ?<br>Phylum: ?<br>Class: ?<br>Order: ?<br>Family: ?<br>Genus: ?<br>Species: ?</p>" data-original-title="Label information">Sponges: Lobsters</a>,
			    <a href="#" rel="popover-roll" data-placement="left" data-html="true" data-content="<p>Synonyms: ?, ?, ?<br>Kingdom: ?<br>Phylum: ?<br>Class: ?<br>Order: ?<br>Family: ?<br>Genus: ?<br>Species: ?</p>" data-original-title="Label information">Cnidaria: Hydrocorals</a>,
			    <a href="#" rel="popover-roll" data-placement="left" data-html="true" data-content="<p>Synonyms: ?, ?, ?<br>Kingdom: ?<br>Phylum: ?<br>Class: ?<br>Order: ?<br>Family: ?<br>Genus: ?<br>Species: ?</p>" data-original-title="Label information">Cnidaria: Jellies</a>,
			    <a href="#" rel="popover-roll" data-placement="left" data-html="true" data-content="<p>Synonyms: ?, ?, ?<br>Kingdom: ?<br>Phylum: ?<br>Class: ?<br>Order: ?<br>Family: ?<br>Genus: ?<br>Species: ?</p>" data-original-title="Label information">Cnidaria: Hydroids</a>,
			    <a href="#" rel="popover-roll" data-placement="left" data-html="true" data-content="<p>Synonyms: ?, ?, ?<br>Kingdom: ?<br>Phylum: ?<br>Class: ?<br>Order: ?<br>Family: ?<br>Genus: ?<br>Species: ?</p>" data-original-title="Label information">Cnidaria: Flytrap</a>,
			    <a href="#" rel="popover-roll" data-placement="left" data-html="true" data-content="<p>Synonyms: ?, ?, ?<br>Kingdom: ?<br>Phylum: ?<br>Class: ?<br>Order: ?<br>Family: ?<br>Genus: ?<br>Species: ?</p>" data-original-title="Label information">Cnidaria: Zooanthids</a>,
			    <a href="#" rel="popover-roll" data-placement="left" data-html="true" data-content="<p>Synonyms: ?, ?, ?<br>Kingdom: ?<br>Phylum: ?<br>Class: ?<br>Order: ?<br>Family: ?<br>Genus: ?<br>Species: ?</p>" data-original-title="Label information">Cnidaria: Tube anemones</a>
				*/
    </script>
{% endblock %}


 