{% extends "base-topmenu.html" %}

{% load force_extras %}

{% block leadtitle %}Catami Apps{% endblock %}


{% block content %}
    <style type="text/css">

        body {
            background-image: url('{{ STATIC_URL }}images/banner_01.jpg');
            background-repeat:no-repeat;
            background-size: 100%;
        }

        div .headerbg {
            width: 100%;
            height: 32%;
        }
        
        .well{
	        -moz-box-shadow: 0px 0px 5px rgba(0,0,0,0.8);
			-webkit-box-shadow: 0px 0px 5px rgba(0,0,0,0.8);
			box-shadow:0px 0px 5px rgba(0,0,0,0.8);
        }
    </style>

    <div class="content-container header-padding" >


        <div id="header" class="headerbg" style="width: 100%; height: 50%;">
            <!--<img src="{{ STATIC_URL }}images/banner_01.jpg" alt="catami pretty banner" width="2400"/>-->
        </div>

        <div class="container-fluid">
            <div class="span6">

                {% if user.is_authenticated %}


                        <div class="well">
                            <p class="lead" style="align:center;">My profile <a
                                    href="/accounts/{{ user.username }}/"><i
                                    class="icon-user icon-4x pull-right"></i></a></p>
                            <br>
                        </div>

                        <div class="well">
                            <p class="lead">My projects <a
                                    href="{% url webinterface.views.projects %}"><i
                                    class="icon-list-alt icon-4x pull-right"></i></a></p>
                            <br>
                        </div>

                        <div class="well">
                            <p class="lead">Create a project and start annotating <a
                                    href="{% url webinterface.views.project_create %}"><i class="icon-plus-sign-alt icon-4x pull-right"></i></a>
                            </p>
                            <br>
                        </div>

                        <div class="well">
                            <p class="lead">Explore data holdings <a
                                    href="{% url webinterface.views.campaign_list %}"><i class="icon-search icon-4x pull-right"></i></a>
                            </p>
                            <br>
                        </div>


                {% else %}

                        <div class="well" style="align:center;">
                            <p class="lead">Sign up. <a href="{% url userena_signup %}"><i
                                    class="icon-user icon-4x pull-right"></i></a></p>
                            <a href="#"
                               rel="popover"
                               data-html="true"
                               data-placement="bottom"
                               id="accountRationalePopover"
                               data-content="<div id='account_rationale'><i class='icon-excalmation-sign icon-2x'></i>Catami is about managing and analysing marine imagery.<br><br>An account at Catami gives you all kinds of capability: upload, sharing, annotation and other advanced functions.  If you have a problem with a Catami service we can more easily help you out!<br><br> We're not going to do anything nefarious with your personal information! Promise!</div>"
                               data-original-title="The Catami Guru Answers:"><span><i
                                    class="icon-question-sign"></i> Why should I make an account?</span>
                            </a>

                        </div>
                        <div class="well">
                            <p class="lead">Login <a
                                    href="{% url userena_signin %}"><i class="icon-signin icon-4x pull-right"></i></a>
                            </p>
                            <a href="{% url userena_password_reset %}"><p><i
                                    class="icon-exclamation-sign"></i> Forgot your account details?</p></a>
                        </div>

                        <div class="well">
                            <p class="lead">Explore our data holdings <a
                                    href="{% url webinterface.views.campaign_list %}"><i class="icon-search icon-4x pull-right"></i></a>
                            </p>
                            <br>
                        </div>

                        <div class="well">
                            <p class="lead">Explore projects people are sharing <a
                                    href="{% url webinterface.views.projects %}"><i
                                    class="icon-list-alt icon-4x pull-right"></i></a></p>
                            <br>
                        </div>

                {% endif %}

            </div>
        </div>

        <!-- Tag line zone	 -->
        <div align="center" style="margin-top:20px;">
            <p class="lead">Welcome to CATAMI. Online data exploration and image annotation for marine ecologists.</p>
        </div>

        <hr class="fancy-style">


        <!-- Footer Zone -->

        <div class="row-fluid">
            <div class="span12">
                <div class="span2 offset1" align="center"><a href="https://github.com/catami/catami"><i
                        class="icon-github icon-3x"></i></a><h4>source code</h4></div>
                <div class="span2" align="center"><a href="https://github.com/catami/catami/wiki"><i
                        class="icon-file-alt icon-3x"></i></a><h4>documentation</h4></div>
                <div class="span2" align="center"><a href="{% url webinterface.views.about %}"><i
                        class="icon-heart-empty icon-3x"></i></a><h4>attribution</h4></div>
                <div class="span2" align="center"><a href="{% url webinterface.views.contact %}"><i
                        class="icon-envelope icon-3x"></i></a><h4>contact</h4></div>
                <div class="span2" align="center"><a href="{% url webinterface.views.licensing %}">
                        <img width="44px" src="{{STATIC_URL}}images/cc-lic-image.gif"></a><h4>licensing</h4></div>
            </div>
        </div>
    </div>



{% endblock %}
{% block add_script %}
    <script type="text/javascript">
        (function () {
            var po = document.createElement('script');
            po.type = 'text/javascript';
            po.async = true;
            po.src = 'https://apis.google.com/js/plusone.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(po, s);
        })();
    </script>

{% endblock %}

