{% extends "base-topmenu.html" %}

{% load force_extras %}

{% block leadtitle %}Catami Apps{% endblock %}


{% block content %}
    <style type="text/css">

        body {
            background-repeat:no-repeat;
            background-size: 100%;
        }

        div .headerbg {
            width: 100%;
            height: 32%;
        }
        
        .well{
	        -moz-box-shadow: 0px 0px 5px rgba(0,0,0,0.8);
			-webkit-box-shadow: 0px 0px 5px rgba(0,0,0,0.8);
			box-shadow:0px 0px 5px rgba(0,0,0,0.8);
        }

        .carousel{
	        -moz-box-shadow: 0px 0px 5px rgba(0,0,0,0.8);
			-webkit-box-shadow: 0px 0px 5px rgba(0,0,0,0.8);
			box-shadow:0px 0px 5px rgba(0,0,0,0.8);
        }
    .fullWidthContainer .container {
	 	position: relative;
	 	z-index: 2;
	 	width:100%;
	}
	
	.fullWidthContainer {
		position: relative;
		padding: 0px 0;
		color: #fff;
		width: 100%;
		text-align: center;
		text-shadow: 0 1px 3px rgba(0,0,0,.4), 0 0 30px rgba(0,0,0,.075);
		background: #020031; /* Old browsers */
		background: -moz-linear-gradient(45deg,  #020031 0%, #4b6fe5 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#020031), color-stop(100%,#6180e8)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(45deg, #020031 0%, #4b6fe5 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(45deg,  #020031 0%,#4b6fe5 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(45deg,  #020031 0%,#4b6fe5 100%); /* IE10+ */
		background: linear-gradient(45deg,  #020031 0%,#4b6fe5 100%); /* W3C */
		-webkit-box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
		-moz-box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
        box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
		margin-top: -30px;
		margin-left:-20px;
		padding-right: 40px;
	}

	.fullWidthContainer:after {
		content: '';
		display: block;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		/* 	  background-color: blue; */
		opacity: .4;
	}
	.fullWidthContent{
		position: relative;
		padding: 80px 0;
		color: #fff;
		width: 100%;

	}
	/* Masthead (docs home)
	------------------------- */
	.masthead {
		padding-top: 20px;
		padding-bottom: 10px;
		margin: 0px;
		margin-bottom: 0;
		color: #fff;
	}
	.masthead h1 {
	  font-size: 70px;
	  line-height: 1;
	  letter-spacing: -2px;
	}

	/* Textual links in masthead */
	.masthead-links {
	  margin: 0;
	  list-style: none;
	}
	.masthead-links li {
	  display: inline;
	  padding: 0 10px;
	  color: rgba(255,255,255,.25);
	}
	
	.feature-text {
		font-size: larger;
		font-weight: 200;
	}
    </style>

	<div class="fullWidthContainer">
    	<div class="masthead">
			<h1>Welcome to CATAMI</h1>
			<p class="lead">The online data management and image annotation system for marine ecologists, with a twist.</p>
			<p>An iVEC project, funded by NeCTAR and supported by ANDS</p>
			<p><img src="{{ STATIC_URL }}/images/ivec-white-logo-long.png"></p>
    	</div>
	</div>	
            	
    <div class="content-container " >

        <div class="row-fluid">

            <div class="span8 offset2">
            	<br>
                <div id="myCarousel" class="carousel slide">
                    <ol class="carousel-indicators">
                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#myCarousel" data-slide-to="1"></li>
                        <li data-target="#myCarousel" data-slide-to="2"></li>
                    </ol>
                    <!-- Carousel items -->
                    <div class="carousel-inner">
                        <div class="active item">
                            <img src="{{ STATIC_URL }}images/DeploymentView.jpg">
                            <div class="carousel-caption">
                                <h4>Transect Visualisation</h4>
                                <p>Upload and manage your dives, view the transect, images and associated sensor readings.</p>
                            </div>
                        </div>
                        <div class="item">
                            <img src="{{ STATIC_URL }}images/FineScale.jpg">
                            <div class="carousel-caption">
                                <h4>Fine Scale Image Annotation</h4>
                                <p>Fine scale annotation with on the fly statistics, multi point selection and various image controls. </p>
                            </div>
                        </div>
                        <div class="item">
                            <img src="{{ STATIC_URL }}images/BroadScale.jpg">
                            <div class="carousel-caption">
                                <h4>Similar Image Search - Recommended Images</h4>
                                <p>Get recommendations for similar images during broad scale classification to speed up the process.</p>
                            </div>
                        </div>
                    </div>
                    <!-- Carousel nav -->
                    <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
                    <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
                </div>
            </div>
        	</div>
        </div>

        {% comment %}
        <div class="row-fluid">

            <div class="span4">

                {% if user.is_authenticated %}


                        <div class="hero-unit">
                            <p class="lead" style="align:center;">My profile <a
                                    href="/accounts/{{ user.username }}/"><i
                                    class="icon-user icon-4x pull-right"></i></a></p>
                            <br>
                        </div>

                        <div class="hero-unit">
                            <p class="lead">My projects <a
                                    href="{% url webinterface.views.projects %}"><i
                                    class="icon-list-alt icon-4x pull-right"></i></a></p>
                            <br>
                        </div>

                        <div class="hero-unit">
                            <p class="lead">Create a project and start annotating <a
                                    href="{% url webinterface.views.project_create %}"><i class="icon-plus-sign-alt icon-4x pull-right"></i></a>
                            </p>
                            <br>
                        </div>

                        <div class="hero-unit">
                            <p class="lead">Explore data holdings <a
                                    href="{% url webinterface.views.campaign_list %}"><i class="icon-search icon-4x pull-right"></i></a>
                            </p>
                            <br>
                        </div>


                {% else %}

                        <div class="well" style="align:center;">
                            <p class="lead">Sign up. <a href="{% url userena_signup %}"><i
                                    class="icon-user icon-4x pull-right"></i></a></p>
                            <a href="#"
                               rel="popover"
                               data-html="true"
                               data-placement="bottom"
                               id="accountRationalePopover"
                               data-content="<div id='account_rationale'><i class='icon-excalmation-sign icon-2x'></i>Catami is about managing and analysing marine imagery.<br><br>An account at Catami gives you all kinds of capability: upload, sharing, annotation and other advanced functions.  If you have a problem with a Catami service we can more easily help you out!<br><br> We're not going to do anything nefarious with your personal information! Promise!</div>"
                               data-original-title="The Catami Guru Answers:"><span><i
                                    class="icon-question-sign"></i> Why should I make an account?</span>
                            </a>

                        </div>
                        <div class="hero-unit">
                            <p class="lead">Login <a
                                    href="{% url userena_signin %}"><i class="icon-signin icon-4x pull-right"></i></a>
                            </p>
                            <a href="{% url userena_password_reset %}"><p><i
                                    class="icon-exclamation-sign"></i> Forgot your account details?</p></a>
                        </div>

                        <div class="hero-unit">
                            <p class="lead">Explore our data holdings <a
                                    href="{% url webinterface.views.campaign_list %}"><i class="icon-search icon-4x pull-right"></i></a>
                            </p>
                            <br>
                        </div>

                        <div class="hero-unit">
                            <p class="lead">Explore projects people are sharing <a
                                    href="{% url webinterface.views.projects %}"><i
                                    class="icon-list-alt icon-4x pull-right"></i></a></p>
                            <br>
                        </div>

                {% endif %}

            </div>

        </div>
        {% endcomment %}

        <hr class="fancy-style">

        <div class="row-fluid">
            <div class="span1"></div>
            <div id="features" class="featurette span10">

                <div class="row">
                    <div class="span4 feature-text">
                        <h3><span class="muted">Data Management</span></h3>
                        <p class="">Supports still imagery from any camera, in png or jpg formats. Currently used with AUV, Towed Imagery and Kayak Cam.</p>
                        <p class="">Data broken down into Campaigns and Deployments for easy discovery and transect visualisation.</p>
                        <p class=""><a href="{% url webinterface.views.campaign_list %}" class="btn"> Browse Campaigns and Deployments </a> </p>
                    </div>
                    <div class="span4 feature-text">
                        <h3><span class="muted">Image Annotation</span></h3>
                        <p class="">Fine and broad scale annotation projects supported.</p>
                        <p class="">Random and stratified image sampling across thousands of images in seconds.</p>
                        <p class="">Random point sampling. </p>
                        <p class="">On the fly statistics calculated while you work. </p>
                        <p class="">Export your work as a CSV for further analysis. </p>
                        <p class="">Work in private, public or work with friends and colleagues on the same data at the same time! </p>
                        {% if user.is_authenticated %}
                            <p class="lead"><a href="{% url webinterface.views.project_create %}" class="btn"> Create your own Project </a> </p>
                        {% endif %}
                    </div>
                    <div class="span4 feature-text">
                        <h3><span class="muted">Secret Sauce!</span></h3>
                        <p class="">Similar image recommendations in broad scale classification projects.</p>
                        <p class="">Full support for the CATAMI classification scheme.</p>
                        <p class=""><a href="{% url webinterface.views.classification %}" class="btn"> Get the Classification Scheme </a></p>
                    </div>
                </div>

            </div>
            <div class="span1"></div>
        </div>

        <hr class="fancy-style">


        <!-- Footer Zone -->

        <div class="row-fluid">
            <div class="span12">
                <div class="span2 offset1" align="center"><a href="https://github.com/catami/catami"><i
                        class="icon-github icon-3x"></i></a><h4>source code</h4></div>
                <div class="span2" align="center"><a href="https://github.com/catami/catami/wiki"><i
                        class="icon-file-alt icon-3x"></i></a><h4>documentation</h4></div>
                <div class="span2" align="center"><a href="{% url webinterface.views.about %}"><i
                        class="icon-heart-empty icon-3x"></i></a><h4>attribution</h4></div>
                <div class="span2" align="center"><a href="{% url webinterface.views.contact %}"><i
                        class="icon-envelope icon-3x"></i></a><h4>contact</h4></div>
                <div class="span2" align="center"><a href="{% url webinterface.views.licensing %}">
                        <img width="44px" src="{{STATIC_URL}}images/cc-lic-image.gif"></a><h4>licensing</h4></div>
            </div>
        </div>
    </div>



{% endblock %}
{% block add_script %}

    <script type="text/javascript">
        (function () {
            var po = document.createElement('script');
            po.type = 'text/javascript';
            po.async = true;
            po.src = 'https://apis.google.com/js/plusone.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(po, s);
        })();
    </script>

{% endblock %}

