{% extends "base-topmenu.html" %}
{% block title %}{{ block.super }} : {{ request.path }}{% endblock %}
{% block content %}
	<div class="row-fluid">
	    <div class="hero-unit">
	        <h1>My Collections</h1>
	        <p>This page shows a list of collections that you have created and saved. A Collection is a set of data (images and associated metadata) that has been prepared by a user for further processing, downloading or sharing. The data may come from one or more deployments, surveys or campaigns.</p>
	    </div>
	</div>
	<div id="collectiontable"></div>

{% endblock %}

{% block add_script %}
	<script>
	$('#collectiontable').load('/webinterface/mycollections_all #mycollections_all', function(response, status, xhr) {
		if (status == "error") {
		  var msg = "Sorry, I've run into a problem trying to get this. The reported error is: ";
		  $("#collectiontable").html("<p class='alert alert-error'>"+ msg + "<strong>" + xhr.status + " " + xhr.statusText+"</strong></p>");
		}
	});
	</script>
{% endblock %}   