{% extends "base-topmenu.html" %}
{% block title %}Catami Project - Project List {% endblock %}

{% block content %}

    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}assets/css/elastislide/elastislide.css" />
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}assets/css/elastislide/custom.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}assets/catami-api/css/bootstrapSwitch.css"/>
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}assets/css/annotation_accordion.css" />

    <style type="text/css">
        div.wrapper{
		    float:left; /* important */
		    position:relative; /* important(so we can absolutely position the description div */
		}
		div.description{
		    position:absolute; /* absolute position (so we can position it where we want)*/
		    bottom:5px;
		    left:0px;
		    width:100%;
		    background-color:rgba(0,0,0,0.2);
		    font-family: 'helvetica';
		    font-size:15px;
		    color:white;
		    font-weight: bold;
		    text-align: center;
		}

        #ImageContainer {
            position: relative;
            margin-top: 10px;
            /*margin-right: 510px;*/
        }

        #ImageContainer span {
            position: absolute;
            margin: 0px;
        }

        #Image {
            /*display: block;*/
            margin: 0px;
            position: relative;
        }

        .pointAnnotated {
        	-moz-box-shadow:inset 0px 0px 3px rgba(0,0,0,0.8), 0px 0px 3px rgba(0,0,0,0.8);
			-webkit-box-shadow:inset 0px 0px 3px rgba(0,0,0,0.8),  0px 0px 3px rgba(0,0,0,0.8);
			box-shadow:inset 0px 0px 3px rgba(0,0,0,0.8), 0px 0px 3px rgba(0,0,0,0.8);
            min-width: 12px;
            min-height: 12px;
		    background-color:rgba(20,237,24,0.0);
		    border: 2px solid #fff;
			border-top-left-radius: 25%;
			border-top-right-radius: 25%;
			border-bottom-left-radius: 25%;
			border-bottom-right-radius: 25%;
			color: #fff;
			text-shadow: 0px 0px 3px rgba(0,0,0,0.8);
        }


	    .pointNotAnnotated {
        	-moz-box-shadow:inset 0px 0px 3px rgba(0,0,0,0.8), 0px 0px 3px rgba(0,0,0,0.8);
			-webkit-box-shadow:inset 0px 0px 3px rgba(0,0,0,0.8),  0px 0px 3px rgba(0,0,0,0.8);
			box-shadow:inset 0px 0px 3px rgba(0,0,0,0.8), 0px 0px 3px rgba(0,0,0,0.8);
            width: 12px;
            height: 12px;
		    background-color:rgba(32,103,235,0.1);
		    border: 1px solid #fff;
		}

		@-webkit-keyframes rotation {
		    from {-webkit-transform: rotate(0deg);}
		    to   {-webkit-transform: rotate(359deg);}
		}

		@-webkit-keyframes pulsate {
		    0% {-webkit-transform: scale(.9, .9); opacity: 1.0;}
		    50% {-webkit-transform: scale(1.1, 1.1); opacity: 1.0;}
		    100% {-webkit-transform: scale(0.9, .9); opacity: 1.0;}
		}
		
		@-webkit-keyframes color-pulsate {
		    0% {color:#7886f2; opacity: 1.0;}
		    50% {color:#002d92;  opacity: 1.0;}
		    100% {color:#7886f2; opacity: 1.0;}
		}
		.pointSelected {
        	-moz-box-shadow:inset 0px 0px 3px rgba(0,0,0,0.8), 0px 0px 3px rgba(0,0,0,0.8);
			-webkit-box-shadow:inset 0px 0px 3px rgba(0,0,0,0.8),  0px 0px 3px rgba(0,0,0,0.8);
			box-shadow:inset 0px 0px 3px rgba(0,0,0,0.8), 0px 0px 3px rgba(0,0,0,0.8);
            -webkit-animation: rotation 2s infinite linear;
            width: 12px;
            height: 12px;
		    background-color:rgba(240,206,9,0.1);
		    border: 2px dashed #fff;
			border-top-left-radius: 50%;
			border-top-right-radius: 50%;
			border-bottom-left-radius: 50%;
			border-bottom-right-radius: 50%;
		}
		.wholeImageList{
			list-style-type: none;
			padding: 0px;
			margin: 0px 0px 14px 0px;
		}
		.wholeImageItem {
		    list-style-position:outside;
		    border-bottom: 1px solid white;
		    background-color: rgba(237,237,237,1);
		    padding: 3px 5px;
		    font-weight: bold;
		}
		.wholeImageItem:hover{
		    background-color: rgba(208,212,243,.75);
		    cursor:pointer;
		}
		.editable{
		    background-color: rgba(208,212,243,.75);
		}
		.wholeImageHeader {
		    list-style-position:outside;
		    border-bottom: 5px solid #e99c1e;
		    border-bottom-color: white;
		    border-top-color: white;
		    background-color: #ebe0cf;
		    padding: 4px 5px 5px 5px;
		    font-weight: bold;
		}
		.wholeImageFooter {
		    list-style-position:outside;
		    border-bottom: 2px solid #e99c1e;
		    border-bottom-color: white;
		    border-top-color: white;
		    background-color: #d7d1c7;
			padding-left: 10px;
			padding-right: 10px;
			padding-bottom: 27px;
			padding-top: 3px;
			font-weight: 300;
		}
		.broadScalePercentage{
			margin-left:1px;
			margin-right:1px			
		}
		.wholeImageClassLabel{
			padding-right:auto;
			margin-left:1px;
			margin-right:1px
		}
		
		.broadScaleTools:hover {
			color:blue;
			
		}
		.wholeImageLabel{
			font-weight: 500;
			font-size: large;
			display:block; !important
		}

		.wholeImageLabelStatus{
			color:#57d357;
			padding-left:5px;
			text-shadow: 0px 0px 2px #000000;

		}
		.editBroadScaleIndictor{
			color:#3049ff;
		    text-shadow: 0px 0px 2px rgba(191,255,0,0.8);
			-webkit-animation: color-pulsate 2s ease-out;
			-webkit-animation-iteration-count: infinite; 
		}
		
		.broadScaleRemoveButton{
			color:rgba(192,192,192,1);
			text-shadow: rgba(0, 0, 0, 0.247059) 0px -1px 0px;
			padding-left: 3px;
			padding-right: 3px;
			width: 100%;
			margin: 0 auto;
		}
		.broadScaleRemoveButton:hover{
			color:red;
		}
		.addPercentageQualifier{
			margin-right: 5px;
		}
		.percentageControl{
			margin-right:10px;			
		}
		.broadScaleControlContainer{
			background-color: rgba(255,255,255,0.76);
			padding-top:10px;
			padding-bottom: 30px;
		}
		.AddBroadScaleElement{
			list-style-position:outside;
		    border-bottom: 1px solid white;
		    background-color: rgba(237,237,237,1);
		    padding: 3px 5px;
		    font-weight: bold;
			padding-bottom: 8px;
		}
		.AddBroadScaleElement:hover{
		    cursor:pointer;
		}
		.deleteStyle{
			color:red;
		}
		.actionConfirmAlert{
			list-style-position:outside;
		    padding: 3px 5px;
		    font-weight: bold;
			padding-bottom: 12px;
			text-shadow: rgba(0, 0, 0, 0.247059) 0px -1px 0px;
		}
		.alert{
			margin-bottom: 2px;
		}
		.wholeImageList a{
/* 			color: black; */
		}

/* percentage selector */
		.percentageSelector{
			
		}
		.percentageSelectorLabel{
			margin-left: 2px;
		}
		.percent_none{
			color:red;
			background-color: white;
		}
		.percent_0{
			color:white;
			background-color: #c1c1c1;
		}
		.percent_10{
			color:white;
			background-color: #a7a7a7;
		}
		.percent_20{
			color:white;
			background-color: #9b9b9b;
		}
		.percent_30{
			color:white;
			background-color: #8d8d8d;
		}
		.percent_40{
			color:white;
			background-color: #858585;
		}
		.percent_50{
			color:white;
			background-color: #7a7a7a;
		}
		.percent_60{
			color:white;
			background-color: #6b6b6b;
		}
		.percent_70{
			color:white;
			background-color: #5b5b5b;
		}
		.percent_80{
			color:white;
			background-color: #4f4f4f;
		}
		.percent_90{
			color:white;
			background-color: #3b3b3b;
		}
		.percent_100{
			color:white;
			background-color: #2c2b2b;
		}
		.percent_0:hover{
			color:white;
			background-color: #38b07e;
		}
		.percent_10:hover{
			color:white;
			background-color: #38b090;
		}
		.percent_20:hover{
			color:white;
			background-color: #38b0a6;
		}
		.percent_30:hover{
			color:white;
			background-color: #38a0b0;
		}
		.percent_40:hover{
			color:white;
			background-color: #3884b0;
		}
		.percent_50:hover{
			color:white;
			background-color: #386ab0;
		}
		.percent_60:hover{
			color:white;
			background-color: #3854b0;
		}
		.percent_70:hover{
			color:white;
			background-color: #3840b0;
		}
		.percent_80:hover{
			color:white;
			background-color: #4238b0;
		}
		.percent_90:hover{
			color:white;
			background-color: #5638b0;
		}
		.percent_100:hover{
			color:white;
			background-color: #7238b0;
		}
		.percentValue{
			border: 1px solid white;
			margin-left: -2px;
			margin-right: -2px;
			padding-right: 5px;
			padding-left: 5px;
		}
/* toolbar */ 

		.toolbar {
			position: relative;
			bottom: 0;
			left: 0;
			z-index: 100;
			padding: 0px 10px;
			background: rgba(0,0,0, 0.85);
		}
		
		.toolbar ul {
			list-style: none;
			padding: 0;
			margin: 0;
			text-align: center;
		}
		
		.toolbar a {
			text-decoration: none;
		}
			
		.button-container-div{
			width: 80%;
			margin: 0 auto;
		}
		
		.toolbar-entry-wide{
			min-width: 80px;
		}
		
		.toolbar-entry-narrow{
			float: left;
			min-width: 40px;
		}
		
		.icon-button {
			padding: 10px 10px;
			border-radius: 0;
		}
		
		.toolbar button:active {
			background-color: #008aaa;
		}
		.toolbar li {
			display: inline-block;
			margin: 0 auto;
		}
	
		.toolbar span{
			display:inline-block;
			font-size: smaller;
		}
		.icon-style {
			color:white;
			width: 100%;
			margin: 0 auto;
		}
		.icon-shadow {
			text-shadow: 0px 0px 4px #0088cc;
		}		
		.icon-style-text {
			color:white;
			display:block;
			font-weight: bold;
			width: 100%;
			margin: 0 auto;
		}
		
		.icon-style:active{
			color:#4f68f8;
		}

        .nav-stacked ul {
        	margin-left: 15px !important;
        }

    .SimilarThumbnailContainer {
        position:relative;
        display:inline-block;
        text-align:center;
    }

    .SimilarSameButton {
        position:absolute;
        bottom:0px;
        left:0px;
        display: none;
    }

    #SimilarNotSameButton {
        position:absolute;
        bottom:0px;
        right:0px;
    }

    .SimilarModalButton {
        position:absolute;
        top:0px;
        left:0px;
        display: none;
    }

    .SimilarSameLayer {
        position:absolute;
        text-align:center;
        color: #ffffff;
        top:25px;
        left:50px;
        text-shadow: 6px 6px 18px rgba(0,0,0,0.5);
        display: none;
        /*background-color: rgba(0, 0, 0, .4);*/
    }

	</style>


	<section id="full-width-header" class="row-fluid span12" style="margin-left:0px;">
		<div id="BreadcrumbContainer"></div>
	</section>

    <div id="ContentContainer" class="row-fluid">

        <div class="span1">
            <a onclick="createBookmark();">
                <img src="/static/images/bookmark.jpg" /></a>
            <div id="ThumbnailStripContainer"></div>
            <div id="pagination"></div>           
        </div>

		<div id="ImageAppContainer" class="span7">
            <div id="ImageContainer"></div>
            <div id="ControlBarContainer" style="bottom:0;"></div>
        </div>


        <div id="RightPane" class="span4" style="visibility: hidden">

            <ul class="nav nav-tabs">
                <li class="active" ><a href="#AnnotationSelectionTab" data-toggle="tab">Annotation Selection</a></li>
                <li><a href="#SimilarImageTab" data-toggle="tab">Similar Images <span id="SimilarImageBadge" class="badge badge-info"></span> </a></li>
                <li><a href="#StatsTab" data-toggle="tab">Statistics</a></li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane active" id="AnnotationSelectionTab">
                    <div id="ChooseAnnotationContainer" ></div>
                </div>
                <div class="tab-pane" id="SimilarImageTab">
                    <div id="ImageSimilarityContainer" ></div>
                </div>
                <div class="tab-pane" id="StatsTab">
                    <div id="AnnotationStatusContainer"></div>
                </div>
            </div>

        </div>

    </div>

    <script type="text/template" id="ImageSimilarityTemplate">
        <h3></h3>

        <div class="row-fluid">
            <%=controls%>

        </div>

        <div style="padding-top: 10px" class="row-fluid">
            <%=images%>
        </div>

    </script>

    <script type="text/template" id="SimilaritySelectAllTemplate">
        <button id="SimilarSameAll" class="btn btn btn-success" type="button"><i class="icon-ok"></i> Yes, apply same labels to all similar images.</button>
    </script>

    <script type="text/template" id="SimilarityThumbnailTemplate">
        <!--<a href="#<%= index %>-modal" data-toggle="modal"> <img id="<%= index %>" class="similarThumbnail" src="<%= thumbnail_location %>" style="padding-bottom: 5px;"> </a>-->

        <div id="<%= index %>" class="SimilarThumbnailContainer">
            <img id="<%= index %>" class="similarThumbnail" src="<%= thumbnail_location %>" style="padding-bottom: 5px;">
            <button id="SimilarSameButton<%= index %>" class="btn btn-small btn-success SimilarSameButton" type="button" title="Yes, this image is the same."><i class="icon-ok"></i></button>
            <!--<button id="SimilarNotSameButton" class="btn btn-mini btn-danger" type="button"><i class="icon-remove"></i></button>-->
            <a href="#<%= index %>-modal" data-toggle="modal" id="SimilarModalButton<%= index %>" class="btn btn-small SimilarModalButton" type="button" title="Take a closer look."><i class="icon-search"></i></a>

            <span id="SimilarSameLayer<%= index %>" class="SimilarSameLayer"><i class="icon-ok icon-3x"></i></span>
        </div>

        <!-- Modal -->
        <div id="<%= index %>-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">Copy the same broad scale classification to this image?</h3>
          </div>
          <div class="modal-body">
            <img src="<%= web_location %>">
          </div>
          <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
            <button id="<%= index %>" data-dismiss="modal" class="btn btn-primary yesItsTheSame">Yes</button>
          </div>
        </div>
    </script>

    <script type="text/template" id="AnnotationStatusTemplate">

        <div>
            <ul>
                <li class="label label-inverse">Annotation Set Id:</li><li class="label"><%=annotation_set_id%></li><br>
                <li class="label label-inverse">Annotation Set Type:</li><li class="label"><%=annotation_set_type%></li><br>
                <li class="label label-inverse">Total Annotations:</li><li class="label"><%=total%></li><br>
                <li class="label label-inverse">Unannotated:</li><li class="label"><%=unannotated%></li><br>
                <li class="label label-inverse">Annotated:</li><li class="label"><%=annotated%></li><br>
                <ul class="nav-stacked">
                    <%=annotated_sub%>
                </ul>
            </ul>
            
        </div>

    </script>

    <script type="text/template" id="AnnotationStatusSubTemplate">
        <li class="label label-inverse"><%=sub_label%>:</li><li class="label"><%=sub_value%></li><br>
    </script>

    <script type="text/template" id="ImageZoomControlTemplate">
        <section class="buttons well">
            <div class="btn-group">
                <button class="btn zoom-in">Zoom In</button>
                <button class="btn zoom-out">Zoom Out</button>
            </div>
            <input type="range" class="zoom-range">
            <button class="btn btn-small reset">Reset</button>
        </section>
    </script>

    <script type="text/template" id="ImagePointsControlTemplate">
        <div class="well">
            <a id="hide_points_button" class="btn">Hide Points (click and hold me)</a>
            <a id="deselect_points_button" class="btn">Deselect Points</a>
        </div>
    </script>

    <script type="text/template" id="ChooseAnnotationTemplate">

        <div class="whole-image-annotation-selector" id="whole-image-annotation-selector"></div>
    	<div id="annotation-chooser"></div>


	</script>

	<script type="text/template" id="PointControlBarTemplate">
	    <div class="row span12 toolbar" style="margin-left:0px;">
            <div class="button-container-div">
                <ul>
                    <li class="toolbar-entry-wide">
                        <div>
                            <a class="zoom-out icon-button toolbar-entry-wide"><i class="icon-minus-sign icon-2x icon-style"></i></a>
                            <input type="range" class="zoom-range">
                            <a class="zoom-in icon-button toolbar-entry-wide"><i class="icon-plus-sign icon-2x icon-style"></i></a>
                        </div>
                        <span class="link_title icon-style-text">Image Zoom</span>
                    </li>
                    <a class="icon-button toolbar-entry-wide reset">
                        <li class="">
                            <i class="icon-resize-full icon-2x icon-style"></i>
                            <span class="link_title icon-style-text">Reset Zoom</span>
                        </li>
                    </a>
                    <a id="hide_points_button" class="icon-button toolbar-entry-wide">
                        <li class="">
                            <i class="icon-check-empty icon-2x icon-style"></i>
                            <span class="link_title icon-style-text">Hide Points</span>
                        </li>
                    </a>
                    <a id="deselect_points_button" class="icon-button toolbar-entry-wide">
                        <li class="">
                            <i class="icon-remove-circle icon-2x icon-style"></i>
                            <span class="link_title icon-style-text">Deselect</span>
                        </li>
                    </a>
                </ul>
            </div>
        </div>
	</script>

    <script type="text/template" id="WholeImageControlBarTemplate">
	    <div class="row span12 toolbar" style="margin-left:0px;">
            <div class="button-container-div">
                <ul>
                    <li class="toolbar-entry-wide">
                        <div>
                            <a href="#" class="zoom-out icon-button toolbar-entry-wide"><i class="icon-minus-sign icon-2x icon-style"></i></a>
                            <input type="range" class="zoom-range">
                            <a href="#" class="zoom-in icon-button toolbar-entry-wide"><i class="icon-plus-sign icon-2x icon-style"></i></a>
                        </div>
                        <span class="link_title icon-style-text">Image Zoom</span>
                    </li>
                    <a href="#" class="icon-button toolbar-entry-wide reset">
                        <li class="">
                            <i class="icon-resize-full icon-2x icon-style"></i>
                            <span class="link_title icon-style-text">Reset Zoom</span>
                        </li>
                    </a>
                </ul>
            </div>
        </div>
	</script>
	
	<script type="text/template" id="WholeImageAnnotationTemplate">
		<div>
			<ul id="broad_scale_list_view" class="wholeImageList">
				<li class="wholeImageHeader"><span>Broad Scale Annotations</span></li>
				<%=broadScaleAnnotations%>
				<a id="add_new_broadscale_annotation">
					<li class="AddBroadScaleElement">
						<span>Add a new annotation</span>
						<span class="pull-right"><i class="icon-plus-sign icon-2x icon-style icon-shadow"></i></span>
					</li>
				</a>
				<li id="DeleteBroadScaleConfirm" class="actionConfirmAlert alert alert-danger">
					<span><i class="icon-warning-sign"></i> Remove item/s?</span>
					<span class="btn btn-small pull-right dismiss_confirmation">No </span>
					<span id="confirm_delete" class="btn btn-small btn-danger pull-right">Yes </span>
				</li>
				<li id="DeleteAllBroadScaleConfirm" class="actionConfirmAlert alert alert-danger">
					<span><i class="icon-warning-sign"></i> Remove all annotations?</span>
					<span class="btn btn-small pull-right dismiss_confirmation">No </span>
					<span id="confirm_delete_all" class="btn btn-small btn-danger pull-right">Yes</span>
				</li>
				<li id="ClearAllBroadScaleConfirm" class="actionConfirmAlert alert alert-danger">
					<span><i class="icon-warning-sign"></i> Clear all annotations?</span>
					<span class="btn btn-small pull-right dismiss_confirmation">No </span>
					<span id="confirm_clear_all" class="btn btn-small btn-danger pull-right">Yes </span>
				</li>
				<li id="SetImageUnscorable" class="actionConfirmAlert alert alert-danger">
					<span><i class="icon-warning-sign"></i> Set this image unscorable? This will clear all annotations.</span>
					<span class="btn btn-small pull-right dismiss_confirmation">No </span>
					<span id="confirm_set_unscorable" class="btn btn-small btn-danger pull-right">Yes </span>
				</li>
				<li class="wholeImageFooter"> 
<!-- 					<a id="set_unscorable" class="btn btn-mini btn-warning pull-left"><i class="icon-question"></i> Unscorable</a>    -->
					<a id="delete_all_broad_scale" class="btn btn-mini btn-danger pull-right"><i class="icon-minus-sign-alt"></i> Delete All</a>   
					<a id="clear_all_broad_scale" class="btn btn-mini btn-danger pull-right"><i class="icon-refresh"></i> Reset All</a>
				</li>
			</ul>
		</div>
	</script>

	<script type="text/template" id="BroadScaleItemTemplate">
		<li class="wholeImageItem" data-model_id="<%=model_id%>">
			<a id="delete_selected_annotation" class="pull-right" ><i class="icon-trash broadScaleRemoveButton" data-model_id="<%=model_id%>"></i></a>
			<span class="wholeImageClassLabel label label-info pull-right"><%=broadScaleClassParent%></span>
			<span class="broadScalePercentage label label-info pull-right"><%=broadScalePercentage%></span>
			<span class="broadScaleTools pull-right" data-model_id="<%=model_id%>"><i class="icon-cog"></i></span>
			<span class="wholeImageLabel" class="pull-left" data-model_id="<%=model_id%>"><i class="icon-edit editBroadScaleIndictor pull-left"></i><%=broadScaleClass%></span>

			<div class="broadScaleControlContainer" data-model_id="<%=model_id%>">
				<div class="percentageSelector pull-right">
					<p class="percentageSelectorLabel pull-right">FOV Coverage</p>
					<span class="percentValue percent_none" data-percentage='-1' data-model_id="<%=model_id%>">--</span>
					<span class='percentValue percent_0' data-percentage='0' data-model_id="<%=model_id%>">0</span>
					<span class="percentValue percent_10" data-percentage='10' data-model_id="<%=model_id%>">10</span>
					<span class="percentValue percent_20" data-percentage='20' data-model_id="<%=model_id%>">20</span>
					<span class="percentValue percent_30" data-percentage='30' data-model_id="<%=model_id%>">30</span>
					<span class="percentValue percent_40" data-percentage='40' data-model_id="<%=model_id%>">40</span>
					<span class="percentValue percent_50" data-percentage='50' data-model_id="<%=model_id%>">50</span>
					<span class="percentValue percent_60" data-percentage='60' data-model_id="<%=model_id%>">60</span>
					<span class="percentValue percent_70" data-percentage='70' data-model_id="<%=model_id%>">70</span>
					<span class="percentValue percent_80" data-percentage='80' data-model_id="<%=model_id%>">80</span>
					<span class="percentValue percent_90" data-percentage='90' data-model_id="<%=model_id%>">90</span>
					<span class="percentValue percent_100" data-percentage='100' data-model_id="<%=model_id%>">100</span>
				</div>
			</div>
		</li>
	</script>
	
	<script type="text/template" id="BreadcrumbTemplate">
		<div class="span12">
		    <ul class="breadcrumb">

		        <li><a href="/projects/">Projects</a> <span
		                class="divider">></span></li>
		        <li><a href="/projects/<%=id%>/" ><%= name %></a> <span
		                class="divider">></span></li>
		        <li class="active">Annotate</li>

		    </ul>
		</div>
	</script>

    <script type="text/template" id="ThumbnailStripTemplate">                  
        <div id ="thumbnail-pane">
                <%=thumbnails%>
        </div>
    </script>

    <script type="text/template" id="ThumbnailTemplate">        
        <div class='wrapper' id='<%=thumbnailId%>' data-id='<%=thumbnailId%>' data-web_location='<%=web_location%>'>
            <div class='description'></div>           
            <img src='<%= thumbnail_location %>' data-src='<%= thumbnail_location %>' alt='image' style="width: 100%">
            <%= annotation_status %>
        </div>        
    </script>

    <script type="text/template" id="ImageTemplate">
        <img id="Image" src='<%= web_location %>' data-src='<%= web_location %>' alt='image'>
    </script>

    <script type="text/template" id="StatusTemplate">
        <span class="badge badge-info" id="<%= image_id %>" style="position: absolute; top: 5%; left: 2%;"><%=status%></span>
    </script>

    <script src="{{ STATIC_URL }}assets/jquery/modernizr.custom.17475.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}assets/catami-api/js/catamiUtil.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}assets/jquery/jquery.elastislide.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}assets/jpages/js/jPages.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}assets/backbone/templates/project-model.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}assets/backbone/templates/point-annotation-model.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}assets/backbone/templates/whole-image-annotation-model.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}assets/backbone/templates/annotationset-model.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}assets/backbone/templates/project-annotate-view.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}assets/jquery/plugins/jquery.imagesloaded.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}assets/jquery/plugins/jquery.accordion.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}assets/jquery/plugins/jquery.panzoom.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}assets/jquery.elevatezoom/jquery.elevateZoom-2.5.5.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}assets/bootstrap/js/bootstrap-button.js"></script>

    <script type="text/javascript" src="{{ STATIC_URL }}assets/jquery/plugins/jquery.autoResizeImages.js"></script>

    <script type="text/javascript">

        var projectId = "{{ project_id }}";
        var project = new ProjectLite({"id": projectId});

        var orchestratorView = new OrchestratorView();

        //TODO: this is a hacky way of applying a late style - think of a better way
        $(window).ready(function() {
            $('#ImageAppContainer').css("background-color", "#808080");
            $('#RightPane').css("visibility", "visible");
        });

        /*
        $(window).resize(function() {
            var height = $('#ImageAppContainer').height();
            $('#RightPane').css('height', height);
        });
        */

        $("#Image").imagesLoaded(function() {
            var divWidth = $("#ImageAppContainer").width();
            var divHeight = $("#ImageAppContainer").height();

            var max = (divWidth > divHeight) ? divHeight : divWidth;
            $('#Image').autoResizeImages({maxSize: max});
        });


    </script>


{% endblock %}
