{% extends "base-topmenu.html" %}
{% block title %}Catami Project - Project List {% endblock %}

{% block content %}

    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}assets/css/elastislide/elastislide.css" />
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}assets/css/elastislide/custom.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}assets/catami-api/css/bootstrapSwitch.css"/>
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}assets/css/annotation_accordion.css" />

    <style type="text/css">
        div.wrapper{
		    float:left; /* important */
		    position:relative; /* important(so we can absolutely position the description div */
		}
		div.description{
		    position:absolute; /* absolute position (so we can position it where we want)*/
		    bottom:5px;
		    left:0px;
		    width:100%;
		    background-color:rgba(0,0,0,0.2);
		    font-family: 'helvetica';
		    font-size:15px;
		    color:white;
		    font-weight: bold;
		    text-align: center;
		}

        #ImageContainer {
            position: relative;
            margin-top: 10px;
            /*margin-right: 510px;*/
        }

        #ImageContainer span {
            position: absolute;
            margin: 0px;
        }

        #Image {
            /*display: block;*/
            margin: 0px;
            position: relative;
        }

        .pointAnnotated {
        	-moz-box-shadow:inset 0px 0px 3px rgba(0,0,0,0.8), 0px 0px 3px rgba(0,0,0,0.8);
			-webkit-box-shadow:inset 0px 0px 3px rgba(0,0,0,0.8),  0px 0px 3px rgba(0,0,0,0.8);
			box-shadow:inset 0px 0px 3px rgba(0,0,0,0.8), 0px 0px 3px rgba(0,0,0,0.8);
            min-width: 12px;
            min-height: 12px;
		    background-color:rgba(20,237,24,0.0);
		    border: 2px solid #fff;
			border-top-left-radius: 25%;
			border-top-right-radius: 25%;
			border-bottom-left-radius: 25%;
			border-bottom-right-radius: 25%;
			color: #fff;
			text-shadow: 0px 0px 3px rgba(0,0,0,0.8);
        }


	    .pointNotAnnotated {
        	-moz-box-shadow:inset 0px 0px 3px rgba(0,0,0,0.8), 0px 0px 3px rgba(0,0,0,0.8);
			-webkit-box-shadow:inset 0px 0px 3px rgba(0,0,0,0.8),  0px 0px 3px rgba(0,0,0,0.8);
			box-shadow:inset 0px 0px 3px rgba(0,0,0,0.8), 0px 0px 3px rgba(0,0,0,0.8);
            width: 12px;
            height: 12px;
		    background-color:rgba(32,103,235,0.1);
		    border: 1px solid #fff;
		}

		@-webkit-keyframes rotation {
		    from {-webkit-transform: rotate(0deg);}
		    to   {-webkit-transform: rotate(359deg);}
		}

		.pointSelected {
        	-moz-box-shadow:inset 0px 0px 3px rgba(0,0,0,0.8), 0px 0px 3px rgba(0,0,0,0.8);
			-webkit-box-shadow:inset 0px 0px 3px rgba(0,0,0,0.8),  0px 0px 3px rgba(0,0,0,0.8);
			box-shadow:inset 0px 0px 3px rgba(0,0,0,0.8), 0px 0px 3px rgba(0,0,0,0.8);
            -webkit-animation: rotation 2s infinite linear;
            width: 12px;
            height: 12px;
		    background-color:rgba(240,206,9,0.1);
		    border: 2px dashed #fff;
			border-top-left-radius: 50%;
			border-top-right-radius: 50%;
			border-bottom-left-radius: 50%;
			border-bottom-right-radius: 50%;
		}
		.wholeImageList{
			list-style-type: none;
			padding: 0px;
			margin: 0px 0px 14px 0px;
		}
		.wholeImageItem {
		    list-style-position:outside;
		    border-bottom: 10px solid white;
		    background-color: rgba(237,237,237,1);
		    padding: 3px 5px;
		    font-weight: bold;
		}
		.wholeImageHeader {
		    list-style-position:outside;
		    border-bottom: 5px solid #e99c1e;
		    border-bottom-color: white;
		    border-top-color: white;
		    background-color: #ebe0cf;
		    padding: 4px 5px 5px 5px;
		    font-weight: bold;
		}
		.wholeImageFooter {
		    list-style-position:outside;
		    border-bottom: 2px solid #e99c1e;
		    border-bottom-color: white;
		    border-top-color: white;
		    background-color: #d7d1c7;
			padding-left: 10px;
			padding-right: 10px;
			padding-bottom: 3px;
			padding-top: 3px;
			font-weight: 300;
		}

		.wholeImageLabel{
		   -moz-box-shadow: 0px 0px 3px rgba(0,0,0,0.8);
			-webkit-box-shadow:0px 0px 3px rgba(0,0,0,0.8);
			box-shadow:0px 0px 3px rgba(0,0,0,0.8);
			margin-top: -4px;
			padding-left: 10px;
			padding-right: 10px;
			padding-top: 4px;
			padding-bottom: 4px;
			font-weight: 500;
			background-color: white;
			font-size: large;
		}
		
		.wholeImageLabelStatus{
			color:#57d357;
			padding-left:5px;
		}
		
		.wholeImageList a{
/* 			color: black; */
		}


/* toolbar */ 

		.toolbar {
			position: relative;
			bottom: 0;
			left: 0;
			z-index: 100;
			padding: 0px 10px;
			background: rgba(0,0,0, 0.85);
		}
		
		.toolbar ul {
			list-style: none;
			padding: 0;
			margin: 0;
			text-align: center;
		}
		
		.toolbar a {
			text-decoration: none;
		}
			
		.button-container-div{
			width: 80%;
			margin: 0 auto;
		}
		
		.toolbar-entry-wide{
			min-width: 80px;
		}
		.toolbar-entry-narrow{
			float: left;
			min-width: 40px;
		}
		.icon-button {
			padding: 10px 10px;
			border-radius: 0;
		}
		
		.toolbar button:active {
			background-color: #008aaa;
		}
		.toolbar li {
			display: inline-block;
			margin: 0 auto;
		}
	
		.toolbar span{
			display:inline-block;
			font-size: smaller;
		}
		.icon-style {
			color:white;
			width: 100%;
			margin: 0 auto;
		}
		.icon-style-text {
			color:white;
			display:block;
			font-weight: bold;
			width: 100%;
			margin: 0 auto;
		}
		
		.icon-style:active{
			color:#4f68f8;
		}

	</style>


	<section id="full-width-header" class="row-fluid span12" style="margin-left:0px;">
		<div id="BreadcrumbContainer"></div>
	</section>

    <div id="ContentContainer" class="row-fluid">

        <div class="span1">
            <a onclick="createBookmark();">
                <img src="/static/images/bookmark.jpg" /></a>
            <div id="ThumbnailStripContainer"></div>
            <div id="pagination"></div>           
        </div>

		<div id="ImageAppContainer" class="span7">
            <div id="ImageContainer"></div>
            <div id="ControlBarContainer" style="bottom:0;"></div>
        </div>


        <div id="RightPane" class="span4" style="visibility: hidden">

            <ul class="nav nav-tabs">
                <li class="active" ><a href="#AnnotationSelectionTab" data-toggle="tab">Annotation Selection</a></li>
                <li><a href="#SimilarImageTab" data-toggle="tab">Similar Images <span id="SimilarImageBadge" class="badge badge-info"></span> </a></li>
                <li><a href="#StatsTab" data-toggle="tab">Stats</a></li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane active" id="AnnotationSelectionTab">
                    <div id="ChooseAnnotationContainer" ></div>
                </div>
                <div class="tab-pane" id="SimilarImageTab">
                    <div id="ImageSimilarityContainer" ></div>
                </div>
                <div class="tab-pane" id="StatsTab">
                    <div id="ImagePILSContainer" ></div>
                </div>
            </div>

        </div>

    </div>

    <script type="text/template" id="ImageSimilarityTemplate">
        <h3></h3>
        <%=images%>
    </script>

    <script type="text/template" id="SimilarityThumbnailTemplate">
        <a href="#<%= index %>-modal" data-toggle="modal"> <img id="<%= index %>" class="similarThumbnail" src="<%= thumbnail_location %>" style="padding-bottom: 5px;"> </a>

        <!-- Modal -->
        <div id="<%= index %>-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">Copy the same broad scale classification to this image?</h3>
          </div>
          <div class="modal-body">
            <img src="<%= web_location %>">
          </div>
          <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">No</button>
            <button id="<%= index %>" data-dismiss="modal" class="btn btn-primary yesItsTheSame">Yes</button>
          </div>
        </div>
    </script>

    <script type="text/template" id="ImagePILSTemplate">

        <div>
			<h3>Image Labels</h3>
			<ul id="LabelPils" class="nav nav-pills"></ul>
        </div>

    </script>

    <script type="text/template" id="ImageZoomControlTemplate">
        <section class="buttons well">
            <div class="btn-group">
                <button class="btn zoom-in">Zoom In</button>
                <button class="btn zoom-out">Zoom Out</button>
            </div>
            <input type="range" class="zoom-range">
            <button class="btn btn-small reset">Reset</button>
        </section>
    </script>

    <script type="text/template" id="ImagePointsControlTemplate">
        <div class="well">
            <a id="hide_points_button" class="btn">Hide Points (click and hold me)</a>
            <a id="deselect_points_button" class="btn">Deselect Points</a>
        </div>
    </script>

    <script type="text/template" id="ChooseAnnotationTemplate">

        <div class="whole-image-annotation-selector" id="whole-image-annotation-selector"></div>
    	<div id="annotation-chooser"></div>


	</script>

	<script type="text/template" id="PointControlBarTemplate">
	    <div class="row span12 toolbar" style="margin-left:0px;">
            <div class="button-container-div">
                <ul>
                    <li class="toolbar-entry-wide">
                        <div>
                            <a class="zoom-out icon-button toolbar-entry-wide"><i class="icon-minus-sign icon-2x icon-style"></i></a>
                            <input type="range" class="zoom-range">
                            <a class="zoom-in icon-button toolbar-entry-wide"><i class="icon-plus-sign icon-2x icon-style"></i></a>
                        </div>
                        <span class="link_title icon-style-text">Image Zoom</span>
                    </li>
                    <a class="icon-button toolbar-entry-wide reset">
                        <li class="">
                            <i class="icon-resize-full icon-2x icon-style"></i>
                            <span class="link_title icon-style-text">Reset Zoom</span>
                        </li>
                    </a>
                    <a id="hide_points_button" class="icon-button toolbar-entry-wide">
                        <li class="">
                            <i class="icon-check-empty icon-2x icon-style"></i>
                            <span class="link_title icon-style-text">Hide Points</span>
                        </li>
                    </a>
                    <a id="deselect_points_button" class="icon-button toolbar-entry-wide">
                        <li class="">
                            <i class="icon-remove-circle icon-2x icon-style"></i>
                            <span class="link_title icon-style-text">Deselect</span>
                        </li>
                    </a>
                </ul>
            </div>
        </div>
	</script>

    <script type="text/template" id="WholeImageControlBarTemplate">
	    <div class="row span12 toolbar" style="margin-left:0px;">
            <div class="button-container-div">
                <ul>
                    <li class="toolbar-entry-wide">
                        <div>
                            <a href="#" class="zoom-out icon-button toolbar-entry-wide"><i class="icon-minus-sign icon-2x icon-style"></i></a>
                            <input type="range" class="zoom-range">
                            <a href="#" class="zoom-in icon-button toolbar-entry-wide"><i class="icon-plus-sign icon-2x icon-style"></i></a>
                        </div>
                        <span class="link_title icon-style-text">Image Zoom</span>
                    </li>
                    <a href="#" class="icon-button toolbar-entry-wide reset">
                        <li class="">
                            <i class="icon-resize-full icon-2x icon-style"></i>
                            <span class="link_title icon-style-text">Reset Zoom</span>
                        </li>
                    </a>
                </ul>
            </div>
        </div>
	</script>
	
	<script type="text/template" id="WholeImageAnnotationTemplate">
		<div>
			<ul class="wholeImageList">
				<li class="wholeImageHeader"><span>Broad Scale Classes</span><a id="clear_all_broad_scale" class="btn btn-mini btn-danger pull-right">Reset All</a></li>
				<a href='#' id="biota_annotation_label">
					<li class="wholeImageItem">
						<span>Biota</span>
<!-- 						<span class="wholeImageLabelStatus pull-right" id="dominant_biota_status"><i class="icon-check-sign"></i></span> -->
						<span class="wholeImageLabel pull-right" id="dominant_biota">Not Considered</span>
					</li>
				</a>
				<a href='#' id="substrate_annotation_label">
					<li class="wholeImageItem">
						<span>Substrate</span>
<!-- 						<span class="wholeImageLabelStatus pull-right" id="dominant_substrate_status"><i class="icon-check-sign small-shadow"> </i></span> -->
						<span class="wholeImageLabel pull-right" id="dominant_substrate" class="pull-right">Not Considered</span>
					</li>
				</a>
				<a href='#' id="relief_annotation_label">
					<li class="wholeImageItem">
						<span>Relief</span>
<!-- 						<span class="wholeImageLabelStatus pull-right" id="dominant_biota_status"><i class="icon-check-sign"> </i></span> -->
						<span class="wholeImageLabel pull-right" id="relief" class="pull-right">Not Considered</span>
					</li>
				</a>
				<a href='#' id="bedform_annotation_label">
					<li class="wholeImageItem">
						<span>Bedform</span>
<!-- 						<span class="wholeImageLabelStatus pull-right" id="dominant_biota_status"><i class="icon-check-sign"> </i></span> -->
						<span class="wholeImageLabel pull-right" id="bedform" class="pull-right">Not Considered</span>
					</li>
				</a>
				<li class="wholeImageFooter"><span class="label label-info">Tip</span><em> Choose classes below</em></li>
			</ul>
		</div>
	</script>

	<script type="text/template" id="BreadcrumbTemplate">
		<div class="span12">
		    <ul class="breadcrumb">

		        <li><a href="/projects/">Projects</a> <span
		                class="divider">></span></li>
		        <li><a href="/projects/<%=id%>/" ><%= name %></a> <span
		                class="divider">></span></li>
		        <li class="active">Annotate</li>

		    </ul>
		</div>
	</script>

    <script type="text/template" id="ThumbnailStripTemplate">                  
        <div id ="thumbnail-pane">
                <%=thumbnails%>
        </div>
    </script>

    <script type="text/template" id="ThumbnailTemplate">        
        <div class='wrapper' id='<%=thumbnailId%>' data-id='<%=thumbnailId%>' data-web_location='<%=web_location%>'>
            <div class='description'></div>           
            <img src='<%= thumbnail_location %>' data-src='<%= thumbnail_location %>' alt='image' style="width: 100%">
            <%= annotation_status %>
        </div>        
    </script>

    <script type="text/template" id="ImageTemplate">
        <img id="Image" src='<%= web_location %>' data-src='<%= web_location %>' alt='image'>
    </script>

    <script type="text/template" id="StatusTemplate">
        <span id="<%= image_id %>" style="color: red; position: absolute; top: 5%; right: 2%; font-size: 200%"><%=status%></span>
    </script>

    <script src="{{ STATIC_URL }}assets/jquery/modernizr.custom.17475.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}assets/catami-api/js/catamiUtil.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}assets/jquery/jquery.elastislide.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}assets/jpages/js/jPages.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}assets/backbone/templates/project-model.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}assets/backbone/templates/point-annotation-model.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}assets/backbone/templates/whole-image-annotation-model.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}assets/backbone/templates/annotationset-model.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}assets/backbone/templates/project-annotate-view.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}assets/jquery/plugins/jquery.imagesloaded.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}assets/jquery/plugins/jquery.accordion.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}assets/jquery/plugins/jquery.panzoom.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}assets/jquery.elevatezoom/jquery.elevateZoom-2.5.5.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}assets/bootstrap/js/bootstrap-button.js"></script>

    <script type="text/javascript" src="{{ STATIC_URL }}assets/jquery/plugins/jquery.autoResizeImages.js"></script>



    <script type="text/javascript">

        var projectId = "{{ project_id }}";
        var project = new ProjectLite({"id": projectId});

        var orchestratorView = new OrchestratorView();

        //TODO: this is a hacky way of applying a late style - think of a better way
        $(window).ready(function() {
            $('#ImageAppContainer').css("background-color", "#808080");
            $('#RightPane').css("visibility", "visible");
        });

        /*
        $(window).resize(function() {
            var height = $('#ImageAppContainer').height();
            $('#RightPane').css('height', height);
        });
        */

        $("#Image").imagesLoaded(function() {
            var divWidth = $("#ImageAppContainer").width();
            var divHeight = $("#ImageAppContainer").height();

            var max = (divWidth > divHeight) ? divHeight : divWidth;
            $('#Image').autoResizeImages({maxSize: max});
        });


    </script>


{% endblock %}
