{% extends "base-topmenu.html" %}
{% block title %}Catami Project - Project List {% endblock %}

{% block content %}

    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}assets/css/elastislide/elastislide.css" />
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}assets/css/elastislide/custom.css" />
    <style type="text/css">
        div.wrapper{
		    float:left; /* important */
		    position:relative; /* important(so we can absolutely position the description div */
		}
		div.description{
		    position:absolute; /* absolute position (so we can position it where we want)*/
		    bottom:5px;
		    left:0px;
		    width:100%;
		    background-color:rgba(0,0,0,0.2);
		    font-family: 'helvetica';
		    font-size:15px;
		    color:white;
		    font-weight: bold;
		    text-align: center;
		}
    </style>

    <div id="ProjectAnnotateContainer"></div>
    <div id="ImageContainer"></div>

    <script type="text/template" id="ProjectAnnotateTemplate">

        <!--
        <div class="row-fluid">
            <div class="span12">
                <ul class="breadcrumb">

                    <li><a href="/projects/">Projects</a> <span
                            class="divider">></span></li>
                    <li class="active"><%= name %></li>

                </ul>
            </div>
        </div>
        -->

        <div class='row-fluid'>
            <div class="span12 thumbnail-pane catami-slide" id ="thumbnail-pane">
                <ul id='carousel' class='elastislide-list'>
                    <%=thumbnails%>
                </ul>
            </div>
        </div>

    </script>

    <script type="text/template" id="ThumbnailTemplate">
        <li><div class='wrapper'><a href='#'><div class='description'></div><img src='<%= thumbnail_location %>' data-src='<%= thumbnail_location %>' alt='image'></a></div></li>
    </script>

    <script type="text/template" id="ImageTemplate">
        <img src='<%= web_location %>' data-src='<%= web_location %>' alt='image'>
    </script>

    <script src="{{ STATIC_URL }}assets/jquery/modernizr.custom.17475.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}assets/jquery/jquery.elastislide.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}assets/jpages/js/jPages.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}assets/backbone/templates/project-model.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}assets/backbone/templates/annotationset-model.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}assets/backbone/templates/project-annotate-view.js"></script>


    <script type="text/javascript">

        var projectId = "{{ project_id }}";

        var annotationSets = new AnnotationSets();
        annotationSets.fetch({
            data: { project: projectId },
            success: function (model, response, options) {
                //load the views
                var projectAnnotateView = new ProjectAnnotateView({
                    el: $("#ProjectAnnotateContainer"),
                    model : annotationSets
                });

                var imagesAnnotateView = new ImageAnnotateView({
                    el: $("#ImageContainer"),
                    model : annotationSets
                });

                //trigger an event for selecting the first thumbanil in the list
                GlobalEvent.trigger("thumbnail_selected", 0);
            },
            error: function (model, response, options) {
                alert('Fetch failed: ' + response.status);
            }
        });

    </script>

{% endblock %}