{% extends "base-topmenu.html" %}
{% block title %}{{ block.super }} : {{ request.path }}{% endblock %}
{% block content %}
    <div class="row-fluid">
        <div class="hero-unit">
            <h1>Public Collections</h1>

            <p>This page shows a list of publicly shared collections. A Collection is a set of data (images and
                associated metadata) that has been prepared by a user for further processing, downloading or sharing.
                The data may come from one or more deployments, surveys or campaigns.</p>
        </div>
    </div>
    <!--<div id="collectiontable"></div>-->
    {% include "webinterface/dataviews/collectiontable.html" %}

{% endblock %}