{% extends "base-topmenu.html" %}
{% block title %}{{ block.super }} : {{ request.path }}{% endblock %}
{% block tail_head %}
    <style type="text/css">
        .viewpane {
            padding-left: 10px;
            border-left-style: solid;
            border-left-width: 1px;
            border-color: #ddd;
        }


    </style>
    <link rel="stylesheet" href="{{ STATIC_URL }}assets/catami-api/css/collections.css" type="text/css">
{% endblock %}
{% block content %}
    <div class="row-fluid">

        <div class="span2">
            <div class="well" style="padding:10px; padding-left: 0; padding-right: 0;">
                <ul class="nav nav-list">
                    <li class="nav-header">Collection:</li>
                    <li id="cl-item">
                        <!--JS--> Loading...
                    </li>
                    <li class="divider"></li>
                    <li class="nav-header">Worksets:</li>
                </ul>
                <ul id="ws-list" class="nav nav-list">
                    <li>
                        <!--JS--> Loading...
                    </li>
                </ul>
                <ul class="nav nav-list">
                    <li class="divider"></li>
                    <li><a href="#NewWorksetModal" onclick="openNewWorksetModalWindow();"><i class="icon-plus-sign"></i> New Workset</a></li>
                </ul>
            </div>
            {% include "webinterface/dataviews/workset-forms-modal.html" %}
        </div>

        <div class="span10 viewpane">


            <ul class="nav nav-tabs">
                <li class="active"><a href="#map" ><i class="icon-globe"></i> Map</a></li>
                <li><a href="#thm" ><i class="icon-eye-open"></i> Thumbnails</a></li>
                <!--
                <li><a href="#tax" >Taxonomy</a></li>
                <li><a href="#cst" ><i class="icon-cog"></i> Visual Clusters</a></li>
                -->
                <li class="pull-right"><a href="#dwn" ><i class="icon-download-alt"></i> Download</a></li>
                <li class="pull-right"><a href="#ant" ><i class="icon-tag"></i> Annotate</a></li>
                <!--
                <li class="pull-right"><a href="#cls" ><i class="icon-sitemap"></i> Classify</a></li>
                -->
            </ul>


            <div class="tab-content">
                <div class="tab-pane active" id="map">
                    <ul id="map-ctrl" class="nav nav-pills"  style="margin-bottom: 0; padding-bottom: 0;">
                        <li class="disabled"><a href="#_">Show:</a></li>
                        <li id="map-ctrl-cl"><a href="#_"  data-toggle="tab" onclick="updateMapForSelectedCollection({{ collection_id }});">Collection</a></li>
                        <li id="map-ctrl-ws"><a href="#_"  data-toggle="tab">Workset</a></li>
                    </ul>
                    {% include "webinterface/dataviews/mapview.html" %}
                </div>
                <!--
                <div class="tab-pane" id="tax">
                    {% include "webinterface/dataviews/taxonomytree.html" %}
                </div>
                <div class="tab-pane" id="cst">
                    {% include "webinterface/dataviews/clusterview.html" %}
                </div>
                -->
                <div class="tab-pane" id="thm">
                    {% include "webinterface/dataviews/thumbnails.html" %}
                </div>
                <div class="tab-pane" id="ant">
                    This will give options to continue or create an annotation run on the selected Workset.<br>

                    <a href="{% url webinterface.views.image_view %}" class="btn btn-primary imageframe"
                       data-fancybox-group="annotationlist" data-fancybox-type="iframe" rel="tooltip"
                       title="Annotate Workset1"><i class="icon-tag"></i> Example</a>
                </div>
                <!--
                <div class="tab-pane" id="cls">
                    Classify
                </div>
                -->
                <div class="tab-pane" id="dwn">
                    This will contain options for downloading a variety of different combinations the data.
                </div>
            </div>
        </div>
    </div>



{% endblock %}

{% block add_script %}
    <script type="text/javascript" src="{{ STATIC_URL }}assets/catami-api/js/collections.js"></script>
    <script type="text/javascript">

        // Instantiate collection list object
        wslist = new CollectionAPI({
            config: {
                format: '<li id="ws-{id}"><a href="#_" class="clinfopopover pull-right" data-toggle="popover" data-trigger="hover" data-placement="rightTop" data-html="true" data-content="<small>Created by <b>{username}</b> on <b>{creation_date}</b>.<br>Contains <b>{image_count}</b> images.<br>{creation_info}.<br><em>{description}</em></small>" data-original-title="{type} information"><i class="icon-info-sign"></i></a>' +
                        '<a href="#_" onclick="selectWorkset({id});">{name}</a></li>'
            }
        });
        clitem = new CollectionAPI({
            config: {
                format: '<a href="#_" class="clinfopopover pull-right" data-toggle="popover" data-trigger="hover" data-placement="rightTop" data-html="true" data-content="<small>Created by <b>{username}</b> on <b>{creation_date}</b>.<br>Contains <b>{image_count}</b> images.<br>{creation_info}.<br><em>{description}</em></small>" data-original-title="{type} information"><i class="icon-info-sign"></i></a>' +
                        '<a href="#_" onclick="clearWorkset({id});">{name}</a>'
            }
        });


        function selectCollection(id) {
            getNewImageList('collection=' + id);
            updateMapForSelectedCollection(id);
            showMapControl (false)
        }

        function clearWorkset(id) {
            $('#ws-info').html('None.');
            $('#ws-list>li.active').removeClass('active');
            showMapControl (false);
            selectCollection(id);
        }

        function selectWorkset(id) {
            //wsinfo.getCollectionInfo(id, '#ws-info');
            selectCollection(id);
            $('#ws-list>li.active').removeClass('active'); // remove active class from active workset
            $('#cl-item.active').removeClass('active');  // remove active class from active collection
            $('#ws-list>#ws-'+id).addClass('active');
            showMapControl (id);
        }

        function showMapControl (id) {
            // NOTE: THIS IS A BIT HACKY
            // TODO: This should be controllable through layers on the map (eg: Google maps)
            if (id) {
                $('#map-ctrl-ws>a').attr('onClick', 'updateMapForSelectedCollection('+id+')');
                $('#map-ctrl-ws').addClass('active');
                $('#map-ctrl').show();
            } else {
                $('#map-ctrl>li.active').removeClass('active');
                $('#cl-item').addClass('active');
                $('#map-ctrl').hide();
            }
        }

        $(document).ready(function () {
            wslist.getCollectionItems('parent={{ collection_id }}&limit=100', '#ws-list');
            clitem.getCollectionInfo({{ collection_id }}, '#cl-item');
            $('.clinfopopover').popover();
            initDeploymentMap();

            {% if workset_id %}
                selectWorkset({{ workset_id }});
            {% else %}
                selectCollection({{ collection_id }});
            {% endif %}

            // Custom tab activation to make hashes persistent in url
            // do not use data-toggle="tab" attribute
            $('.nav-tabs a').on('click',function (e) {
                e.preventDefault();
                $(this).tab('show');
                history.replaceState(null, '', $(this).attr('href'));
            });

            $(".imageframe").fancybox({
                maxWidth: 2000,
                maxHeight: 1400,
                fitToView: false,
                width: '95%',
                height: '95%',
                autoSize: false,
                closeClick: false,
                openEffect: 'fade',
                closeEffect: 'none'
            });
        });

    </script>
{% endblock %}  
