{% extends "base-topmenu.html" %}
{% block title %}{{ block.super }} : {{ request.path }}{% endblock %}
{% block tail_head %}
    <style type="text/css">
        .viewpane {
            padding-left: 10px;
            border-left-style: solid;
            border-left-width: 1px;
            border-color: #ddd;
        }
        .viewobj {
            border-style: solid;
            border-width: 2px;
            border-color: #ddd;
        }
        .workpane {
            width: 99%;
            margin:0;
        }
        input[type='number']{
            padding: 0px;
            margin: 0px;
            width: 40px;
        }
            /*
            .nav-tabs li a {
                background-color: #ddd;
                color: #3a3a3a;
            }
            */
        .sidepanel {
            padding:5px;
        }
        .sidepanel hr {
            padding:0;
            margin: 0;
        }
    </style>
    <link rel="stylesheet" href="{{ STATIC_URL }}assets/catami-api/css/collections.css" type="text/css">
{% endblock %}
{% block content %}
    <div class="row-fluid">

        {% comment %}<div class="span1">{% endcomment %}

            <div class="span2 well sidepanel pull-left">
            {% comment %}<div class="tabbable tabs-left sidepanel">{% endcomment %}
                {% comment %}<ul class="nav nav-tabs nav-pills red" id="collections-left-tabs">{% endcomment %}
                <ul class="nav nav-list" id="collections-left-tabs">
                    <li class="nav-header">Collection</li>
                    <li class="active">
                        <a href="#rnd" data-toggle="tab" id="collection-name-nav">Collection</a>
                    </li>
                {% comment %}</ul>
                <ul class="nav nav-tabs nav-pills" id="collections-left-tabs">{% endcomment %}
                    <li class="nav-header">Worksets</li>


                </ul>
             </div>

            {% comment %}<div class="well sidepanel">
                <div id="cl-info" class="cl-info-sidepanel"></div>
                <span class="pull-right"><a href="#_" id="showCollectionMapLink" onclick="updateMapForSelectedCollection({{ collection_id }});">map</a></span>
            </div>
            <div class="well sidepanel" style="padding:5px;">
                <div id="ws-info" class="cl-info-sidepanel"></div><hr>
                <span class="pull-right"><a href="#_" id="clearWorksetLink"></a> &nbsp;&nbsp; <a href="#map" data-toggle="tab" id="showWorksetMapLink"></a></span>
                <hr>
                {% with "Workset" as clname %}
                    {% include "webinterface/dataviews/worksetlists.html"%}
                {% endwith %}
            </div>{% endcomment %}
        {% comment %}</div>{% endcomment %}

        <div class="span10" >


            <ul class="nav nav-tabs">
                <li class="active"><a href="#map" data-toggle="tab"><i class="icon-globe"></i> Map</a></li>
                <li><a href="#thm" data-toggle="tab"><i class="icon-eye-open"></i> Thumbnails</a></li>
                <li><a href="#tax" data-toggle="tab">Taxonomy</a></li>
                <li><a href="#cst" data-toggle="tab"><i class="icon-cog"></i> Visual Clusters</a></li>
                <li class="pull-right"><a href="#dwn" data-toggle="tab"><i class="icon-download-alt"></i> Download</a></li>
                <li class="pull-right"><a href="#ant" data-toggle="tab"><i class="icon-tag"></i> Annotate</a></li>
                <li class="pull-right"><a href="#cls" data-toggle="tab"><i class="icon-sitemap"></i> Classify</a></li>
            </ul>


            <div class="tab-content">
                <div class="tab-pane active" id="map">
                    {% include "webinterface/dataviews/mapview.html"%}
                </div>
                <div class="tab-pane" id="tax">
                    {% include "webinterface/dataviews/taxonomytree.html"%}
                </div>
                <div class="tab-pane" id="cst">
                    {% include "webinterface/dataviews/clusterview.html"%}
                </div>
                <div class="tab-pane" id="thm">
                    {% include "webinterface/dataviews/thumbnails.html"%}
                </div>
                <div class="tab-pane" id="ant">
                    This will give options to continue or create an annotation run on the selected Workset.<br>
                    <a href="{% url webinterface.views.image_annotate %}" class="btn btn-primary imageframe" data-fancybox-group="annotationlist" data-fancybox-type="iframe" rel="tooltip" title="Annotate Workset1"><i class="icon-tag"></i> Annotate!</a>
                </div>
                <div class="tab-pane" id="cls">
                    Classify
                </div>
                <div class="tab-pane" id="dwn">
                    This will contain options for downloading a variety of different combinations the data.
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block add_script %}
    <script type="text/javascript" src="{{ STATIC_URL }}assets/catami-api/js/collections.js"></script>
    <script type="text/javascript">

        // Collection info object
        clinfo = new CollectionInfo();

        $(document).ready(function(){
            collectionId = {{ collection_id }};

            console.log(collectionId);

            getNewImageList('collection=' + collectionId);
            //initDeploymentMap ();
            //setCollectionProperties({{ collection_id }},'#Collection-properties');
            clinfo.getCollectionInfo(collectionId,'#cl-info');
            $('.cldescription').shorten({showChars : 50});          // Shorten descriptions for nicer display

            //collection name
            var api_url = "/api/dev/collection/"+'?id='+collectionId;
            $.ajax({
                dataType: "json",
                async: false,  // prevent asyncronous mode to allow setting of variables within function
                url: api_url ,
                success: function(cl){
                    var clobj = cl.objects[0];
                    $('#collection-name-nav').replaceWith('<a href="#rnd" data-toggle="tab" id="collection-name-nav">'+ clobj.name +'</a>');
                }
            })

            //worksets for collections
            var apiurl = "/api/dev/collection/?parent="+collectionId;
            {% comment %}$('#collections-left-tabs').empty();{% endcomment %}

            $.getJSON(apiurl , function(response){
                for (var i = 0; i < response.objects.length; i++) {
                    $('#collections-left-tabs').append('<li><a href="#spt" data-toggle="tab">'+response.objects[i].name+'</a></li>');
                }
                $('#collections-left-tabs').append('<li class="divider"></li>');
                $('#collections-left-tabs').append('<li><a href="#spt" data-toggle="tab">New Workset<i class="icon-plus-sign icon-1x pull-center"></i></a></li>');
            });


            initDeploymentMap();
            updateMapForSelectedCollection({{ collection_id }});

            {% if workset_id %}
                selectWorkset({{ workset_id }});
            {% endif %}
        });

        function selectWorkset(id) {
            getNewImageList('collection='+id);
            clinfo.getCollectionInfo(id,'#ws-info');
            updateMapForSelectedCollection(id);

            $('#clearWorksetLink').html('clear');

            // TODO: this is a hack - it should be a map layer
            $('#showWorksetMapLink').attr('onClick','updateMapForSelectedCollection('+id+');');
            $('#showWorksetMapLink').html('map');
        }

    </script>
{% endblock %}  
