{% extends 'base.html' %}

{% block sidebar %}
        <div id="sidebar-nav" class="span3" style="padding-left:10px;">
    
          <h1>Search</h1>  
          <div class="well well-small" style="align:center;">

            <p class="lead">Find things</p>
            <p>options</p>
          </div><!--/.well -->
    
        </div>
{% endblock %}

{% block content %}

<form action="." method="get">
    <table>
        {{ form.as_table }}
    </table>
    <input type="submit" value="Search"/>
    <br><br>
    {% if query %}
        <div class="span8">
            <p>You searched for: <strong>{{ query }}</strong></p>
            {% for result in page.object_list %}

                {% if result.model_name == 'campaign' %}
                    {% include 'search/_result_object_campaign.html' %}
                {% elif result.model_name == 'deployment' %}
                    {% include 'search/_result_object_deployment.html' %}
                {% else %}
                    <div class="alert alert-error"><p>If you're seeing this, then there is a bug. Please let someone at Catami know.</p></div>
                {% endif %}

                {% empty %}<div class="alert alert-info alert-block"><h4>No results found for <strong>{{ query }}</strong>. Oh snap!</h4>Perhaps try a different search?  If you think this is a bug, get in touch.</div>
            {% endfor %}
        </div>

        {% if page.has_previous or page.has_next %}
            <div>{% if page.has_previous %}<a href="?q={{ query }}&page={{ page.previous_page_number }}">{% endif %}« Previous{% if page.has_previous %}</a>{% endif %}
            |
            {% if page.has_next %}<a href="?q={{ query }}&page={{ page.next_page_number }}">{% endif %}Next »{% if page.has_next %}</a>{% endif %}</div>
        {% endif %}</div>

    {% else %}

{% endif %}
</form>

{% endblock %}