body {

}

div.hero-unit {
    padding: 20px;
}

.navbar .brand {
    max-height: 40px;
    overflow: visible;
    padding-top: 0px;
    padding-bottom: 0px
}

ul.nav li.dropdown:hover ul.dropdown-menu {
    display: block;
}

.navbar .dropdown-menu {
    margin-top: 0px;
}

.viewpane {
/*    padding-left: 10px;
    border-left-style: solid;
    border-left-width: 1px;
    border-color: #ddd;*/
}
