<!------------------------------------------
Template-specific HTML
------------------------------------------->
<small>
    {{ clname }} info:
    <div id="{{ clname }}-properties">
        <!-- Content from jquery -->
        <h4>No {{ clname }} is currently selected.</h4>
        Click below to select a {{ clname }}.
    </div>
</small>
<!------------------------------------------
Template-specific javascript functions
------------------------------------------->
<script type="text/javascript">
    function set{{ clname }}Properties(id) {
        var apiurl = '/api/dev/collection/?id='+id;    //create api url with filter

        $.getJSON(apiurl , function(cl){
            $("#{{ clname }}-properties").html('<h4>'+cl.objects[0].name+'</h4>');
            $("#{{ clname }}-properties").append('<strong>'+cl.objects[0].creation_info+'</strong><br>');
            $("#{{ clname }}-properties").append('<em>'+cl.objects[0].description+'</em><br>');
            $("#{{ clname }}-properties").append('<strong>Date:</strong>'+cl.objects[0].creation_date+'<br>');
            $("#{{ clname }}-properties").append('<strong>Owner:</strong>'+cl.objects[0].owner+'<br>');
            $("#{{ clname }}-properties").append('<strong>Access:</strong>'+ (cl.objects[0].is_public ? 'Public' : 'Private') +'<br>');
        })
    }
</script>