<!------------------------------------------
Template-specific styles
------------------------------------------->


<!------------------------------------------
Template-specific HTML
------------------------------------------->
<div id="image-list-container">
    <div id="image-list" >
        <!-- Content inserted using javascript function -->
        <p>Le image list</p>
    </div>
</div>

<!------------------------------------------
Template-specific javascript functions
------------------------------------------->


<script type="text/javascript">
    function getNewImageList(filter, numimgs) {
        numimgs = numimgs || 36;            // set default number of images
        filter = 'limit=' + numimgs + '&' + filter;
        thlist.getNewThumbnails("#thmlist",filter);
        $('#btnnext').attr('onclick','getThumbnails("'+thlist.meta.next+'",false);');
        //$('#thminfo').html('Showing '+thlist.meta.start+' to '+thlist.meta.end+' of '+thlist.meta.total_count);
        $('#thminfo').html('Showing 1 to '+thlist.meta.end+' of '+thlist.meta.total_count);
    }
</script>
