<!------------------------------------------
Template-specific styles
------------------------------------------->
<style type="text/css">
    {% comment %}#thmcontainer {
        width: 950px;
    }{% endcomment %}

    #thmlist img {
        width: 150px;
        margin-right: 5px;
        margin-bottom: 5px;
        background-color: #CCC;
    }
</style>

<!------------------------------------------
Template-specific HTML
------------------------------------------->
<div id="thmcontainer">
    <div id="thmlist" >
        <!-- Content inserted using javascript function -->
    </div>
    <div style="width:100%; text-align: center;">
        <a href="#_" class="btn btn-primary" id="btnnext"><i class="icon-plus-sign"></i> View more images</a><br>
        <span id="thminfo">
            <!-- Content inserted using javascript function -->
        </span>
    </div>
</div>

<!------------------------------------------
Template-specific javascript functions
------------------------------------------->
<script type="text/javascript" src="{{ STATIC_URL }}assets/catami-api/js/thumbnails.js"></script>

<script type="text/javascript">
    var thlist = new ThumnailAPI({});

    function getNewImageList(filter, numimgs) {
        numimgs = numimgs || 36;            // set default number of images
        filter = 'limit=' + numimgs + '&' + filter;
        thlist.getNewThumbnails("#thmlist",filter);
        $('#btnnext').attr('onclick','getThumbnails("'+thlist.meta.next+'",false);');
        //$('#thminfo').html('Showing '+thlist.meta.start+' to '+thlist.meta.end+' of '+thlist.meta.total_count);
        $('#thminfo').html('Showing 1 to '+thlist.meta.end+' of '+thlist.meta.total_count);
    }
</script>
