<!--<a class="btn btn-primary" style="display: block;" href="#NewWorksetModal" onclick="openNewWorksetModalWindow();">
<i class="icon-plus-sign-alt"></i> New Workset</a>-->
{% load bootstrap_toolkit %}

<style type="text/css" media="screen">
    input.error{
        border:1px solid red !important;
        background-color:#fdd !important;
    }
    .form-horizontal-modal .control-label {
        width:150px;
        padding-right:10px;
    }
    .form-horizontal-modal .controls {
        margin-left: 0px;
    }
    .alert {
        margin-bottom: 10px;
        display: block;
        border-color: #252525;
    }
    .modal .modal-body {
        max-height: 100%;
    }
</style>

<div id="NewWorksetModal" style="display:none" tabindex="-1" role="dialog" aria-labelledby="TaskModalLabel" aria-hidden="true">
    <div class="modal-header">
        <h3 id="NewWorksetModalLabel">Create a new workset for annotation</h3>
    </div>

    <div class="modal-body">
	    <p>Enter a name, decide how to sample images and how you want to annotate your images</p>
	
	        <div id="creation_modal">
	        <form action="" method="post" id="workset_annotation_creation_form" class="form-horizontal form-horizontal-modal" >
	            <span id="errors"></span>
	            {% csrf_token %}
	            {{ workset_annotation_creation_form|as_bootstrap }}
	            <input class="btn btn-primary pull-right" type="button" value="Create Workset" onclick="send_workset_form('#workset_annotation_creation_form');">
	            <button class="btn pull-right" style="margin-right:10px;" aria-hidden="true" data-dismiss="modal" onclick="">Cancel</button>
	        </form>
	        </div>
    </div>
</div>                

<script type="text/javascript">
    /*
    NOTE: the JS in this sub-template is heavily tethered to the parent template
    TODO: figure out a better way to manage the JS in these situations
    */
    function openNewWorksetModalWindow() {
        //$('#NewWorksetModal').modal('show');
        
        	$.fancybox({
                'autoScale': true,
                'transitionIn': 'elastic',
                'transitionOut': 'elastic',
                'speedIn': 0,
                'speedOut': 0,
                'closeBtn' : false,
                'autoDimensions': true,
                'href' : '#NewWorksetModal',
                'helpers'   : { 
							   overlay : {closeClick: false} // prevents closing when clicking OUTSIDE fancybox 
							  }
            });                   
    }
    
    function send_workset_form(form_id){
     	$.fancybox.close();
    	Dajaxice.webinterface.send_workset_and_annotation_form(Dajax.process, {'form':$(form_id).serialize(true),'form_id':form_id});
    }
    
    function refresh_worksets(wsid, msg) {
        $('#NewWorksetModal').modal('hide');
        if (wsid != null) {
            show_note('Success',msg,'success',true);
            wslist.getCollectionItems('parent={{ collection_id }}&limit=100', '#ws-list');
            selectWorkset(wsid);
            $('#ws-list>li>a.clinfopopover').popover();
            clear_form ('#wsform_strat');
            clear_form ('#wsform_rand');
        } else {
            show_note('Error!',msg,'error');
        }
    }
    function form_errors(haserror, form_id) {
        var selobj = $(form_id+'>span#errors');
        if (haserror) {
            selobj.addClass('alert alert-error');
            selobj.html('<b>Error:</b> please correct the inputs highlighted below.');
        } else {
            selobj.removeClass();
            selobj.html('');
        }
    }
    function clear_form (form_id) {
        form_errors(false, form_id);
        $(form_id+' input').removeClass('error');
        $(form_id)[0].reset();
    }
</script>
