<!--<a class="btn btn-primary" style="display: block;" href="#NewWorksetModal" onclick="openNewWorksetModalWindow();"><i
        class="icon-plus-sign-alt"></i> New Workset</a>-->

<div id="NewWorksetModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="TaskModalLabel"
     aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="NewWorksetModalLabel">Create new Workset</h3>
    </div>

    <div class="modal-body">
        <div class="tab-pane" id="newwks">
            <p>Use this section to create a new Workset. Select a sampling strategy:</p>

            <div class="tabbable tabs-left">
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a href="#rnd" data-toggle="tab">Random</a>
                    </li>
                    <li>
                        <a href="#str" data-toggle="tab">Stratified</a>
                    </li>
                </ul    >
                <div class="tab-content">
                    <div class="tab-pane active well" id="rnd">
                        <p><strong>Random:</strong> make a new Workset by randomly sub-sampling N images from the
                            collection.</p>

                        <form class="form" class="form-horizontal"
                              action="{% url webinterface.views.create_workset_from_project "random" %}"
                              method="post">
                            <table width="100%">
                                <tr>
                                    <td>
                                        Name
                                    </td>
                                    <td>
                                        <input type="text" class="input" placeholder="Name for Workset" name="name">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Parameters
                                    </td>
                                    <td>
                                        <label><input class="flat" type="number" min="1" step="1" value="50" name="n">:
                                            # random images to sample</label>
                                        <!--<label><input type="checkbox" name="ispublic" value="true"> make public?</label>-->
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Description
                                    </td>
                                    <td>
                                        <textarea class="flat" rows="5" placeholder="Description for Workset"
                                                  name="description"></textarea>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <input type="hidden" name="c_id" id="c_id_random" value="{{ collection_id }}">
                                        <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
                                        <button class="btn pull-right" type="submit" value="submit"><i
                                                class="icon-plus-sign"></i> Create
                                        </button>
                                    </td>
                                </tr>
                            </table>
                        </form>
                    </div>
                    <div class="tab-pane well" id="str">
                        <p><strong>Stratified:</strong> make a new Workset by sub-sampling every Nth image from the
                            collection.</p>

                        <form class="form" class="form-horizontal"
                              action="{% url webinterface.views.create_workset_from_project "stratified" %}"
                              method="post">
                            <table width="100%">
                                <tr>
                                    <td>
                                        Name
                                    </td>
                                    <td>
                                        <input type="text" class="input" placeholder="Name for Workset" name="name">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Parameters
                                    </td>
                                    <td>
                                        <label><input class="flat" type="number" min="1" step="1" value="50" name="n">:
                                            # images between samples</label>
                                        <!--<label><input type="checkbox" name="ispublic" id="ispublic" value="true"> make
                                            public?</label>-->
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Description
                                    </td>
                                    <td>
                                        <textarea class="flat" rows="5" placeholder="Description for Workset"
                                                  name="description"></textarea>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <input type="hidden" name="c_id" id="c_id_stratified"
                                               value="{{ collection_id }}">
                                        <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
                                        <button class="btn pull-right" type="submit" value="submit"><i
                                                class="icon-plus-sign"></i> Create
                                        </button>
                                    </td>
                                </tr>
                            </table>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    function openNewWorksetModalWindow() {
        $('#SelectWorksetModal').modal('hide');
        $('#NewWorksetModal').modal('show');
    }
</script>
