<!------------------------------------------
Template-specific HTML
------------------------------------------->
<br>
<div style="text-align: center;">
    <a class="btn btn-primary" href="#SelectWorksetModal" data-toggle="modal"  data-target="#SelectWorksetModal"><i class="icon-th-list"></i> Select a Workset</a>
</div>

<div id="SelectWorksetModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="TaskModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="SelectWorksetModalLabel">Select a Workset:</h3>
    </div>
    <div class="modal-body">
        <div class="tab-pane" id="wks">
            <div class="tabbable">
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a href="#ws_all" data-toggle="tab">All</a>
                    </li>
                    <li>
                        <a href="#ws_pub" data-toggle="tab">Public</a>
                    </li>
                    <li>
                        <a href="#ws_mine" data-toggle="tab">Mine</a>
                    </li>
                </ul>
                <div class="tab-content" style="margin: 0;">
                    <div class="tab-pane active" id="ws_all">
                        <select name="allWorksets" size="10" multiple="multiple" id="allWorksets" style="width: 100%">
                            <!-- Content inserted from jqery -->
                        </select>
                    </div>
                    <div class="tab-pane" id="ws_pub">
                        <select name="pubWorksets" size="10" multiple="multiple" id="pubWorksets" style="width: 100%" disabled="disabled">
                            <!-- Content inserted from jqery -->
                        </select>
                    </div>
                    <div class="tab-pane" id="ws_mine">
                        <select name="myWorksets" size="10" multiple="multiple" id="myWorksets" style="width: 100%" disabled="disabled">
                            <!-- Content inserted from jqery -->
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <a class="btn btn-primary" onclick="openNewModalWindow();"><i class="icon-plus-sign icon-white"></i> Create new Workset</a>
        <a class="btn btn-primary pull-right" href="#_" id="btnSelectWorkset"><i class="icon-th-list"></i> Select a Workset</a>
    </div>
</div>


<!-- Data Task Modal -->
<div id="NewWorksetModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="TaskModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="NewWorksetModalLabel">Create new Workset</h3>
    </div>
    <div class="modal-body">
        <div class="tab-pane" id="newwks">
            <p>Use this section to create a new Workset. Select a sampling strategy:</p>
            <div class="tabbable tabs-left">
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a href="#rnd" data-toggle="tab">Random</a>
                    </li>
                    <li>
                        <a href="#str" data-toggle="tab">Stratified</a>
                    </li>
                    <li>
                        <a href="#spt" data-toggle="tab">Spatial</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active well" id="rnd">
                        <p><strong>Random:</strong> make a new Workset by randomly sub-sampling N images from the collection.</p>
                        <form class="form"  class="form-horizontal" action="{% url webinterface.views.create_workset_from_collection_random %}" method="post">
                            <table width="100%">
                                <tr>
                                    <td>
                                        Name
                                    </td>
                                    <td>
                                        <input type="text" class="input"  placeholder="Name for Workset" id="name" name="name">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Parameters
                                    </td>
                                    <td>
                                        <label><input class="flat" type="number" min="1" step="1" value="50" id="n" name="n"> number of random samples</label>
                                        <label><input type="checkbox" name="ispublic" id="ispublic" value="true"> make public?</label>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Description
                                    </td>
                                    <td>
                                        <textarea class="flat" rows="5" placeholder="Description for Workset"  id="description" name="description"></textarea>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <input type="hidden" name="c_id" id="c_id" value="">
                                        <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
                                        <button class="btn pull-right" type="submit" value="submit"><i class="icon-plus-sign"></i> Create</button>
                                    </td>
                                </tr>
                            </table>
                        </form>
                    </div>
                    <div class="tab-pane well" id="str">
                        <p><strong>Stratified:</strong> make a new Workset by sub-sampoling every Nth image from the collection.</p>
                        <form class="form" style="margin:0; padding:0;">
                            <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
                            <button class="btn pull-right" type="submit" value="submit"><i class="icon-plus-sign"></i> Create</button>
                        </form>
                    </div>
                    <div class="tab-pane well" id="spt">
                        <p><strong>Spatial:</strong> make a new Workset by spatially sub-sampling images from the collection.</p>
                        <form class="form" style="margin:0; padding:0;">
                            <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
                            <button class="btn pull-right" type="submit" value="submit"><i class="icon-plus-sign"></i> Create</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--
<ul class="nav nav-pills">
    <li class="active"> 
        <a href="#exswks" data-toggle="tab"><i class="icon-th-list"></i> Existing Worksets</a>
    </li>
    <li> 
        <a href="#newwks" data-toggle="tab"><i class="icon-plus-sign icon-white"></i> New Workset</a>
    </li>
</ul>
	
	<div class="tab-content">
 		<div class="tab-pane active" id="exswks">
 			<div class="tabbable tabs-left">
			    <ul class="nav nav-tabs">
			        <li class="active">
			            <a href="#allwks" data-toggle="tab">All Worksets</a>
			        </li>
			        <li>
			            <a href="#pubwks" data-toggle="tab">Public Worksets</a>
			        </li>
			        <li> 
			            <a href="#mywks" data-toggle="tab">My Worksets</a>
			        </li>
			    </ul>
			    <div class="tab-content">
			        <div class="tab-pane active well" id="allwks">
			            <h4>All Worksets</h4>
			            <p>This list shows all available Worksets for this Collection. It includes Public Worksets and My Worksets. Select a Workset to continue.</p>
						<select multiple="multiple" style="width: 99%;margin: 0;" >
						    <option>Public Workset 1 | 15/02/2013 | Random (incomplete)</option>
						    <option>Public Workset 2 | 15/02/2013 | Stratified</option>
						    <option>Public Workset 3 | 15/02/2013 | Random</option>
						    <option>Public Workset 4 | 13/02/2013 | Active Learning</option>
						    <option>Public Workset 5 | 12/02/2013 | Random</option>
						</select>
						<br><br>
						<p>
						    <a href="{% url webinterface.views.image_annotate %}" class="btn btn-primary imageframe" data-fancybox-group="wks1"  data-fancybox-type="iframe"><i class="icon-tag"></i> Annotate</a>&nbsp;
						    <a class="btn btn-primary" href="#"><i class="icon-sitemap"></i> Auto-classify</a>
						</p>
			        </div>
			        <div class="tab-pane well" id="pubwks">
			        	<h4>Public Worksets</h4>
			            <p>This list shows the Public Worksets for this Collection. Select a Workset to continue.</p>
						<select multiple="multiple" style="width: 99%;margin: 0;" >
						    <option>Public Workset 1 | 15/02/2013 | Random (incomplete)</option>
						    <option>Public Workset 2 | 15/02/2013 | Stratified</option>
						    <option>Public Workset 3 | 15/02/2013 | Random</option>
						    <option>Public Workset 4 | 13/02/2013 | Active Learning</option>
						    <option>Public Workset 5 | 12/02/2013 | Random</option>
						</select>
						<br><br>
						<p>
						    <a href="{% url webinterface.views.image_annotate %}" class="btn btn-primary imageframe" data-fancybox-group="wks2"  data-fancybox-type="iframe"><i class="icon-tag"></i> Annotate</a>&nbsp;
						    <a class="btn btn-primary" href="#"><i class="icon-sitemap"></i> Auto-classify</a>
						</p>
			        </div>
			        <div class="tab-pane well" id="mywks">
			        	<h4>My Worksets</h4>
			            <p>This list shows all Worksets for this Collection that have been created by you. Select a Workset to continue.</p>
						<select multiple="multiple"  style="width: 99%;margin: 0;" >
						    <option>Test Workset 1 | 17/02/2013 | Random (incomplete)</option>
						    <option>Test Workset 2 | 17/02/2013 | Stratified</option>
						    <option>Test Workset 3 | 16/02/2013 | Random</option>
						    <option>Test Workset 4 | 16/02/2013 | Active Learning</option>
						    <option>Test Workset 5 | 15/02/2013 | Random</option>
						</select> 
						<br><br>
						<p>
						    <a href="{% url webinterface.views.image_annotate %}" class="btn btn-primary imageframe" data-fancybox-group="wks3"  data-fancybox-type="iframe"><i class="icon-tag"></i> Annotate</a>&nbsp;
						    <a class="btn btn-primary" href="#"><i class="icon-sitemap"></i> Auto-classify</a>
						</p>
			        </div>
			    </div>
			</div>
		</div>

		<div class="tab-pane" id="newwks">
			<p>Use this section to create a new Workset. Select a sampling strategy:</p>
			<div class="tabbable tabs-left">
			    <ul class="nav nav-tabs">
			        <li class="active">
			            <a href="#rndq" data-toggle="tab">Random (sequential)</a>
			        </li>
			        <li> 
			            <a href="#rndp" data-toggle="tab">Random (spatial)</a>
			        </li>
			        <li> 
			            <a href="#strq" data-toggle="tab">Stratified (sequential)</a>
			        </li>
			        <li> 
			            <a href="#strp" data-toggle="tab">Stratified (spatial)</a>
			        </li>
			        <li> 
			            <a href="#alrn" data-toggle="tab">Active learning (auto)</a>
			        </li>
			    </ul>
			    <div class="tab-content">
			        <div class="tab-pane active well" id="rndq">
			            <h4>Random (sequential)</h4>
			            <p>Random sampling sequentially from transect. May not lead to even spatial distribution.</p>
			            <form class="form" style="margin:0; padding:0;">
			                <label>
			                    Name: <input type="text" class="flat"  placeholder="Descriptive name for workset"></label><br><label>
			                    Number of images in the workset:
			                    <input class="flat" type="number" min="1" step="1" value="50">
			                </label>
			                <button class="btn">Save Workset</button>
			            </form>
			        </div>
			        <div class="tab-pane well" id="rndp">
			            <h4>Random (spatial)</h4>
			            <p>Random spatially distributed sampling.</p>
			            <form class="form" style="margin:0; padding:0;">
			                <label>
			                    Name: <input type="text" class="flat"  placeholder="Descriptive name for workset"></label><br><label>
			                    Number of images in the workset:
			                    <input class="flat" type="number" min="1" step="1" value="50">
			                </label>
			            </form>
			            <button class="btn">Save Workset</button>
			        </div>
			        <div class="tab-pane well" id="strq">
			        	<h4>Stratified (sequential)</h4>
			            <p>Stratified sampling sequentially from transect.</p>
			            <form class="form" style="margin:0; padding:0;">
			                <label>
			                    Name: <input type="text" class="flat"  placeholder="Descriptive name for workset"></label><br><label>
			                    Spacing:
			                    <input class="flat" type="number" min="1"
			                    step="1" value="2"> m (2m spacing will give 500 images in the workset)
			                </label>
			            </form>
			            <button class="btn">Save Workset</button>
			        </div>
			        <div class="tab-pane well" id="strp">
			        	<h4>Stratified (spatial)</h4>
			            <p>Stratified spatial sampling from transect.</p>
			            <form class="form" style="margin:0; padding:0;">
			                <label>
			                    Name: <input type="text" class="flat"  placeholder="Descriptive name for workset"></label><br>
			                <label>
			                    Spacing: <input class="flat" type="number" min="1"
			                    step="1" value="2"> m (2m spacing will give 500 images in the workset)
			                </label>
			                
			            </form>
			            <button class="btn">Save Workset</button>
			        </div>
			        <div class="tab-pane well" id="alrn">
			        	<h4>Active learning (auto)</h4>
			            <p>Active learning: automagically figure out what to sample for training an automated classifier.</p>
			            <label>
			                    Name: <input type="text" class="flat"  placeholder="Descriptive name for workset"></label><br>
			            <button class="btn">Save Workset</button>
			        </div>
			    </div>
			</div>
		</div>
	</div>
-->
<!------------------------------------------
Template-specific javascript functions
------------------------------------------->
<script type="text/javascript">


    function setWorksetLists(id) {

        var apiurl = "/api/dev/collection/?parent="+id;

        $.getJSON(apiurl , function(ws){
            //alert ('L: ' + j.objects.length);
            var thisitem = '';
            for (var i = 0; i < ws.objects.length; i++) {
                //thisitem = '<input type="radio" name="WorksetGroup" id="WorksetGroup" value="' + ws.objects[i].id + '">' + ws.objects[i].name + '<br>';
                thisitem = '<option value="' + ws.objects[i].id + '">' + ws.objects[i].name + '</option>';
                $('#allWorksets').append(thisitem);
                if (ws.objects[i].is_public) {
                    $('#pubWorksets').append(thisitem);
                }
                else {
                    $('#myWorksets').append(thisitem);
                }
            }
        })

        // Set value of id for form
        $('#c_id').val(id);
        $("#btnSelectWorkset").attr('onClick','selectWorkset($("#allWorksets").val());');
    }

    function selectWorkset(id) {
        getNewImageList('collection='+id);
        //alert('Wokset has been selected. ID: '+id);
        set{{ clname }}Properties(id);
        $('#SelectWorksetModal').modal('hide');
        $('ul.nav-tabs > li > a[href="#thm"]').tab('show');
    }

    function openNewModalWindow() {
        $('#SelectWorksetModal').modal('hide');
        $('#NewWorksetModal').modal('show');
    }
</script>