<ul class="nav nav-pills">
    <li class="active"> 
        <a href="#exswks" data-toggle="tab"><i class="icon-th-list"></i> Existing Worksets</a>
    </li>
    <li> 
        <a href="#newwks" data-toggle="tab"><i class="icon-plus-sign icon-white"></i> New Workset</a>
    </li>
</ul>
	
	<div class="tab-content">
 		<div class="tab-pane active" id="exswks">
 			<div class="tabbable tabs-left">
			    <ul class="nav nav-tabs">
			        <li class="active">
			            <a href="#allwks" data-toggle="tab">All Worksets</a>
			        </li>
			        <li>
			            <a href="#pubwks" data-toggle="tab">Public Worksets</a>
			        </li>
			        <li> 
			            <a href="#mywks" data-toggle="tab">My Worksets</a>
			        </li>
			    </ul>
			    <div class="tab-content">
			        <div class="tab-pane active well" id="allwks">
			            <h4>All Worksets</h4>
			            <p>This list shows all available Worksets for this Collection. It includes Public Worksets and My Worksets. Select a Workset to continue.</p>
						<select multiple="multiple" style="width: 99%;margin: 0;" >
						    <option>Public Workset 1 | 15/02/2013 | Random (incomplete)</option>
						    <option>Public Workset 2 | 15/02/2013 | Stratified</option>
						    <option>Public Workset 3 | 15/02/2013 | Random</option>
						    <option>Public Workset 4 | 13/02/2013 | Active Learning</option>
						    <option>Public Workset 5 | 12/02/2013 | Random</option>
						</select>
						<br><br>
						<p>
						    <a href="/webinterface/imageannotate" class="btn btn-primary imageframe" data-fancybox-group="wks1"  data-fancybox-type="iframe"><i class="icon-tag"></i> Annotate</a>&nbsp;
						    <a class="btn btn-primary" href="#"><i class="icon-sitemap"></i> Auto-classify</a>
						</p>
			        </div>
			        <div class="tab-pane well" id="pubwks">
			        	<h4>Public Worksets</h4>
			            <p>This list shows the Public Worksets for this Collection. Select a Workset to continue.</p>
						<select multiple="multiple" style="width: 99%;margin: 0;" >
						    <option>Public Workset 1 | 15/02/2013 | Random (incomplete)</option>
						    <option>Public Workset 2 | 15/02/2013 | Stratified</option>
						    <option>Public Workset 3 | 15/02/2013 | Random</option>
						    <option>Public Workset 4 | 13/02/2013 | Active Learning</option>
						    <option>Public Workset 5 | 12/02/2013 | Random</option>
						</select>
						<br><br>
						<p>
						    <a href="/webinterface/imageannotate" class="btn btn-primary imageframe" data-fancybox-group="wks2"  data-fancybox-type="iframe"><i class="icon-tag"></i> Annotate</a>&nbsp;
						    <a class="btn btn-primary" href="#"><i class="icon-sitemap"></i> Auto-classify</a>
						</p>
			        </div>
			        <div class="tab-pane well" id="mywks">
			        	<h4>My Worksets</h4>
			            <p>This list shows all Worksets for this Collection that have been created by you. Select a Workset to continue.</p>
						<select multiple="multiple"  style="width: 99%;margin: 0;" >
						    <option>Test Workset 1 | 17/02/2013 | Random (incomplete)</option>
						    <option>Test Workset 2 | 17/02/2013 | Stratified</option>
						    <option>Test Workset 3 | 16/02/2013 | Random</option>
						    <option>Test Workset 4 | 16/02/2013 | Active Learning</option>
						    <option>Test Workset 5 | 15/02/2013 | Random</option>
						</select> 
						<br><br>
						<p>
						    <a href="/webinterface/imageannotate" class="btn btn-primary imageframe" data-fancybox-group="wks3"  data-fancybox-type="iframe"><i class="icon-tag"></i> Annotate</a>&nbsp;
						    <a class="btn btn-primary" href="#"><i class="icon-sitemap"></i> Auto-classify</a>
						</p>
			        </div>
			    </div>
			</div>
		</div>

		<div class="tab-pane" id="newwks">
			<p>Use this section to create a new Workset. Select a sampling strategy:</p>
			<div class="tabbable tabs-left">
			    <ul class="nav nav-tabs">
			        <li class="active">
			            <a href="#rndq" data-toggle="tab">Random (sequential)</a>
			        </li>
			        <li> 
			            <a href="#rndp" data-toggle="tab">Random (spatial)</a>
			        </li>
			        <li> 
			            <a href="#strq" data-toggle="tab">Stratified (sequential)</a>
			        </li>
			        <li> 
			            <a href="#strp" data-toggle="tab">Stratified (spatial)</a>
			        </li>
			        <li> 
			            <a href="#alrn" data-toggle="tab">Active learning (auto)</a>
			        </li>
			    </ul>
			    <div class="tab-content">
			        <div class="tab-pane active well" id="rndq">
			            <h4>Random (sequential)</h4>
			            <p>Random sampling sequentially from transect. May not lead to even spatial distribution.</p>
			            <form class="form" style="margin:0; padding:0;">
			                <label>
			                    Name: <input type="text" class="flat"  placeholder="Descriptive name for workset"></label><br><label>
			                    Number of images in the workset:
			                    <input class="flat" type="number" min="1" step="1" value="50">
			                </label>
			                <button class="btn">Save Workset</button>
			            </form>
			        </div>
			        <div class="tab-pane well" id="rndp">
			            <h4>Random (spatial)</h4>
			            <p>Random spatially distributed sampling.</p>
			            <form class="form" style="margin:0; padding:0;">
			                <label>
			                    Name: <input type="text" class="flat"  placeholder="Descriptive name for workset"></label><br><label>
			                    Number of images in the workset:
			                    <input class="flat" type="number" min="1" step="1" value="50">
			                </label>
			            </form>
			            <button class="btn">Save Workset</button>
			        </div>
			        <div class="tab-pane well" id="strq">
			        	<h4>Stratified (sequential)</h4>
			            <p>Stratified sampling sequentially from transect.</p>
			            <form class="form" style="margin:0; padding:0;">
			                <label>
			                    Name: <input type="text" class="flat"  placeholder="Descriptive name for workset"></label><br><label>
			                    Spacing:
			                    <input class="flat" type="number" min="1"
			                    step="1" value="2"> m (2m spacing will give 500 images in the workset)
			                </label>
			            </form>
			            <button class="btn">Save Workset</button>
			        </div>
			        <div class="tab-pane well" id="strp">
			        	<h4>Stratified (spatial)</h4>
			            <p>Stratified spatial sampling from transect.</p>
			            <form class="form" style="margin:0; padding:0;">
			                <label>
			                    Name: <input type="text" class="flat"  placeholder="Descriptive name for workset"></label><br>
			                <label>
			                    Spacing: <input class="flat" type="number" min="1"
			                    step="1" value="2"> m (2m spacing will give 500 images in the workset)
			                </label>
			                
			            </form>
			            <button class="btn">Save Workset</button>
			        </div>
			        <div class="tab-pane well" id="alrn">
			        	<h4>Active learning (auto)</h4>
			            <p>Active learning: automagically figure out what to sample for training an automated classifier.</p>
			            <label>
			                    Name: <input type="text" class="flat"  placeholder="Descriptive name for workset"></label><br>
			            <button class="btn">Save Workset</button>
			        </div>
			    </div>
			</div>
		</div>
	</div>