{% extends "base_data.html" %}

{% block leadtitle %}{{auvdeploymentObject.short_name}}{% endblock %}

{% block breadcrumbs %}
  <li><a href="/main/campaigns/">Campaign List</a> <span class="divider">></span></li>
  <li><a href="/main/campaigns/{{auvdeploymentObject.campaign.id}}">{{auvdeploymentObject.campaign.short_name}}</a> <span class="divider">></span></li>
  <li class="active">{{auvdeploymentObject.short_name}}</li>
{% endblock %}

{% block content %}

{% if auvdeploymentObject %}
<table class="table table-striped">
  <thead>
    <tr>
      <th>Start Time</th>
      <th>End Time</th>
      <th>Min Depth</th>
      <th>Max Depth</th>
      <th>Mission Aim</th>
      <th>Transect Shape</th>
      <th>Distance Covered</th>
    </tr>
  </thead>
  <tbody>

        <tr>
          <td>{{auvdeploymentObject.start_time_stamp}}</td>
          <td>{{auvdeploymentObject.end_time_stamp}}</td>
          <td>{{auvdeploymentObject.min_depth}}</td>
          <td>{{auvdeploymentObject.max_depth}}</td>
          <td>{{auvdeploymentObject.mission_aim}}</td>
          <td>{{auvdeploymentObject.transect_shape}}</td>
          <td>{{auvdeploymentObject.distance_covered}}</td>
        <tr>

  </tbody>
</table>
{% else %}
    <p>No auvdeployments are available.</p>
{% endif %}

 <div class="accordion" id="accordion1">
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseOne">
        GeoJSON Data
      </a>
    </div>
    <div id="collapseOne" class="accordion-body collapse out">
      <div class="accordion-inner">
        {{deployment_as_geojson}}
      </div>
    </div>
  </div>
</div>


 <h3>AUV Deployment Data</h3>
 <p>TBA</p>
{% endblock %}




    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src='{{ STATIC_URL }}/static/assets/js/jquery-1.8.0.min.js'></script>
    <script src='{{ STATIC_URL }}/static/assets/js/bootstrap.js'></script>
    <script src="{{ STATIC_URL }}/static/assets/js/jquery.tools.min.js"></script>
    <script src="{{ STATIC_URL }}/static/assets/js/jquery-ui-1.8.23.custom.min.js"></script>
    
    <!-- popover js -->
    <script type="text/javascript">
        (function() {
            $("[rel=popover]").popover();
        })();
     </script>

</body>
</html>
