<div id="filecontainer">
    <a id="parentlink" href="#">Parent</a>
    <table class="table table-condensed">
    <thead><tr><th>Name</th><th>Actions</th></tr></thead>
    <tbody id="filecontainerbody">
    </tbody>
    <tfoot><tr><td id="filecontainerinfo"></td></tr></tfoot>
    </table>
</div>


<script type="text/javascript">
function getFolderContents(folder_id) {
    var apiurl = '/api/dev/stagingfiles/?folder='+folder_id;
    $("#filecontainerbody").html('');
    //location.hash = folder_id;
    appendFolderContents(apiurl);
    $.getJSON('/api/dev/stagingfiles/'+folder_id, function(file){
        $("#parentlink").attr("onclick", "getFolderContents('"+file.parent+"');");
    });
}
function appendFolderContents(apiurl) {
    $.getJSON(apiurl , function(files){
        var body_text = '';
        // add a row in the table for every file/folder in current directory
        for (var i = 0; i < files.objects.length; i++) {
            if (files.objects[i].is_dir)
            {
                // show the name of the subfolder
                body_text += '<tr><td><a onclick="getFolderContents(\'' + files.objects[i].pk + '\');" >' + files.objects[i].name + '</a></td>';
                // and any actions that can be performed
                body_text += '<td>';
                for (var prop in files.objects[i].actions)
                {
                    body_text += "<a href='"+files.objects[i].actions[prop]+"'>"+prop+"</a>";
                }
                body_text += '</td></tr>';
            }
            else
            {
                // it is a file... so no contents browsing
                body_text += '<tr><td>' + files.objects[i].name + '</td><td></td></tr>';
            }
        }
        $("#filecontainerbody").append(body_text);
        $("#btnnext").attr("onclick","appendFolderContents('"+files.meta.next+"');");
        $("#filecontainerinfo").html('Viewing 1 to '+ Math.min(files.meta.offset+files.meta.limit, files.meta.total_count)+' of '+files.meta.total_count);
    })
}
</script>
