{% extends "base-topmenu.html" %}
{% block title %}Catami Project - Staging {% endblock %}

{% block content %}
<div class="page-header">
    <h1>Staging</h1>
</div>
<ul>
    <li><a href="{% url staging.views.campaigncreate %}">Create Campaign</a></li>
    <li><a href="{% url staging.views.auvimport %}">AUV Deployment Import</a></li>
    <li><a href="{% url staging.views.auvmanualimport %}">AUV Deployment Import (Manual)</a></li>
    <li><a href="{% url staging.views.auvlocalimport %}">AUV Deployment Import (Local)</a></li>
    <li><a href="{% url staging.views.fileupload %}">JSON (pre-processed) File Upload</a></li>
    <li><a href="{% url staging.views.metadatastage %}">Metadata File Staging</a></li>
    <li><a href="{% url staging.views.metadatalist %}">Metadata Files</a></li>
    <li><a href="{% url staging.views.annotationcpcimport %}">CPC Annotations</a></li>
    <li><a href="{% url staging.views.newbrowse %}">New Local Browse</a></li>
</ul>
{% endblock %}
