{% extends "staging/base.html" %}
{% block title %}Catami Project - Metadata File Upload{% endblock %}

{% block content %}
<div class="page-header">
<h1>Metadata File Upload</h1>
</div>
<p class="lead span9">
This is designed to import Excel files (either xls or xlsx).
To properly import the data the expected format is a single row for column 
headings with each following row representing a single deployment.

<a href="{{ STATIC_URL }}templates/genericdeployment.xlsx">This</a> template 
can be used as a base, add extra columns as necessary.
</p>
<div class="span4">
    <form enctype="multipart/form-data" class="well" action="" method="post">{% csrf_token %}
    {% if form.errors %}
    <div class="alert alert-error">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong> Error!</strong> {{ form.errors }}
    </div>
    {% endif %}
{% for field in form %}
            <div class="control-group">
                {{ field.label_tag }}
                {{ field }}
                <span class="help-block">{{ field.help_text }}</span>
            </div>
{% endfor %}
            <input class="btn" type="submit" value="Import" />
        </form>
    </div>

    <div id="upload_panel"></div>
</div>

{{ extra_text }}

{% endblock %}
