{% extends "base.html" %}

{% block sidebar %}
  <div id="sidebar-nav" class="span3" style="padding-left:10px;">

    <h1>Campaign</h1>  
    <div class="well well-small" style="align:center;">

      <p class="lead">{{campaign_object.short_name}}</p>
      <p>options</p>
    </div><!--/.well -->

  </div>
{% endblock %}
     
{% block content_header %}
  <ul class="breadcrumb">
  <li><a href="/data/campaigns/">Campaign List</a> <span class="divider">></span></li>
  <li class="active">{{campaign_object.short_name}}</li>
  </ul>
{% endblock %}



{% block content %}
  {% if campaign_object %}
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Researchers</th>
        <th>Publications</th>
        <th>Grant</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
          <tr>
            <td>{{campaign_object.date_start}}</td>
            <td>{{campaign_object.date_end}}</td>
            <td>{{campaign_object.associated_researchers}}</td>
            <td>{{campaign_object.associated_publications}}</td>
            <td>{{campaign_object.associated_research_grant}}</td>
            <td>{{campaign_object.description}}</td>
          <tr>
    </tbody>
  </table>
  {% else %}
      <p>This campaign seems to be broken or missing...</p>
  {% endif %}

   <div class="accordion" id="accordion1">
    <div class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseOne">
          GeoJSON Data
        </a>
      </div>
      <div id="collapseOne" class="accordion-body collapse out">
        <div class="accordion-inner">
          {{campaign_as_geojson}}
        </div>
      </div>
    </div>
  </div>

  <h3>Campaign Deployments</h3>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Start Time</th>
        <th>End Time</th>
        <th>Min Depth</th>
        <th>Max Depth</th>
        <th>Mission Aim</th>
        <th>Transect Shape</th>
        <th>Distance Covered</th>
      </tr>
    </thead>
    <tbody>

        {% for auvdeployment in auvdeployment_list_for_campaign %}
          <tr>
            <td>{{auvdeployment.start_time_stamp}}</td>
            <td>{{auvdeployment.end_time_stamp}}</td>
            <td>{{auvdeployment.min_depth}}</td>
            <td>{{auvdeployment.max_depth}}</td>
            <td>{{auvdeployment.mission_aim}}</td>
            <td>{{auvdeployment.transect_shape}}</td>
            <td>{{auvdeployment.distance_covered}}</td>
            <td><a href="/data/auvdeployments/{{auvdeployment.id}}" class="btn btn-large btn-primary">Detail</a> 

          <tr>

        {% endfor %}
    </tbody>
  </table>
{% endblock %}
