{% extends "base.html" %}


{% block sidebar %}
  <div id="sidebar-nav" class="span3" style="padding-left:10px;">

    <h1>Campaign</h1>  
    <div class="well well-small" style="align:center;">

      <p class="lead">List</p>
      <p>options</p>
    </div><!--/.well -->
  </div>
{% endblock %}

{% block content_header %}
  <ul class="breadcrumb">  
    <li class="active">Campaign List</li>
  </ul>
{% endblock %}
	
{% block content %}

  {% if latest_campaign_list %}
    <table class="table">
      <thead>
        <tr>
          <th>Start Date</th>
          <th>End Date</th>
          <th>Deployments</th>
          <th>Researchers</th>
          <th>Publications</th>
          <th>Grant</th>
          <th>Description</th>
          <th></th>
        </tr>
      </thead>
      <tbody>

          {% for campaign in latest_campaign_list %}
            <tr>
             <td colspan=8><p class="lead">{{campaign.short_name}}<p></td>
            </tr>

            <tr>
              <td>{{campaign.date_start}}</td>
              <td>{{campaign.date_end}}</td>
              <td>0</td>
              <td>{{campaign.associated_researchers}}</td>
              <td>{{campaign.associated_publications}}</td>
              <td>{{campaign.associated_research_grant}}</td>
              <td>{{campaign.description}}</td>
              <td><a href="{{campaign.id}}" class="btn btn-large btn-primary">Detail</a></td>
            <tr>

          {% endfor %}
      </tbody>
    </table>
  {% else %}
      <p>No campaigns are available.</p>
  {% endif %}
{% endblock %}
