{% extends "base.html" %}

{% block sidebar %}
  <div id="sidebar-nav" class="span3" style="padding-left:10px;">

    <h1>Data @ Catami</h1>  
    <div class="well well-small" style="align:center;">

      <p class="lead">Data</p>
      <p>options</p>
    </div><!--/.well -->
  </div>
{% endblock %}
	
{% block content %}

<table class="table">

  <tr><td><a href="/data/campaigns/" class="btn btn-large"> Campaigns</a></td><td><p class="lead">Campaigns are a place where you can group data together from various instruments/datasets</p>
  </td></tr>
  <tr><td><a href="/data/deployments/" class="btn btn-large"> Deployments</a></td><td><p class="lead">Deployments are datasets collected from an instrument</p></td></tr>

</table>

{% endblock %}

