{% extends "base.html" %}

{% block leadtitle %}Data @ Catami{% endblock %}

	
{% block content %}

<table class="table">

  <tr><td><a href="/data/campaigns/" class="btn btn-large"> Campaigns</a></td><td><p class="lead">Campaigns are a place where you can group data together from various instruments/datasets</p>
  </td></tr>
  <tr><td><a href="/data/auvdeployments/" class="btn btn-large"> Deployments</a></td><td><p class="lead">Deployments are datasets collected from an instrument</p></td></tr>

</table>

{% endblock %}

